<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<plugin
   id="org.jetel.ctlfunction"
   version="2.5.2"
   provider-name="Javlin a.s.">

	<runtime>
		<library path="cloveretl.ctlfunction.jar"/>
   	</runtime> 

	<extension point-id="ctlfunction">
		<parameter id="libraryName" value="math"/>
		<parameter id="className" value="org.jetel.ctl.extensions.MathLib"/>
	</extension>

	<extension point-id="ctlfunction">
		<parameter id="libraryName" value="date"/>
		<parameter id="className" value="org.jetel.ctl.extensions.DateLib"/>
	</extension>

	<extension point-id="ctlfunction">
		<parameter id="libraryName" value="string"/>
		<parameter id="className" value="org.jetel.ctl.extensions.StringLib"/>
	</extension>
	
	<extension point-id="ctlfunction">
		<parameter id="libraryName" value="convert"/>
		<parameter id="className" value="org.jetel.ctl.extensions.ConvertLib"/>
	</extension>
	
	<extension point-id="ctlfunction">
		<parameter id="libraryName" value="container"/>
		<parameter id="className" value="org.jetel.ctl.extensions.ContainerLib"/>
	</extension>
	
</plugin>
