build/
test/classes/
work/src/OJB-logging.properties
work/src/OJB-repository.xml
work/src/OJB.properties
work/src/configuration.properties
work/src/spy.properties
work/web-root/
work/db/kfs-db/db-impex/impex/export.cfg
work/db/kfs-db/db-impex/impex/import.cfg
work/db/kfs-db/db-impex/impex/velocity.log
work/db/kfs-db/db-impex/impex/workspace.prm
work/workflow/001_kfs/completed/
work/workflow/002_kfs_core_parent_docs/completed/
work/workflow/003_kfs_core_module_docs/completed/
work/workflow/010_accounts_receivable/completed/
work/workflow/020_budget_construction/completed/
work/workflow/030_capital_asset/completed/
work/workflow/040_contracts_and_grants/completed/
work/workflow/050_effort_committment/completed/
work/workflow/060_labor_distribution/completed/
work/workflow/070_purchasing_accounts_payable/completed/
work/workflow/080_kuali_coeus/completed/
work/workflow/100_endowment/completed/
work/workflow/110_kc_integration/completed/
work/workflow/120_travel_and_entertainment/completed/
work/db/kfs-db/rice/data/