# ignore eclipse
.classpath
.project
.settings/
# ignore intellij
.metadata
.idea
*.iml
# ignore netbeans
nbproject/private/
bbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
# ignore sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
# ignore textmate
*.tmproj
*.tmproject
tmtags
target/
/src/main/webapp/plugins
/src/main/webapp/core
/src/main/webapp/kcb
/src/main/webapp/ken
/src/main/webapp/kew
/src/main/webapp/kim
/src/main/webapp/kr
/src/main/webapp/krad
/src/main/webapp/krms
/src/main/webapp/ksb
/src/main/webapp/static/images
/src/main/webapp/static/help
/src/main/webapp/themes
/src/main/webapp/rice-portal
/src/main/webapp/META-INF/context.xml
/src/main/webapp/WEB-INF/Catalina/
/src/main/webapp/WEB-INF/catalina.policy
/src/main/webapp/WEB-INF/catalina.properties
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/context.xml
/src/main/webapp/WEB-INF/dwr-kew.xml
/src/main/webapp/WEB-INF/dwr-kns.xml
/src/main/webapp/WEB-INF/jsp/dummy_login.jsp
/src/main/webapp/WEB-INF/jsp/moduleLocked.jsp
/src/main/webapp/WEB-INF/jsp/recurseCheckTabHighlight.jsp
/src/main/webapp/WEB-INF/jsp/recurseRowDisplay.jsp
/src/main/webapp/WEB-INF/jsp/recurseTreeNode.jsp
/src/main/webapp/WEB-INF/krad-servlet.xml
/src/main/webapp/WEB-INF/lib
/src/main/webapp/WEB-INF/log4j.properties
/src/main/webapp/WEB-INF/logging.properties
/src/main/webapp/WEB-INF/rice-config.xml
/src/main/webapp/WEB-INF/rice.keystore
/src/main/webapp/WEB-INF/server.xml
/src/main/webapp/WEB-INF/tags/kew
/src/main/webapp/WEB-INF/tags/kim
/src/main/webapp/WEB-INF/tags/kr
/src/main/webapp/WEB-INF/tags/krad
/src/main/webapp/WEB-INF/tld
/src/main/webapp/WEB-INF/tomcat-users.xml
/src/main/webapp/WEB-INF/validator-rules.xml
