.classpath
target/
.metadata
.idea
*.iml
/build/rice-sources
/build/drivers/*.jar
/build/external/appserver/*.jar
/build/external/appserver/*.war
/build/kfs-lib/*.jar
/build/project/*.jar
/build/rice-lib/*.jar
/build/temp
/build/tomcat
/test/classes
/temp
/work/db/kfs-db/db-impex/impex/build/
/work/db/kfs-db/db-impex/impex/*.cfg
/work/db/kfs-db/db-impex/impex/velocity.log
/work/db/kfs-db/db-impex/impex/workspace.prm
/work/src/OJB-logging.properties
/work/src/OJB-repository.xml
/work/src/OJB.properties
/work/src/configuration.properties
/work/src/spy.properties
/src/main/webapp/plugins
/src/main/webapp/static
/src/main/webapp/themes
/src/main/webapp/rice-portal
/src/main/webapp/META-INF/context.xml
/src/main/webapp/WEB-INF/Catalina/
/src/main/webapp/WEB-INF/catalina.policy
/src/main/webapp/WEB-INF/catalina.properties
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/context.xml
/src/main/webapp/WEB-INF/lib
/src/main/webapp/WEB-INF/log4j.properties
/src/main/webapp/WEB-INF/logging.properties
/src/main/webapp/WEB-INF/rice.keystore
/src/main/webapp/WEB-INF/server.xml
/src/main/webapp/WEB-INF/tld
/src/main/webapp/WEB-INF/tomcat-users.xml
/src/main/webapp/WEB-INF/validator-rules.xml
/overlays
