<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="pdpModuleConfiguration" parent="pdpModuleConfiguration-parentBean" />

    <bean id="pdpModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-PDP"/>
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.pdp</value>
                <value>org.kuali.kfs.integration.businessobject.pdp</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/pdp/businessobject/datadictionary</value>
                <value>org/kuali/kfs/pdp/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/pdp/ojb-pdp.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>pdpLoadFederalReserveBankDataJob</value>
				<value>pdpExtractGlTransactionsStepJob</value>
				<value>pdpExtractAchPaymentsJob</value>
				<value>pdpExtractCanceledChecksJob</value>
				<value>pdpExtractChecksJob</value>
				<value>pdpDailyReportJob</value>
				<value>pdpLoadPaymentsJob</value>
				<value>pdpNightlyLoadPaymentsJob</value>
			</list>
		</property>
		<property name="triggerNames">
			<list>
				<value>pdpLoadPaymentsJobTrigger</value>
				<value>pdpExtractAchPaymentsJobTrigger</value>
				<value>pdpExtractCanceledChecksJobTrigger</value>
			</list>
		</property>
	</bean>

    <bean id="pdpModuleService" parent="pdpModuleService-parentBean"/>

    <bean id="pdpModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="pdpModuleConfiguration" />
	</bean>

	<bean id="pdpPayeeTypeDao" class="org.kuali.kfs.pdp.dataaccess.impl.PayeeTypeDaoMap">
    	<property name="payees">
    		<map>
    			<entry key="P"><value>Payee ID</value></entry>
    			<entry key="S"><value>SSN</value></entry>
    			<entry key="E"><value>Employee ID</value></entry>
    			<entry key="F"><value>FEIN</value></entry>
    			<entry key="V"><value>Vendor ID</value></entry>
    			<entry key="X"><value>Other</value></entry>
    		</map>
		</property>
	</bean>	

	<bean id="pdpAchAccountNumberDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.AchAccountNumberDaoOjb"/>

	<bean id="pdpBankDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.BankDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpBatchMaintenanceDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.BatchMaintenanceDaoOjb">
		<property name="referenceService" ref="pdpReferenceService" />
	</bean>

	<bean id="pdpBatchSearchDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.BatchSearchDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpCustomerProfileDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.CustomerProfileDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpDisbursementNumberRangeDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.DisbursementNumberRangeDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpFormatPaymentDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.FormatPaymentDaoOjb">
		<property name="referenceService" ref="pdpReferenceService" />
		<property name="kualiCodeService" ref="kualiCodeService"/>
	</bean>

	<bean id="pdpFormatProcessDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.FormatProcessDaoOjb"/>

	<bean id="pdpGlPendingTransactionDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PendingTransactionDaoOjb"/>

	<bean id="pdpPaymentDetailDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PaymentDetailDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
		<property name="referenceService" ref="pdpReferenceService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="parameterService" ref="parameterService" />
	</bean>

	<bean id="pdpPaymentDetailSearchDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PaymentDetailSearchDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpPaymentFileLoadDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PaymentFileLoadDaoOjb"/>

	<bean id="pdpPaymentGroupDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PaymentGroupDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpPaymentGroupHistoryDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.PaymentGroupHistoryDaoOjb"/>

	<bean id="pdpProcessDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.ProcessDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpProcessSummaryDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.ProcessSummaryDaoOjb"/>

	<bean id="pdpReferenceDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.ReferenceDaoOjb">
		<property name="universalUserService" ref="universalUserService" />
	</bean>

	<bean id="pdpAchBankDao" parent="platformAwareDao" class="org.kuali.kfs.pdp.dataaccess.impl.AchBankDaoOjb"/>

	<bean id="pdpLoadPaymentsJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpLoadPaymentsStep" />
			</list>
		</property>
	</bean>
	
	<bean id="pdpLoadPaymentsJobTrigger" parent="cronTrigger">
		<property name="jobName" value="pdpLoadPaymentsJob" />
		<property name="cronExpression" value="00 00 05,11,15 ? * *" />
	</bean>

	<bean id="pdpNightlyLoadPaymentsJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpLoadPaymentsStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="disbursementVoucherPreDisbursementProcessorExtractJob" value="softDependency"/>
				<entry key="purchasingPreDisbursementExtractJob" value="softDependency"/>
			</map>
		</property>
	</bean>
	
	<bean id="pdpDailyReportJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpDailyReportStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="pdpNightlyLoadPaymentsJob" value="softDependency"/>
			</map>
		</property>
	</bean>

	<bean id="pdpLoadFederalReserveBankDataJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpLoadFederalReserveBankDataStep" />
			</list>
		</property>
	</bean>

	<bean id="pdpExtractGlTransactionsStepJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpExtractGlTransactionsStep" />
			</list>
		</property>
	</bean>

	<bean id="pdpExtractAchPaymentsJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpExtractAchPaymentsStep" />
			</list>
		</property>
	</bean>

	<bean id="pdpExtractAchPaymentsJobTrigger" parent="cronTrigger">
		<property name="jobName" value="pdpExtractAchPaymentsJob" />
		<property name="cronExpression" value="00 30 14 ? * *" />
	</bean>

	<bean id="pdpExtractCanceledChecksJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpExtractCanceledChecksStep" />
			</list>
		</property>
	</bean>

	<bean id="pdpExtractCanceledChecksJobTrigger" parent="cronTrigger">
		<property name="jobName" value="pdpExtractCanceledChecksJob" />
		<property name="cronExpression" value="00 00 16 ? * *" />
	</bean>

	<bean id="pdpExtractChecksJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="pdpExtractChecksStep" />
			</list>
		</property>
	</bean>

	<bean id="pdpLoadPaymentsStep" class="org.kuali.kfs.pdp.batch.LoadPaymentsStep" parent="step">
		<property name="paymentFileService" ref="pdpPaymentFileService"/>
	</bean>

	<bean id="pdpDailyReportStep" class="org.kuali.kfs.pdp.batch.DailyReportStep" parent="step">
		<property name="dailyReportService" ref="pdpDailyReportService"/>
	</bean>

	<bean id="pdpLoadFederalReserveBankDataStep" class="org.kuali.kfs.pdp.batch.LoadFederalReserveBankDataStep" parent="step">
		<property name="achBankService" ref="pdpAchBankService"/>
		<property name="directoryName" value="${staging.directory}/PDP/"/>
	</bean>

	<bean id="pdpExtractGlTransactionsStep" class="org.kuali.kfs.pdp.batch.ExtractGlTransactionsStep" parent="step">
		<property name="extractGlTransactionService" ref="pdpExtractGlTransactionService" />
	</bean>

	<bean id="pdpExtractAchPaymentsStep" class="org.kuali.kfs.pdp.batch.ExtractAchPaymentsStep" parent="step">
		<property name="extractPaymentService" ref="pdpExtractPaymentService" />
	</bean>

	<bean id="pdpExtractCanceledChecksStep" class="org.kuali.kfs.pdp.batch.ExtractCanceledChecksStep" parent="step">
		<property name="extractPaymentService" ref="pdpExtractPaymentService" />
	</bean>

	<bean id="pdpExtractChecksStep" class="org.kuali.kfs.pdp.batch.ExtractChecksStep" parent="step">
		<property name="extractPaymentService" ref="pdpExtractPaymentService" />
	</bean>

	<bean id="pdpDailyReportService" class="org.kuali.kfs.pdp.batch.service.impl.DailyReportServiceImpl">
		<property name="directoryName" value="${reports.directory}/"/>
		<property name="dateTimeService" ref="dateTimeService"/>
		<property name="paymentDetailDao" ref="pdpPaymentDetailDao"/>
	</bean>

	<bean id="pdpExtractPaymentService" class="org.kuali.kfs.pdp.batch.service.impl.ExtractPaymentServiceImpl">
		<property name="parameterService" ref="parameterService"/>
		<property name="directoryName" value="${staging.directory}/PDP/"/>
		<property name="paymentGroupService" ref="pdpPaymentGroupService"/>
		<property name="paymentDetailService" ref="pdpPaymentDetailService"/>
		<property name="processDao" ref="pdpProcessDao"/>
		<property name="dateTimeService" ref="dateTimeService"/>
		<property name="referenceService" ref="pdpReferenceService"/>
		<property name="kualiCodeService" ref="kualiCodeService"/>
		<property name="paymentGroupHistoryDao" ref="pdpPaymentGroupHistoryDao"/>
	</bean>

	<bean id="pdpExtractGlTransactionService" class="org.kuali.kfs.pdp.batch.service.impl.ExtractTransactionsServiceImpl">
		<property name="glPendingTransactionService" ref="pdpGlPendingTransactionService" />
		<property name="originEntryGroupService" ref="originEntryGroupService" />
		<property name="originEntryService" ref="originEntryService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="reportsDirectory" value="${reports.directory}/"/>
	</bean>

	<bean id="pdpAchBankService" class="org.kuali.kfs.pdp.service.impl.AchBankServiceImpl">
		<property name="achBankDao" ref="pdpAchBankDao"/>
	</bean>

	<bean id="pdpAchService" class="org.kuali.kfs.pdp.service.impl.AchServiceImpl">
		<property name="businessObjectService" ref="businessObjectService"/>
	</bean>

	<bean id="pdpBankService" class="org.kuali.kfs.pdp.service.impl.BankServiceImpl">
		<property name="bankDao" ref="pdpBankDao"/>
	</bean>

	<bean id="pdpBatchMaintenanceService" class="org.kuali.kfs.pdp.document.service.impl.BatchMaintenanceServiceImpl">
		<property name="batchMaintenanceDao" ref="pdpBatchMaintenanceDao"/>
		<property name="paymentGroupDao" ref="pdpPaymentGroupDao"/>
		<property name="paymentGroupHistoryDao" ref="pdpPaymentGroupHistoryDao"/>
		<property name="referenceService" ref="pdpReferenceService"/>
		<property name="kualiCodeService" ref="kualiCodeService"/>
	</bean>

	<bean id="pdpBatchSearchService" class="org.kuali.kfs.pdp.service.impl.BatchSearchServiceImpl">
		<property name="parameterService" ref="parameterService" />
		<property name="batchSearchDao" ref="pdpBatchSearchDao" />
	</bean>

	<bean id="pdpCustomerProfileService" class="org.kuali.kfs.pdp.service.impl.CustomerProfileServiceImpl">
		<property name="customerProfileDao" ref="pdpCustomerProfileDao"/>
	</bean>

	<bean id="pdpDisbursementNumberRangeService" class="org.kuali.kfs.pdp.service.impl.DisbursementNumberRangeServiceImpl">
		<property name="disbursementNumberRangeDao" ref="pdpDisbursementNumberRangeDao"/>
	</bean>

	<bean id="pdpEnvironmentService" class="org.kuali.kfs.pdp.service.impl.EnvironmentServiceImpl">
		<property name="kualiConfigurationService" ref="kualiConfigurationService" />
	</bean>

	<bean id="pdpFormatService" class="org.kuali.kfs.pdp.service.impl.FormatServiceImpl">
		<property name="customerProfileDao" ref="pdpCustomerProfileDao"/>
		<property name="disbursementNumberRangeDao" ref="pdpDisbursementNumberRangeDao"/>
		<property name="formatProcessDao" ref="pdpFormatProcessDao"/>
		<property name="paymentDetailDao" ref="pdpPaymentDetailDao"/>
		<property name="paymentGroupDao" ref="pdpPaymentGroupDao"/>
		<property name="processSummaryDao" ref="pdpProcessSummaryDao"/>
		<property name="processDao" ref="pdpProcessDao"/>
		<property name="achService" ref="pdpAchService"/>
		<property name="referenceService" ref="pdpReferenceService"/>
		<property name="glPendingTransactionService" ref="pdpGlPendingTransactionService"/>
		<property name="parameterService" ref="parameterService" />
		<property name="formatPaymentDao" ref="pdpFormatPaymentDao"/>
		<property name="schedulerService" ref="schedulerService"/>
		<property name="businessObjectService" ref="businessObjectService"/>
		<property name="kualiCodeService" ref="kualiCodeService"/>
	</bean>

	<bean id="pdpGlPendingTransactionService" class="org.kuali.kfs.pdp.service.impl.PendingTransactionServiceImpl">
		<property name="glPendingTransactionDao" ref="pdpGlPendingTransactionDao"/>
		<property name="chartService" ref="chartService"/>
		<property name="accountingPeriodService" ref="accountingPeriodService"/>
	</bean>

	<bean id="pdpPaymentDetailSearchService" class="org.kuali.kfs.pdp.service.impl.PaymentDetailSearchServiceImpl">
		<property name="parameterService" ref="parameterService" />
		<property name="paymentDetailSearchDao" ref="pdpPaymentDetailSearchDao"/>
	</bean>

	<bean id="pdpPaymentDetailService" class="org.kuali.kfs.pdp.service.impl.PaymentDetailServiceImpl">
		<property name="paymentDetailDao" ref="pdpPaymentDetailDao"/>
	</bean>

	<bean id="pdpPaymentFileService" class="org.kuali.kfs.pdp.service.impl.PaymentFileServiceImpl">
		<property name="mailService" ref="mailService"/>
		<property name="parameterService" ref="parameterService" />
		<property name="environmentService" ref="pdpEnvironmentService"/>
		<property name="customerProfileService" ref="pdpCustomerProfileService"/>
		<property name="paymentFileLoadDao" ref="pdpPaymentFileLoadDao"/>
		<property name="universalUserService" ref="universalUserService"/>
		<property name="incomingDirectoryName" value="${staging.directory}/PDP/incoming"/>
		<property name="outgoingDirectoryName" value="${staging.directory}/PDP/outgoing"/>
	</bean>

	<bean id="pdpPaymentGroupService" class="org.kuali.kfs.pdp.service.impl.PaymentGroupServiceImpl">
		<property name="paymentGroupDao" ref="pdpPaymentGroupDao"/>
	</bean>

	<bean id="pdpPaymentMaintenanceService" class="org.kuali.kfs.pdp.document.service.impl.PaymentMaintenanceServiceImpl">
		<property name="paymentGroupDao" ref="pdpPaymentGroupDao"/>
		<property name="paymentDetailDao" ref="pdpPaymentDetailDao"/>
		<property name="achAccountNumberDao" ref="pdpAchAccountNumberDao"/>
		<property name="paymentGroupHistoryDao" ref="pdpPaymentGroupHistoryDao"/>
		<property name="referenceService" ref="pdpReferenceService"/>
		<property name="glPendingTransactionService" ref="pdpGlPendingTransactionService"/>
		<property name="environmentService" ref="pdpEnvironmentService"/>
		<property name="mailService" ref="mailService"/>
		<property name="parameterService" ref="parameterService"/>
		<property name="kualiCodeService" ref="kualiCodeService"/>
	</bean>

	<bean id="pdpPdpSecurityService" class="org.kuali.kfs.pdp.service.impl.PdpSecurityServiceImpl">
		<property name="kualiGroupService" ref="kualiGroupService"/>
		<property name="kualiConfigurationService" ref="kualiConfigurationService" />
	</bean>

	<bean id="pdpReferenceService" class="org.kuali.kfs.pdp.service.impl.ReferenceServiceImpl">
		<property name="referenceDao" ref="pdpReferenceDao" />
	</bean>

	<bean id="pdpPaymentFileParser" class="org.kuali.kfs.pdp.service.impl.paymentparser.PaymentFileParserImpl" singleton="false">
		<property name="kualiConfigurationService" ref="kualiConfigurationService"/>
	</bean>
	
	<bean id="pdpPayeeAchAccountLookupableHelperService" class="org.kuali.kfs.pdp.businessobject.lookup.PayeeAchAccountLookupableHelperService" parent="lookupableHelperService" singleton="false">
	</bean>
	
	<bean id="pdpPayeeAchAccountLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
	    <property name="lookupableHelperService">
	        <ref bean="pdpPayeeAchAccountLookupableHelperService" />
	    </property>
	</bean>
	
	<bean id="processPdpCancelPaidService" class="org.kuali.kfs.pdp.batch.service.impl.ProcessPdpCancelPaidServiceImpl">
		<property name="paymentGroupService">
			<ref bean="pdpPaymentGroupService"/>
		</property>
		<property name="paymentDetailService">
			<ref bean="pdpPaymentDetailService"/>
		</property>
		<property name="purchasingAccountsPayableModuleService">
			<ref bean="purchasingAccountsPayableModuleService"/>
		</property>
		<property name="parameterService">
			<ref bean="parameterService"/>
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService"/>
		</property>
		<property name="dvExtractService">
			<ref bean="disbursementVoucherExtractService" />
		</property>
	</bean>

	<bean id="processPdpCancelsAndPaidStep" class="org.kuali.kfs.pdp.batch.ProcessPdPCancelsAndPaidStep" parent="step">
		<property name="processPdpCancelPaidService">
			<ref bean="processPdpCancelPaidService"/>
		</property>
	</bean>

	<bean id="processPdpCancelsAndPaidJob" parent="scheduledJobDescriptor">
	</bean>

	
</beans>
