<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2006-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
                           
    <bean id="purapModuleConfiguration" parent="purapModuleConfiguration-parentBean" />

    <bean id="purapModuleConfiguration-parentBean" parent="purapModuleConfiguration-base-parentBean" abstract="true" />

    <bean id="purapModuleConfiguration-base-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-PURAP" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.purap</value>
                <value>org.kuali.kfs.integration.purap</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/module/purap/businessobject/datadictionary</value>
                <value>org/kuali/kfs/module/purap/document/datadictionary</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
            <list>
                <value>org/kuali/kfs/module/purap/dwr-purap.xml</value>
            </list>
        </property>		
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/purap/ojb-purap.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>autoApprovePaymentRequestsJob</value>
				<value>purchasingPreDisbursementImmediatesExtractJob</value>
				<value>purchasingPreDisbursementExtractJob</value>
				<value>receivingPaymentRequestJob</value>
				<value>autoClosePurchaseOrdersJob</value>
				<value>autoCloseRecurringOrdersJob</value>
				<value>electronicInvoiceExtractJob</value>
				<value>faxPendingDocumentJob</value>
				<value>approveLineItemReceivingJob</value>
			</list>
		</property>
		<property name="triggerNames">
			<list>
				<value>purchasingPreDisbursementImmediatesExtractJobTrigger</value>
				<value>electronicInvoiceExtractJobTrigger</value>
				<value>faxPendingDocumentTrigger</value>
				<value>beginningOfBusinessDayJobTrigger</value>
			</list>
		</property>
		<property name="externalizableBusinessObjectImplementations">
            <map>
                <entry key="org.kuali.kfs.integration.purap.PurchasingAccountsPayableSensitiveData" value="org.kuali.kfs.module.purap.businessobject.SensitiveData" />
            </map>
        </property>
        <property name="batchFileDirectories">
          	<list>
            	<value>${reports.directory}/purap</value>
            	<value>${staging.directory}/purap</value>
          	</list>
        </property>
	</bean>

    <bean id="purapModuleService" parent="purapModuleService-parentBean" />
    
    <bean id="purapModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="purapModuleConfiguration" />
	</bean>
	<bean id="purchasingAccountsPayableModuleService" parent="purchasingAccountsPayableModuleService-parentBean"/>
	
	<bean id="purchasingAccountsPayableModuleService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PurchasingAccountsPayableModuleServiceImpl" abstract="true">
		<property name="documentService" ref="documentService" />
		<property name="purapService" ref="purapService"/>
		<property name="purchaseOrderService" ref="purchaseOrderService"/>
	</bean>

	<bean id="PurapConstants" class="org.kuali.rice.core.api.util.collect.ConstantsMap">
		<property name="constantClass" value="org.kuali.kfs.module.purap.PurapConstants" />
	</bean>
  
	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<entry key="PurapConstants" value-ref="PurapConstants" />
			</map>
		</property>
	</bean>

	<bean id="KFSPurapDocumentSearchCustomizer" class="org.kuali.kfs.module.purap.document.workflow.KFSPurapDocumentSearchCustomizer" />
	<alias name="KFSPurapDocumentSearchCustomizer" alias="PurapFinancialSystemSearchableAttribute" />
	<bean id="PurchaseOrderActionListAttribute" class="org.kuali.kfs.module.purap.document.workflow.PurchaseOrderActionListAttribute" />

	<!--  override accounting service -->
	<bean id="purapAccountingLineRuleHelperService" parent="purapAccountingLineRuleHelperService-parentBean"/>
	
    <bean id="purapAccountingLineRuleHelperService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PurapAccountingLineRuleHelperServiceImpl" abstract="true">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="financialSystemDocumentTypeService" ref="financialSystemDocumentTypeService" />
    </bean>
	<bean id="purchasingAccountingLineRuleHelperService" parent="purchasingAccountingLineRuleHelperService-parentBean"/>
    
    <bean id="purchasingAccountingLineRuleHelperService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PurchasingAccountingLineRuleHelperServiceImpl" abstract="true">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="financialSystemDocumentTypeService" ref="financialSystemDocumentTypeService" />
    </bean>
    <bean id="vendorCreditMemoAccountingLineRuleHelperService" parent="vendorCreditMemoAccountingLineRuleHelperService-parentBean"/>
            
    <bean id="vendorCreditMemoAccountingLineRuleHelperService-parentBean" class="org.kuali.kfs.module.purap.service.impl.VendorCreditMemoAccountingLineRuleHelperServiceImpl" abstract="true">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="financialSystemDocumentTypeService" ref="financialSystemDocumentTypeService" />
    </bean>  
    <bean id="paymentRequestAccountingLineRuleHelperService" parent="paymentRequestAccountingLineRuleHelperService-parentBean"/>
          
    <bean id="paymentRequestAccountingLineRuleHelperService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PaymentRequestAccountingLineRuleHelperServiceImpl" abstract="true">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="financialSystemDocumentTypeService" ref="financialSystemDocumentTypeService" />
    </bean>                
	<!--  end override -->

    <bean id="pdpExtractService" parent="pdpExtractService-parentBean"/>
    
	<bean id="pdpExtractService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PdpExtractServiceImpl" abstract="true">
		<property name="businessObjectService" ref="businessObjectService"/>
		<property name="paymentRequestService" ref="paymentRequestService"/>
		<property name="paymentFileService" ref="paymentFileService"/>
		<property name="parameterService" ref="parameterService" />
		<property name="customerProfileService" ref="pdpCustomerProfileService"/>
		<property name="dateTimeService" ref="dateTimeService"/>
		<property name="paymentGroupService" ref="pdpPaymentGroupService"/>
		<property name="paymentDetailService" ref="pdpPaymentDetailService"/>
		<property name="creditMemoService" ref="creditMemoService"/>
		<property name="documentService" ref="documentService"/>
        <property name="purapRunDateService" ref="purapRunDateService" />
        <property name="paymentFileEmailService" ref="pdpEmailService" />
        <property name="bankService" ref="bankService" />
        <property name="dataDictionaryService" ref="dataDictionaryService" />
        <property name="purapAccountingService" ref="purapAccountingService" />
        <property name="lockedDocuments">
        	<list>
        		<value>PREQ</value>
        	</list>
        </property>
	</bean>
    <bean id="requisitionService" parent="requisitionService-parentBean"/>

	<bean id="requisitionService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.RequisitionServiceImpl" abstract="true">
		<property name="businessObjectService" ref="businessObjectService"/>
        <property name="capitalAssetBuilderModuleService" ref="capitalAssetBuilderModuleService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
		<property name="documentService" ref="documentService"/>
        <property name="configurationService" ref="kualiConfigurationService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="postalCodeValidationService" ref="postalCodeValidationService"/>
    	<property name="purapService" ref="purapService"/>
        <property name="requisitionDao" ref="requisitionDao"/>
    	<property name="ruleService" ref="kualiRuleService"/>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="vendorService" ref="vendorService"/>
	</bean>
    <bean id="purapService" parent="purapService-parentBean"/>

    <bean id="purapService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PurapServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="dataDictionaryService" ref="dataDictionaryService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="documentService" ref="documentService"/>
        <property name="noteService" ref="noteService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="persistenceService" ref="persistenceService"/>
        <property name="purchaseOrderService" ref="purchaseOrderService"/>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="vendorService" ref="vendorService"/>
        <property name="taxService" ref="taxService"/>
        <property name="purapAccountingService" ref="purapAccountingService"/>
    </bean>
    <bean id="purchasingService" parent="purchasingService-parentBean"/>
    
    <bean id="purchasingService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PurchasingServiceImpl" abstract="true">
        <property name="parameterService" ref="parameterService"/>
        <property name="sequenceAccessorService" ref="sequenceAccessorService"/>
        <property name="purapAccountingService" ref="purapAccountingService" />
        <property name="capitalAssetBuilderModuleService" ref="capitalAssetBuilderModuleService"/>
        <property name="postalCodeValidationService" ref="postalCodeValidationService"/>
    </bean>
    <bean id="purapWorkflowIntegrationService" parent="purapWorkflowIntegrationService-parentBean"/>
    
	<bean id="purapWorkflowIntegrationService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PurApWorkflowIntegrationServiceImpl" abstract="true">
        <property name="workflowDocumentService" ref="workflowDocumentService"/>
	</bean>
    <bean id="purapGeneralLedgerService" parent="purapGeneralLedgerService-parentBean"/>
	
    <bean id="purapGeneralLedgerService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PurapGeneralLedgerServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="generalLedgerPendingEntryService" ref="generalLedgerPendingEntryService"/>
        <property name="kualiRuleService" ref="kualiRuleService"/>
        <property name="objectCodeService" ref="objectCodeService"/>
        <property name="paymentRequestService" ref="paymentRequestService" />
        <property name="parameterService" ref="parameterService"/>
        <property name="purapAccountingService" ref="purapAccountingService"/>
        <property name="purchaseOrderService" ref="purchaseOrderService"/>
        <property name="subObjectCodeService" ref="subObjectCodeService"/>
        <property name="universityDateService" ref="universityDateService"/>
    </bean>
    <bean id="purapAccountRevisionService" parent="purapAccountRevisionService-parentBean"/>
    
    <bean id="purapAccountRevisionService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PurapAccountRevisionServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
    </bean>
    <bean id="purapAccountingService" parent="purapAccountingService-parentBean"/>
    
	<bean id="purapAccountingService-parentBean" class="org.kuali.kfs.module.purap.service.impl.PurapAccountingServiceImpl" abstract="true">
		<property name="parameterService" ref="parameterService"/>
		<property name="purApAccountingDao" ref="purApAccountingDao"/>
		<property name="purapService" ref="purapService"/>
		<property name="businessObjectService" ref="businessObjectService"/>
	</bean>
    <bean id="accountsPayableService" parent="accountsPayableService-parentBean"/>

    <bean id="accountsPayableService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.AccountsPayableServiceImpl" abstract="true">
    	<property name="purapAccountingService" ref="purapAccountingService" />
        <property name="purapGeneralLedgerService" ref="purapGeneralLedgerService" />
        <property name="documentService" ref="documentService" />
    	<property name="purapService" ref="purapService" />
    	<property name="parameterService" ref="parameterService" />
        <property name="dateTimeService" ref="dateTimeService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="accountService" ref="accountService" />
    </bean>

    <bean id="paymentRequestDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.PaymentRequestDaoOjb"/>

    <bean id="paymentRequestService" parent="paymentRequestService-parentBean"/>
    
    <bean id="paymentRequestService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PaymentRequestServiceImpl" abstract="true">
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="paymentRequestDao" ref="paymentRequestDao" />
        <property name="documentService" ref="documentService" />
        <property name="purapService" ref="purapService" />
        <property name="noteService" ref="noteService" />
        <property name="parameterService" ref="parameterService" />
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="negativePaymentRequestApprovalLimitService" ref="negativePaymentRequestApprovalLimitService" />
        <property name="purapAccountingService" ref="purapAccountingService" />
        <property name="businessObjectService" ref="businessObjectService" />
        <property name="purapWorkflowIntegrationService" ref="purapWorkflowIntegrationService" />
        <property name="workflowDocumentService" ref="workflowDocumentService" />
        <property name="vendorService" ref="vendorService" />
        <property name="dataDictionaryService" ref="dataDictionaryService" />
        <property name="universityDateService" ref="universityDateService"/>
        <property name="bankService" ref="bankService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <!-- <property name="purapGeneralLedgerService" ref="purapGeneralLedgerService" /> -->
        <property name="financialSystemWorkflowHelperService" ref="financialSystemWorkflowHelperService" />
        <property name="kualiRuleService" ref="kualiRuleService" />
    </bean>
	
	<bean id="creditMemoDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.CreditMemoDaoOjb" />
    <bean id="creditMemoService" parent="creditMemoService-parentBean"/>
	
	<bean id="creditMemoService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.CreditMemoServiceImpl" abstract="true">
        <property name="accountsPayableService" ref="accountsPayableService" />
		<property name="creditMemoDao" ref="creditMemoDao" />
        <property name="dataDictionaryService" ref="dataDictionaryService" />
        <property name="documentService" ref="documentService" />
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="noteService" ref="noteService" />
        <property name="paymentRequestService" ref="paymentRequestService" />
        <property name="purapAccountingService" ref="purapAccountingService" />
        <property name="purapGeneralLedgerService" ref="purapGeneralLedgerService" />
        <property name="purapService" ref="purapService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="vendorService" ref="vendorService" />
        <property name="workflowDocumentService" ref="workflowDocumentService" />
    </bean>
    <bean id="printService" parent="printService-parentBean"/>
    
	<bean id="printService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PrintServiceImpl" abstract="true">
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="parameterService" ref="parameterService" />
        <property name="imageService" ref="imageService" />
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="purchaseOrderParameters" ref="purchaseOrderParameters"/>
	</bean>
	
	<bean id="faxService" parent="faxService-parentBean"/>		
	<bean id="faxService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.FaxServiceImpl" abstract="true">
		<property name="configurationService" ref="kualiConfigurationService" />
		<property name="parameterService" ref="parameterService" />
        <property name="vendorService" ref="vendorService" />
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="countryService" ref="countryService" />
	</bean>
			
	<bean id="purchaseOrderService" parent="purchaseOrderService-parentBean" />		
	<bean id="purchaseOrderService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.PurchaseOrderServiceImpl" abstract="true">
        <property name="b2bPurchaseOrderService" ref="b2bPurchaseOrderService" />
        <property name="requisitionService" ref="requisitionService"/>
        <property name="businessObjectService" ref="businessObjectService" />
        <property name="dateTimeService" ref="dateTimeService" />
        <property name="documentService" ref="documentService" />
        <property name="purapService" ref="purapService" />
        <property name="noteService" ref="noteService" />
        <property name="purchaseOrderDao" ref="purchaseOrderDao" />
        <property name="workflowDocumentService" ref="rice.kew.workflowDocumentService" />
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="kualiRuleService" ref="kualiRuleService" />
        <property name="vendorService" ref="vendorService" />
        <property name="purapWorkflowIntegrationService" ref="purapWorkflowIntegrationService" />
        <property name="maintenanceDocumentService" ref="maintenanceDocumentService" />
        <property name="parameterService" ref="parameterService" />
        <property name="mailService" ref="mailService" />
        <property name="printService" ref="printService" />
        <property name="dataDictionaryService" ref="dataDictionaryService" />
	</bean>
    <bean id="negativePaymentRequestApprovalLimitService" parent="negativePaymentRequestApprovalLimitService-parentBean"/>

	<bean id="negativePaymentRequestApprovalLimitService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.NegativePaymentRequestApprovalLimitServiceImpl" abstract="true">
		<property name="negativePaymentRequestApprovalLimitDao" ref="negativePaymentRequestApprovalLimitDao" />
	</bean>
    <bean id="thresholdService" parent="thresholdService-parentBean"/>

	<bean id="thresholdService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.ThresholdServiceImpl" abstract="true">
		<property name="thresholdDao" ref="thresholdDao" />
	</bean>
	
	<bean id="thresholdDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.ThresholdDaoOjb" />
    <bean id="thresholdLookupableHelperService" parent="thresholdLookupableHelperService-parentBean" scope="prototype" />
	
	<bean id="thresholdLookupableHelperService-parentBean" class="org.kuali.kfs.module.purap.businessobject.lookup.ThresholdLookupableHelperService" parent="lookupableHelperService" scope="prototype" abstract="true" />
	<bean id="thresholdLookupable" parent="thresholdLookupable-parentBean" scope="prototype" />
	<bean id="thresholdLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
	    <property name="lookupableHelperService" ref="thresholdLookupableHelperService" />
	</bean>
	<bean id="b2BShoppingService" parent="b2BShoppingService-parentBean"/>

	<bean id="b2BShoppingService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.B2BShoppingServiceImpl" abstract="true">
        <property name="b2bDao" ref="b2bDao"/>
        <property name="businessObjectService" ref="businessObjectService" />
        <property name="configurationService" ref="kualiConfigurationService"/>
        <property name="documentService" ref="documentService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="persistenceService" ref="persistenceService"/>
        <property name="phoneNumberService" ref="phoneNumberService"/>
        <property name="purchasingService" ref="purchasingService"/>
        <property name="purapService" ref="purapService"/>
        <property name="vendorService" ref="vendorService"/>
        <property name="b2bEnvironment">
        	<value>${b2b.environment}</value>
        </property>
        <property name="b2bPunchoutURL">
        	<value>${b2b.punch.out.url}</value>
        </property>
        <property name="b2bPunchbackURL">
        	<value>${b2b.punch.back.url}</value>
        </property>
        <property name="b2bUserAgent">
        	<value>${b2b.user.agent}</value>
        </property>
        <property name="b2bShoppingIdentity">
        	<value>${b2b.shopping.identity}</value>
        </property>
        <property name="b2bShoppingPassword">
        	<value>${b2b.shopping.password}</value>
        </property>
	</bean>

    <bean id="b2bPurchaseOrderService" parent="b2bPurchaseOrderService-parentBean"/>

    <bean id="b2bPurchaseOrderService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.B2BPurchaseOrderSciquestServiceImpl" abstract="true">
        <property name="b2bDao" ref="b2bDao"/>
        <property name="requisitionService" ref="requisitionService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="b2bEnvironment">
        	<value>${b2b.environment}</value>
        </property>
        <property name="b2bUserAgent">
        	<value>${b2b.user.agent}</value>
        </property>
        <property name="b2bPurchaseOrderURL">
        	<value>${b2b.purchase.order.url}</value>
        </property>
        <property name="b2bPurchaseOrderIdentity">
        	<value>${b2b.purchase.order.identity}</value>
        </property>        
        <property name="b2bPurchaseOrderPassword">
        	<value>${b2b.purchase.order.password}</value>
        </property>
    </bean>

    <bean id="b2bDao" class="org.kuali.kfs.module.purap.dataaccess.impl.B2BDaoImpl"/>
	<bean id="receivingAddressService" parent="receivingAddressService-parentBean"/>

    <bean id="receivingAddressService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.ReceivingAddressServiceImpl" abstract="true">
        <property name="receivingAddressDao" ref="receivingAddressDao" />
    </bean>
	<bean id="receivingService" parent="receivingService-parentBean"/>

	<bean id="receivingService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.ReceivingServiceImpl" abstract="true">
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="documentService" ref="documentService" />
        <property name="noteService" ref="noteService" />
        <property name="purapService" ref="purapService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="receivingDao" ref="receivingDao" />
        <property name="workflowDocumentService" ref="workflowDocumentService" />
	</bean>
	<bean id="bulkReceivingService" parent="bulkReceivingService-parentBean"/>
	
	<bean id="bulkReceivingService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.BulkReceivingServiceImpl" abstract="true">
        <property name="bulkReceivingDao" ref="bulkReceivingDao" />
	    <property name="configurationService" ref="kualiConfigurationService" />
        <property name="documentService" ref="documentService" />
        <property name="printService" ref="printService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="workflowDocumentService" ref="workflowDocumentService" />
	</bean>
	<bean id="imageService" parent="imageService-parentBean"/>
    
    <bean id="imageService-parentBean" abstract="true" class="org.kuali.kfs.module.purap.service.impl.ImageServiceImpl">
		<property name="parameterService" ref="parameterService" />
		<property name="configurationService" ref="kualiConfigurationService" />
    </bean>

	<bean id="receivingDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.ReceivingDaoOjb" />
	
	<bean id="bulkReceivingDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.BulkReceivingDaoOjb" />
	
	<bean id="requisitionDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.RequisitionDaoOjb" />
	
	<bean id="purchaseOrderDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.document.dataaccess.impl.PurchaseOrderDaoOjb" />

	<bean id="purApAccountingDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.dataaccess.impl.PurApAccountingDaoOjb" />
	
	<bean id="negativePaymentRequestApprovalLimitDao" parent="platformAwareDao" 
		class="org.kuali.kfs.module.purap.document.dataaccess.impl.NegativePaymentRequestApprovalLimitDaoOjb" />
	
	<bean id="receivingAddressDao" parent="platformAwareDao" 
		class="org.kuali.kfs.module.purap.document.dataaccess.impl.ReceivingAddressDaoOjb" />

	<bean id="singleConfirmationQuestion" class="org.kuali.kfs.module.purap.SingleConfirmationQuestion" scope="prototype" />
	
	<bean id="sensitiveDataDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.dataaccess.impl.SensitiveDataDaoOjb"/>
	<bean id="sensitiveDataService" parent="sensitiveDataService-parentBean"/>
    
    <bean id="sensitiveDataService-parentBean" abstract="true"  class="org.kuali.kfs.module.purap.service.impl.SensitiveDataServiceImpl">
        <property name="sensitiveDataDao" ref="sensitiveDataDao" />
        <property name="purchaseOrderDao" ref="purchaseOrderDao" />
    </bean>
	

	<!-- Batch Jobs -->
    <bean id="autoApprovePaymentRequestsStep" class="org.kuali.kfs.module.purap.batch.AutoApprovePaymentRequestsStep" parent="step">
        <property name="paymentRequestService" ref="paymentRequestService" />
        <property name="parameterService" ref="parameterService" />
        <property name="dateTimeService" ref="dateTimeService"/>
    </bean>
    
    <bean id="autoClosePurchaseOrdersStep" class="org.kuali.kfs.module.purap.batch.AutoClosePurchaseOrdersStep" parent="step">
        <property name="purchaseOrderService" ref="purchaseOrderService" />
    </bean>
    
    <bean id="autoCloseRecurringOrdersStep" class="org.kuali.kfs.module.purap.batch.AutoCloseRecurringOrdersStep" parent="step">
        <property name="purchaseOrderService" ref="purchaseOrderService" />
    </bean>
    
	<bean id="purchasingPreDisbursementImmediatesExtractStep" class="org.kuali.kfs.module.purap.batch.ExtractPdpImmediatesStep" parent="step">
		<property name="pdpExtractService" ref="pdpExtractService"/>
		<property name="dateTimeService" ref="dateTimeService"/>
	</bean>

	<bean id="purchasingPreDisbursementExtractStep" class="org.kuali.kfs.module.purap.batch.ExtractPdpStep" parent="step">
		<property name="pdpExtractService" ref="pdpExtractService"/>
		<property name="dateTimeService" ref="dateTimeService"/>
	</bean>

	<bean id="receivingPaymentRequestStep" class="org.kuali.kfs.module.purap.batch.ReceivingPaymentRequestStep" parent="step">
        <property name="paymentRequestService" ref="paymentRequestService" />
    </bean>
    
    <bean id="faxPendingDocumentStep" class="org.kuali.kfs.module.purap.batch.FaxPendingDocumentStep" parent="step">
	    <property name="faxBatchDocumentsService" ref="faxBatchDocumentsService" />
    </bean>
    
    <bean id="approveLineItemReceivingStep" class="org.kuali.kfs.module.purap.batch.ApproveLineItemReceivingStep" parent="step">
	    <property name="receivingService" ref="receivingService" />
    </bean>
    
    <bean id="faxPendingDocumentJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="faxPendingDocumentStep" />
            </list>
        </property>
    </bean>
    
    <bean id="autoClosePurchaseOrdersJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="autoClosePurchaseOrdersStep" />
            </list>
        </property>
    </bean>

    <bean id="autoCloseRecurringOrdersJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="autoCloseRecurringOrdersStep" />
            </list>
        </property>
    </bean>

	<bean id="purchasingPreDisbursementImmediatesExtractJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="purchasingPreDisbursementImmediatesExtractStep" />
			</list>
		</property>
	</bean>
	
	<bean id="approveLineItemReceivingJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="approveLineItemReceivingStep" />
			</list>
		</property>
	</bean>
	
	<bean id="purchasingPreDisbursementImmediatesExtractJobTrigger" parent="cronTrigger">
		<property name="jobName" value="purchasingPreDisbursementImmediatesExtractJob" />
		<property name="cronExpression" value="00 00 11,15 ? * *" />
	</bean>
	
	<bean id="electronicInvoiceExtractJobTrigger" parent="cronTrigger">
		<property name="jobName" value="electronicInvoiceExtractJob" />
		<property name="cronExpression" value="00 00 11,15 ? * *" />
	</bean>
	
	<bean id="faxPendingDocumentTrigger" parent="cronTrigger">
		<property name="jobName" value="faxPendingDocumentJob" />
		<property name="cronExpression" value="00 00 11,15 ? * *" />
	</bean>

	<bean id="beginningOfBusinessDayJobTrigger" parent="cronTrigger">
		<property name="jobName" value="receivingPaymentRequestJob" />
		<property name="cronExpression" value="00 01 00 ? * *" />
	</bean>
 	 	         
	<bean id="purchasingPreDisbursementExtractJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
                <ref bean="purchasingPreDisbursementImmediatesExtractStep" />
				<ref bean="purchasingPreDisbursementExtractStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="autoApprovePaymentRequestsJob" value="softDependency" />
			</map>
		</property>
	</bean>

	<bean id="autoApprovePaymentRequestsJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="autoApprovePaymentRequestsStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="receivingPaymentRequestJob" value="softDependency" />
			</map>
		</property>
	</bean>
	
	<bean id="receivingPaymentRequestJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="receivingPaymentRequestStep" />
			</list>
		</property>
	</bean>

	<bean id="purApOjbCollectionHelper" class="org.kuali.kfs.module.purap.util.PurApOjbCollectionHelper" />
	<bean id="faxBatchDocumentsService" parent="faxBatchDocumentsService-parentBean"/>
	
	<bean id="faxBatchDocumentsService-parentBean" class="org.kuali.kfs.module.purap.document.service.impl.FaxBatchDocumentsServiceImpl" abstract="true">
		<property name="faxService" ref="faxService"/>
		<property name="purchaseOrderService" ref="purchaseOrderService"/>
		<property name="purapService" ref="purapService"/>
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>
	<bean id="purapRunDateService" parent="purapRunDateService-parentBean"/>
	
	<bean id="purapRunDateService-parentBean" class="org.kuali.kfs.module.purap.batch.service.impl.PurapRunDateServiceImpl" abstract="true">
		<property name="parameterService" ref="parameterService"/>
	</bean>
	<bean id="electronicInvoiceHelperService" parent="electronicInvoiceHelperService-parentBean" />

	<bean id="electronicInvoiceHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.purap.service.impl.ElectronicInvoiceHelperServiceImpl">
		<property name="electronicInvoicingDao" ref="electronicInvoicingDao" />
        <property name="electronicInvoiceInputFileType" ref="electronicInvoiceInputFileType" />
		<property name="electronicInvoiceMatchingService" ref="electronicInvoiceMatchingService"/>
		<property name="mailService" ref="mailService"/>
		<property name="batchInputFileService" ref="batchInputFileService" />
		<property name="vendorService" ref="vendorService"/>
		<property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="paymentRequestService" ref="paymentRequestService" />
        <property name="configurationService" ref="kualiConfigurationService"/>
        <property name="dateTimeService" ref="dateTimeService" />
        <property name="parameterService" ref="parameterService" />
	</bean>
	<bean id="electronicInvoiceMatchingService" parent="electronicInvoiceMatchingService-parentBean"/>
	
	<bean id="electronicInvoiceMatchingService-parentBean" class="org.kuali.kfs.module.purap.service.impl.ElectronicInvoiceMatchingServiceImpl" abstract="true">
		<property name="vendorService" ref="vendorService" />
        <property name="taxService" ref="taxService"/>
        <property name="dateTimeService" ref="dateTimeService" />
	</bean>
	<bean id="electronicInvoiceMappingService" parent="electronicInvoiceMappingService-parentBean"/>

	<bean id="electronicInvoiceMappingService-parentBean" class="org.kuali.kfs.module.purap.service.impl.ElectronicInvoiceMappingServiceImpl" abstract="true">
        <property name="electronicInvoicingDao" ref="electronicInvoicingDao" />
	</bean>
	
	<bean id="electronicInvoicingDao" parent="platformAwareDao" class="org.kuali.kfs.module.purap.dataaccess.impl.ElectronicInvoicingDaoOjb"/>
    
	<bean id="electronicInvoiceExtractJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="electronicInvoiceExtractStep" />
			</list>
		</property>
	</bean>
	
	<bean id="electronicInvoiceExtractStep" class="org.kuali.kfs.module.purap.batch.ElectronicInvoiceStep" parent="step">
		<property name="electronicInvoiceHelperService" ref="electronicInvoiceHelperService" />
    <property name="batchInputFileType" ref="electronicInvoiceInputFileType" />
	</bean>
	
	<bean id="electronicInvoiceInputFileType" parent="electronicInvoiceInputFileType-parentBean"/>
	<bean id="electronicInvoiceInputFileType-parentBean" abstract="true" class="org.kuali.kfs.module.purap.batch.ElectronicInvoiceInputFileType">
    	<property name="directoryPath">
	       <value>${staging.directory}/purap/electronicInvoice</value>
	    </property>
	    <property name="fileExtension">
	       <value>xml</value>
	    </property>
	    <property name="digestorRulesFileName">
	       <value>org/kuali/kfs/module/purap/batch/electronicInvoiceDigesterRules.xml</value>
	    </property>
	    <property name="schemaLocation">
	       <value>${externalizable.static.content.url}/xsd/purap/electronicInvoice.xsd</value>
	    </property>
	    <property name="reportPrefix">
	       <value>purapElectronicInvoiceExtractJob</value>
	    </property>
	    <property name="reportExtension">
	       <value>txt</value>
	    </property>
    	<property name="reportPath">
	       <value>${reports.directory}/purap</value>
	    </property>
	</bean>
	
    <bean id="itemUnitOfMeasureService" parent="itemUnitOfMeasureService-parentBean" />

    <bean id="itemUnitOfMeasureService-parentBean" class="org.kuali.kfs.module.purap.service.impl.ItemUnitOfMeasureServiceImpl" abstract="true">
         <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property> 
    </bean>

	<bean id="purapObjectCodeDynamicNameLabelGenerator" class="org.kuali.kfs.module.purap.document.service.impl.PurapObjectCodeDynamicNameLabelGeneratorImpl" />

	<bean id="purapSubObjectCodeDynamicNameLabelGenerator" class="org.kuali.kfs.module.purap.document.service.impl.PurapSubObjectCodeDynamicNameLabelGeneratorImpl" />
	
	<bean id="b2bPOResponseFileType" class="org.kuali.kfs.module.purap.util.cxml.B2BPOResponseFileType">
	    <property name="digestorRulesFileName">
	       <value>org/kuali/kfs/module/purap/util/cxml/b2bPOResponseDigesterRules.xml</value>
	    </property>
	    <property name="schemaLocation">
	       <value>${externalizable.static.content.url}/xsd/purap/b2bPOResponse.xsd</value>
	    </property>
	</bean>
	
	<bean id="b2bPunchOutOrderFileType" class="org.kuali.kfs.module.purap.util.cxml.B2BPunchOutOrderFileType">
	    <property name="digestorRulesFileName">
	       <value>org/kuali/kfs/module/purap/util/cxml/b2bPunchOutOrderDigesterRules.xml</value>
	    </property>
	    <property name="schemaLocation">
	       <value>${externalizable.static.content.url}/xsd/purap/b2bPunchOutOrder.xsd</value> 
	    </property>
	</bean>
	
	<bean id="b2bPunchOutResponseFileType" class="org.kuali.kfs.module.purap.util.cxml.PunchOutSetupResponseFileType">
	    <property name="digestorRulesFileName">
	       <value>org/kuali/kfs/module/purap/util/cxml/b2bPunchOutResponseDigesterRules.xml</value>
	    </property>
	    <property name="schemaLocation">
	       <value>${externalizable.static.content.url}/xsd/purap/b2bPunchOutResponse.xsd</value> 
	    </property>
	</bean>
	<bean id="relatedDocumentDerivedRoleTypeService" parent="relatedDocumentDerivedRoleTypeService-parentBean"/>

    <bean id="relatedDocumentDerivedRoleTypeService-parentBean" class="org.kuali.kfs.module.purap.identity.RelatedDocumentDerivedRoleTypeServiceImpl" abstract="true" />
    
	<bean id="accountsPayableDocumentDerivedRoleTypeService" parent="accountsPayableDocumentDerivedRoleTypeService-parentBean"/>

    <bean id="accountsPayableDocumentDerivedRoleTypeService-parentBean" class="org.kuali.kfs.module.purap.identity.AccountsPayableDocumentDerivedRoleTypeServiceImpl" abstract="true" />
		
	<bean id="paymentRequestHoldCancelInitiatorDerivedRoleTypeService" parent="paymentRequestHoldCancelInitiatorDerivedRoleTypeService-parentBean"/>

    <bean id="paymentRequestHoldCancelInitiatorDerivedRoleTypeService-parentBean" class="org.kuali.kfs.module.purap.identity.PaymentRequestHoldCancelInitiatorDerivedRoleTypeServiceImpl" abstract="true" />
		
	<bean id="potentiallySensitiveDocumentRoleTypeService" parent="potentiallySensitiveDocumentRoleTypeService-parentBean"/>

    <bean id="potentiallySensitiveDocumentRoleTypeService-parentBean" class="org.kuali.kfs.module.purap.identity.PotentiallySensitiveDocumentRoleTypeServiceImpl" abstract="true" />
		
	<bean id="sensitiveDataRoleTypeService" parent="sensitiveDataRoleTypeService-parentBean"/>

    <bean id="sensitiveDataRoleTypeService-parentBean" class="org.kuali.kfs.module.purap.identity.SensitiveDataRoleTypeServiceImpl" abstract="true" />
		
	<bean id="purchaseOrderParameters" parent="PurchaseOrderParameters-parentBean" scope="prototype"/>	
	<bean id="PurchaseOrderParameters-parentBean" class="org.kuali.kfs.module.purap.pdf.PurchaseOrderTransmitParameters" scope="prototype" abstract="true" />

    <!-- validations -->
	<import resource="document/validation/configuration/PurapValidatorDefinitions.xml" />
	<import resource="document/validation/configuration/RequisitionValidation.xml" />
	<import resource="document/validation/configuration/PurchaseOrderValidation.xml" />
	<import resource="document/validation/configuration/PurchaseOrderAmendmentValidation.xml" />
	<import resource="document/validation/configuration/PaymentRequestValidation.xml" />
	<import resource="document/validation/configuration/VendorCreditMemoValidation.xml" />
	<import resource="document/validation/configuration/BulkReceivingValidation.xml" />
	<import resource="spring-purap-bus-exports.xml"/>
</beans>

