Dear $!{customer.customerName}:

$!{notificationText}

ADVANCE NUMBER:  $!{customerInvoiceDocument.organizationInvoiceNumber}
DUE DATE:        $!{customerInvoiceDocument.invoiceDueDate}
INVOICE AGE:     $!{customerInvoiceDocument.age}

ORIGINAL AMOUNT: $!{customerInvoiceDocument.totalDollarAmount}
AMOUNT DUE:      $!{customerInvoiceDocument.openAmount}

<table>
<tr><td>0-30 days</td><td>31-60 days</td><td>61-90 days</td><td>120 days</td></tr>
<tr><td>$!{total0to30}</td><td>$!{total31to60}</td><td>$!{total61to90}</td><td>$!{total90toSYSPR}</td></tr>
</table>
      
PAYMENT TERM: $!{customerInvoiceDocument.invoiceTermsText}

REMIT TO:
$!{organizationOptions.organizationCheckPayableToName}
$!{organizationOptions.organizationRemitToAddressName}
$!{organizationOptions.organizationRemitToLine1StreetAddress}
$!{organizationOptions.organizationRemitToLine2StreetAddress}
$!{organizationOptions.organizationRemitToCityName} $!{organizationOptions.organizationRemitToStateCode} $!{organizationOptions.organizationRemitToZipCode}
$!{organizationOptions.organizationPhoneNumber}


           *** PLEASE DO NOT RESPOND TO THIS EMAIL ***