<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2008 The Kuali Foundation

 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="cgModuleConfiguration" parent="cgModuleConfiguration-parentBean" />
	<bean id="cgModuleConfiguration-parentBean" class="org.kuali.kfs.module.external.kc.service.impl.KcFinancialSystemModuleConfiguration" abstract="true">
		<property name="namespaceCode" value="KFS-CG" />
		<property name="initializeDataDictionary" value="true" />
		<property name="packagePrefixes">
			<list merge="true">
				<value>org.kuali.kfs.module.external.kc</value>
				<value>org.kuali.kfs.integration.cg</value>
				<value>org.kuali.kfs.module.cg</value>
			</list>
		</property>
		<property name="externalizableBusinessObjectImplementations">
			<map>
			
                <!-- conflicting entries from both spring-kc.xml & spring-cg.xml choosing spring-kc.xml -->
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsUnit" value="org.kuali.kfs.module.external.kc.businessobject.UnitDTO" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsBudgetCategory" value="org.kuali.kfs.module.external.kc.businessobject.BudgetCategoryDTO" />
                
                <!-- conflicting entries from both spring-kc.xml and spring-cg.xml choosing spring-cg.xml -->
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCfda" value="org.kuali.kfs.module.cg.businessobject.CFDA" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAccountAwardInformation" value="org.kuali.kfs.module.cg.businessobject.AwardAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAward" value="org.kuali.kfs.module.cg.businessobject.Award" />
				<entry key="org.kuali.kfs.integration.cg.ContractAndGrantsProposal" value="org.kuali.kfs.module.cg.businessobject.Proposal" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgency" value="org.kuali.kfs.module.cg.businessobject.Agency" />
				
				<!-- from spring-cg.xml -->
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAwardAccount" value="org.kuali.kfs.module.cg.businessobject.AwardAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsGrantsAwardInvoiceAccountInformation" value="org.kuali.kfs.module.cg.businessobject.AwardInvoiceAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAward" value="org.kuali.kfs.module.cg.businessobject.Award" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAgency" value="org.kuali.kfs.module.cg.businessobject.Agency" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsMilestone" value="org.kuali.kfs.module.cg.businessobject.Milestone" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsBill" value="org.kuali.kfs.module.cg.businessobject.Bill" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsLetterOfCreditFundGroup" value="org.kuali.kfs.module.cg.businessobject.LetterOfCreditFundGroup" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsLetterOfCreditFund" value="org.kuali.kfs.module.cg.businessobject.LetterOfCreditFund" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgencyAddress" value="org.kuali.kfs.module.cg.businessobject.AgencyAddress" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgencyAddressType" value="org.kuali.kfs.module.cg.businessobject.AgencyAddressType" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsBillingFrequency" value="org.kuali.kfs.module.cg.businessobject.BillingFrequency" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsContractGrantType" value="org.kuali.kfs.module.cg.businessobject.ContractGrantType" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsFundManager" value="org.kuali.kfs.module.cg.businessobject.AwardFundManager" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsInvoiceIndicator" value="org.kuali.kfs.module.cg.businessobject.InvoiceIndicator" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsInvoiceTemplate" value="org.kuali.kfs.module.cg.businessobject.InvoiceTemplate" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsOrganization" value="org.kuali.kfs.module.cg.businessobject.AwardOrganization" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsProjectDirector" value="org.kuali.kfs.module.cg.businessobject.AwardProjectDirector" />
			</map>
		</property>
		<property name="externalizableBusinessObjectServiceImplementations">
			<map>
				<entry key="org.kuali.kfs.module.external.kc.businessobject.UnitDTO" value="institutionalUnitService" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.BudgetCategoryDTO" value="budgetCategoryService" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Cfda" value="kcCfdaService" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.AwardAccount" value="awardAccountService" />
			</map>
		</property>
		<property name="kfsToKcInquiryUrlClassMapping">
			<map>
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Award" value="org.kuali.kra.award.home.Award" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Proposal" value="org.kuali.kra.institutionalproposal.home.InstitutionalProposal" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Agency" value="org.kuali.kra.bo.Sponsor" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.UnitDTO" value="org.kuali.kra.bo.Unit" />
			</map>
		</property>
		<property name="kfsToKcInquiryUrlParameterMapping">
			<map>
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Award.proposalNumber" value="awardId" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Proposal.proposalNumber" value="proposalId" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Agency.agencyNumber" value="sponsorCode" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.Agency.primeAgencyNumber" value="sponsorCode" />
				<entry key="org.kuali.kfs.module.external.kc.businessobject.UnitDTO.unitNumber" value="unitNumber" />

			</map>
		</property>
		<property name="dataDictionaryPackages">
			<list>
				<value>org/kuali/kfs/module/external/kc/businessobject/datadictionary/UnitDTO.xml</value>
				<value>org/kuali/kfs/module/external/kc/businessobject/datadictionary/AccountAutoCreateDefaults.xml</value>
				<value>org/kuali/kfs/module/external/kc/document/datadictionary/AccountAutoCreateDefaultsMaintenanceDocument.xml</value>
				<value>org/kuali/kfs/module/cg/businessobject/datadictionary</value>
				<value>org/kuali/kfs/module/cg/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/external/kc/ojb-kc.xml</value>
				<value>org/kuali/kfs/module/cg/ojb-cg.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/kfs/module/cg/dwr-cg.xml</value>
			</list>
		</property>
		<property name="batchFileDirectories">
			<list>
				<value>${reports.directory}/cg</value>
			</list>
		</property>
		<property name="templateFileDirectories">
			<map>
				<entry key="templates.directory">
					<value>${templates.directory}/cg</value>
				</entry>
			</map>
		</property>
		<property name="jobNames">
			<list>
				<value>closeJob</value>
				<value>cfdaJob</value>
				<value>upcomingMilestoneNotificationJob</value>
			</list>
		</property>
		<property name="triggerNames">
			<list>
				<value>cfdaJobTrigger</value>
			</list>
		</property>
	</bean>
	<bean id="cgModuleService" parent="cgModuleService-parentBean" />

   <bean id="cgModuleService-parentBean" class="org.kuali.kfs.module.external.kc.service.impl.KcKfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="cgModuleConfiguration" />
	</bean>
	
	<bean id="contractsAndGrantsModuleService" class="org.kuali.kfs.module.cgb.service.impl.ContractsAndGrantsModuleServiceImpl" />
	<bean id="kfsCgModuleService" class="org.kuali.kfs.module.cg.service.impl.ContractsAndGrantsModuleServiceImpl" />
	<bean id="kcModuleService" class="org.kuali.kfs.module.external.kc.service.impl.ContractsAndGrantsModuleServiceImpl" />
</beans>