<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="ecModuleConfiguration" parent="ecModuleConfiguration-parentBean" />
    
    <bean id="ecModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-EC" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.ec</value>
                <value>org.kuali.kfs.integration.ec</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/module/ec/businessobject/datadictionary</value>
                <value>org/kuali/kfs/module/ec/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/ec/ojb-ec.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/kfs/module/ec/dwr-ec.xml</value>
			</list>
		</property>		

		<property name="jobNames">
			<list>
				<value>effortCertificationExtractJob</value>
				<value>effortCertificationCreateJob</value>
			</list>
		</property>
		
		<property name="externalizableBusinessObjectImplementations">
            <map>
				<entry key="org.kuali.kfs.integration.ec.EffortCertificationReport" value="org.kuali.kfs.module.ec.businessobject.EffortCertificationReportDefinition" />
            </map>
        </property>	
        
        <property name="fiscalYearMakers">
          <list>
            <ref bean="effortCertificationReportEarnPaygroupFiscalYearMaker" />
            <ref bean="effortCertificationReportPositionFiscalYearMaker" />
            <ref bean="effortCertificationReportDefinitionFiscalYearMaker" />
          </list>	
        </property>
        
        <property name="batchFileDirectories">
          	<list>
            	<value>${reports.directory}/ec</value>
          	</list>
        </property>
          
	</bean>

    <bean id="ecModuleService" parent="ecModuleService-parentBean"/>

    <bean id="ecModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="ecModuleConfiguration" />
	</bean>

    <bean id="effortCertificationModuleService"  parent="effortCertificationModuleService-parentBean"/>
    <bean id="effortCertificationModuleService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationModuleServiceImpl" abstract="true" />

	<bean id="EffortConstants" class="org.kuali.rice.core.api.util.collect.ConstantsMap">
		<property name="constantClass" value="org.kuali.kfs.module.ec.EffortConstants" />
	</bean>
  
	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<entry key="EffortConstants" value-ref="EffortConstants" />
			</map>
		</property>
	</bean>

	
	<!-- Section 1: Batch Job Definitions --> 
	<bean id="effortCertificationExtractJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="effortCertificationExtractStep"/>
			</list>
		</property>
	</bean>
	
	<bean id="effortCertificationExtractStep" class="org.kuali.kfs.module.ec.batch.EffortCertificationExtractStep" parent="step">
		<property name="effortCertificationExtractService">
			<ref bean="effortCertificationExtractService" />
		</property>
	</bean> 
	
	<bean id="effortCertificationCreateJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="effortCertificationCreateStep"/>
			</list>
		</property>
	</bean>
	
	<bean id="effortCertificationCreateStep" class="org.kuali.kfs.module.ec.batch.EffortCertificationCreateStep" parent="step">
		<property name="effortCertificationCreateService">
			<ref bean="effortCertificationCreateService" />
		</property>
	</bean>
	
	<!-- Section 2: Service declarations -->
	
	<bean id="effortCertifcationReportPeriodUpdateService"  parent="effortCertifcationReportPeriodUpdateService-parentBean"/>
	<bean id="effortCertifcationReportPeriodUpdateService-parentBean" class="org.kuali.kfs.module.ec.document.service.impl.EffortCertificationAutomaticReportPeriodUpdateServiceImpl" abstract="true" >
		<property name="effortCertificationReportDefinitionDao">
			<ref bean="effortCertificationReportDefinitionDao" />
		</property>
	</bean>
	
	<bean id="effortCertificationExtractService"  parent="effortCertificationExtractService-parentBean"/>
	<bean id="effortCertificationExtractService-parentBean" class="org.kuali.kfs.module.ec.batch.service.impl.EffortCertificationExtractServiceImpl" abstract="true" >
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
				
		<property name="laborModuleService">
			<ref bean="laborModuleService" />
		</property>
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>		
		
		<property name="effortCertificationDocumentBuildService">
			<ref bean="effortCertificationDocumentBuildService" />
		</property>
		<property name="effortCertificationReportService">
			<ref bean="effortCertificationReportService" />
		</property>	
		<property name="effortCertificationReportDefinitionService">
			<ref bean="effortCertificationReportDefinitionService" />
		</property>				
	</bean>
	
	<bean id="effortCertificationCreateService"  parent="effortCertificationCreateService-parentBean"/>
	<bean id="effortCertificationCreateService-parentBean" class="org.kuali.kfs.module.ec.batch.service.impl.EffortCertificationCreateServiceImpl" abstract="true" >
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="effortCertificationDocumentService">
			<ref bean="effortCertificationDocumentService" />
		</property>	
	</bean>
	
	<bean id="effortCertificationReportDefinitionService"  parent="effortCertificationReportDefinitionService-parentBean"/>
	<bean id="effortCertificationReportDefinitionService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationReportDefinitionServiceImpl" abstract="true" >
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>					
	</bean>	
	
	<bean id="effortCertificationReportService"  parent="effortCertificationReportService-parentBean"/>
	<bean id="effortCertificationReportService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationReportServiceImpl" abstract="true">
		<property name="reportGenerationService">
			<ref bean="reportGenerationService" />
		</property>
		<property name="effortExtractProcessReportInfo">
			<ref bean="effortExtractProcessReportInfo" />
		</property>
	</bean>
	
	<bean id="effortExtractProcessReportInfo"  parent="effortExtractProcessReportInfo-parentBean"/>
	<bean id="effortExtractProcessReportInfo-parentBean" class="org.kuali.kfs.sys.report.ReportInfoHolder" abstract="true" >
		<property name="reportTitle" value="Effort Certification Extract Process" />
		<property name="reportFileName" value="effort_extract_summary" />
		<property name="reportsDirectory" value="${reports.directory}/ec/" />
		<property name="resourceBundleBaseName" value="org/kuali/kfs/module/ec/report/messages" />
		<property name="reportTemplateClassPath" value="org/kuali/kfs/module/ec/report/" />
		<property name="reportTemplateName" value="EffortExtractProcessReport" />
		<property name="subReportTemplateClassPath" value="org/kuali/kfs/module/ec/report/" />
		<property name="subReports">
			<map>
				<entry key="extractErrors" value="ExtractErrors"/>
			</map>
		</property>
	</bean>		
	
	<bean id="effortCertificationDocumentBuildService"  parent="effortCertificationDocumentBuildService-parentBean"/>
	<bean id="effortCertificationDocumentBuildService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationDocumentBuildServiceImpl" abstract="true" >
		<property name="effortCertificationDetailBuildService">
			<ref bean="effortCertificationDetailBuildService" />
		</property>	
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>					
	</bean>
			
	<bean id="effortCertificationDetailBuildService"  parent="effortCertificationDetailBuildService-parentBean"/>
	<bean id="effortCertificationDetailBuildService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationDetailBuildServiceImpl" abstract="true" />
	
	<bean id="effortCertificationDocumentService"  parent="effortCertificationDocumentService-parentBean"/>
	<bean id="effortCertificationDocumentService-parentBean" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationDocumentServiceImpl" abstract="true" >
		<property name="laborModuleService">
			<ref bean="laborModuleService" />
		</property>
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>		
		<property name="contractsAndGrantsModuleService">
			<ref bean="contractsAndGrantsModuleService" />
		</property>	
		<property name="documentService">
			<ref bean="documentService" />
		</property>	
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>	
	 	
	<!-- DAO declarations -->		
	<bean id="effortCertificationReportDefinitionDao" parent="platformAwareDao" class="org.kuali.kfs.module.ec.dataaccess.impl.EffortCertificationReportDefinitionDaoOjb" />
	
	<!-- lookup declarations -->
	<bean id="outstandingReportsByOrganizationLookupable"  parent="outstandingReportsByOrganizationLookupable-parentBean" singleton="false"/>
	<bean id="outstandingReportsByOrganizationLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
		<property name="lookupableHelperService">
			<ref bean="outstandingReportsByOrganizationLookupableHelperService" />
		</property>
	</bean>

	<bean id="outstandingCertificationsByReportLookupable"  parent="outstandingCertificationsByReportLookupable-parentBean" singleton="false"/>
	<bean id="outstandingCertificationsByReportLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
		<property name="lookupableHelperService">
			<ref bean="outstandingCertificationsByReportLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="duplicateCertificationsReportLookupable"  parent="duplicateCertificationsReportLookupable-parentBean" singleton="false"/>
	<bean id="duplicateCertificationsReportLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
		<property name="lookupableHelperService">
			<ref bean="duplicateCertificationsReportLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="outstandingReportsByOrganizationLookupableHelperService"  parent="outstandingReportsByOrganizationLookupableHelperService-parentBean" singleton="false"/>
	<bean id="outstandingReportsByOrganizationLookupableHelperService-parentBean" class="org.kuali.kfs.module.ec.businessobject.lookup.OutstandingCertificationsByOrganizationLookupableHelperServiceImpl" abstract="true">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean> 

	<bean id="outstandingCertificationsByReportLookupableHelperService"  parent="outstandingCertificationsByReportLookupableHelperService-parentBean" singleton="false"/>
	<bean id="outstandingCertificationsByReportLookupableHelperService-parentBean" class="org.kuali.kfs.module.ec.businessobject.lookup.OutstandingCertificationsByReportLookupableHelperServiceImpl"  abstract="true">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean> 

	<bean id="duplicateCertificationsReportLookupableHelperService"  parent="duplicateCertificationsReportLookupableHelperService-parentBean" singleton="false"/>
	<bean id="duplicateCertificationsReportLookupableHelperService-parentBean" class="org.kuali.kfs.module.ec.businessobject.lookup.DuplicateCertificationsLookupableHelperServiceImpl"  abstract="true">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean> 

	<bean id="effortLedgerBalanceLookupableHelperService"  parent="effortLedgerBalanceLookupableHelperService-parentBean" singleton="false"/>
	<bean id="effortLedgerBalanceLookupableHelperService-parentBean" class="org.kuali.kfs.module.ec.businessobject.lookup.EffortLedgerBalanceLookupableHelperServiceImpl"  abstract="true">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>
		<property name="effortCertificationReportDefinitionService">
			<ref bean="effortCertificationReportDefinitionService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>

		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean> 
	
	<bean id="effortCertificationDetailBuildLookupable"  parent="effortCertificationDetailBuildLookupable-parentBean" singleton="false"/>
	<bean id="effortCertificationDetailBuildLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl"  abstract="true">
		<property name="lookupableHelperService">
			<ref bean="effortCertificationDetailBuildLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="effortCertificationDetailBuildLookupableHelperService"  parent="effortCertificationDetailBuildLookupableHelperService-parentBean" singleton="false"/>
	<bean id="effortCertificationDetailBuildLookupableHelperService-parentBean" class="org.kuali.kfs.module.ec.businessobject.lookup.EffortCertificationDetailBuildLookupableHelperServiceImpl"  abstract="true">				
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>   	
	
<!-- 	<bean id="effortLedgerBalanceInquirable"  parent="effortLedgerBalanceInquirable-parentBean"/>   -->
	<bean id="effortLedgerBalanceInquirable" class="org.kuali.kfs.module.ec.businessobject.inquiry.EffortLedgerBalanceInquirableImpl" singleton="false" />
	
	<bean id="effortCertificationReportEarnPaygroupFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ec.businessobject.EffortCertificationReportEarnPaygroup" /> 
	</bean>
	
	<bean id="effortCertificationReportPositionFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ec.businessobject.EffortCertificationReportPosition" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.module.ec.businessobject.EffortCertificationReportDefinition</value>
		  </set>
		</property>
	</bean>
	
	<bean id="effortCertificationReportDefinitionFiscalYearMaker" class="org.kuali.kfs.module.ec.batch.dataaccess.impl.EffortCertificationReportDefinitionFiscalYearMakerImpl" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ec.businessobject.EffortCertificationReportDefinition" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.AccountingPeriod</value>
		  </set>
		</property>
	</bean>
</beans>

