<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="temModuleConfiguration" parent="temModuleConfiguration-parentBean"  >
    </bean>

    <bean id="taxableRamificationNotificationJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="taxableRamificationNotificationStep" />
            </list>
        </property>
    </bean>

    <bean id="agencyDataImportJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="agencyDataImportStep" />
                <ref bean="agencyDataStagingToHistoricalStep" />
            </list>
        </property>
    </bean>

    <bean id="creditCardDataImportJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="creditCardDataImportStep" />
                <ref bean="creditCardDataStagingToHistoricalStep" />
            </list>
        </property>
    </bean>

    <bean id="travelImportedExpenseNotificationJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="travelImportedExpenseNotificationStep" />
            </list>
        </property>
        <property name="dependencies">
            <map>
                <entry key="agencyDataImportJob" value="softDependency" />
            </map>
        </property>
    </bean>

    <bean id="travelPreDisbursementProcessorExtractJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="travelAuthorizationsPreDisbursementProcessorExtractStep"/>
                <ref bean="travelReimbursementsPreDisbursementProcessorExtractStep"/>
                <ref bean="reimbursementsCorporateCardPreDisbursementProcessorExtractStep"/>
            </list>
        </property>
    </bean>

</beans>
