<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Copyright 2005-2009 The Kuali Foundation
	
	Licensed under the Educational Community License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.opensource.org/licenses/ecl2.php 
	
	Unless required by applicable law or agreed to in writing, software 
	distributed under the License is distributed on an "AS IS" BASIS, 
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
	See the License for the specific language governing permissions and 
	limitations under the License. 
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="glOrganizationReversionMockService" class="org.kuali.kfs.gl.batch.service.impl.OrganizationReversionMockServiceImpl" parent="organizationReversionService" />
    
    <bean id="glOrganizationReversionTestProcess" class="org.kuali.kfs.gl.batch.service.impl.OrganizationReversionTestProcess" scope="prototype">
		<property name="organizationReversionService" ref="glOrganizationReversionMockService" />
		<property name="balanceService" ref="glBalanceService" />
		<property name="originEntryService" ref="originEntryService" />
		<property name="persistenceService" ref="persistenceService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="priorYearAccountService" ref="priorYearAccountService" />
		<property name="orgReversionUnitOfWorkService" ref="glOrgReversionUnitOfWorkService" />
		<property name="flexibleOffsetAccountService" ref="flexibleOffsetAccountService" />
		<property name="parameterService" ref="parameterService" />
		<property name="configurationService" ref="kualiConfigurationService" />
		<property name="cashOrganizationReversionCategoryLogic">
			<ref bean="glCashOrganizationReversionCategoryLogic" />
		</property>
		<property name="usePriorYearInformation" value="false" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
    
    <bean id="tableReportWriterService" parent="tableReportWriterService-parentBean"/>
    <bean id="tableReportWriterService-parentBean" parent="reportWriterService" abstract="true">
        <property name="filePath" value="${reports.directory}"/>
        <property name="fileNamePrefix" value="table_report_test_"/>
        <property name="title" value="Test Report As Table"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
            <map>
                <entry key="org.kuali.kfs.gl.businessobject.GlSummary" value="summaryReportHelperForTesting"/>
            </map>
        </property>
    </bean>
    
    <bean id="summaryReportHelperForTesting" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="org.kuali.kfs.gl.businessobject.Balance" />
        <property name="columnCount" value="6" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="fundGroup" value="FUND GROUP"/>
                <entry key="accountLineAnnualBalanceAmount" value="ANNUAL BAL"/>
                <entry key="beginningBalanceLineAmount" value="BEGINNING BAL"/>
                <entry key="contractsGrantsBeginningBalanceAmount" value="CG BEGINNING BAL"/>
                <entry key="month1Amount" value="ACCUM AMT FOR JUL"/>
                <entry key="month2Amount" value="ACCUM AMT FOR AUG"/>
                
                <entry key="EMPTY_CELL1" value=""/>
                <entry key="month3Amount" value="ACCUM AMT FOR SEP"/>
                <entry key="month4Amount" value="ACCUM AMT FOR OCT"/>
                <entry key="month5Amount" value="ACCUM AMT FOR NOV"/>
                <entry key="month6Amount" value="ACCUM AMT FOR DEC"/>
                <entry key="month7Amount" value="ACCUM AMT FOR JAN"/>
                
                <entry key="EMPTY_CELL2" value=""/>
                <entry key="month8Amount" value="ACCUM AMT FOR FEB"/>
                <entry key="month9Amount" value="ACCUM AMT FOR MAR"/>
                <entry key="month10Amount" value="ACCUM AMT FOR APR"/>
                <entry key="month11Amount" value="ACCUM AMT FOR MAY"/>
                <entry key="month12Amount" value="ACCUM AMT FOR JUN"/>
                
                <entry key="EMPTY_CELL3" value=""/>
                <entry key="month13Amount" value="ACCUM AMT FOR CLOSE"/>
            </map>
        </property>
        <property name="columnSpanDefinition">
            <map>
                <entry key="fundGroup" value="4"/>
                <entry key="month1Amount" value="2"/>
                <entry key="month3Amount" value="5"/>
                <entry key="month8Amount" value="5"/>
            </map>
        </property>        
    </bean>
    
    <bean id="colspanTableReportWriterService" parent="colspanTableReportWriterService-parentBean"/>
    <bean id="colspanTableReportWriterService-parentBean" parent="reportWriterService" abstract="true">
        <property name="filePath" value="${reports.directory}"/>
        <property name="fileNamePrefix" value="colspan_table_report_test_"/>
        <property name="title" value="Test Report As Table"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
            <map>
                <entry key="org.kuali.kfs.gl.businessobject.GlSummary" value="colspanSummaryReportHelperForTesting"/>
            </map>
        </property>
    </bean>
       
    <bean id="colspanSummaryReportHelperForTesting" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="org.kuali.kfs.gl.businessobject.Balance" />
        <property name="columnCount" value="6" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="fundGroup" value="FUND GROUP"/>
                <entry key="accountLineAnnualBalanceAmount" value="ANNUAL BAL"/>
                <entry key="beginningBalanceLineAmount" value="BEGINNING BAL"/>
                <entry key="contractsGrantsBeginningBalanceAmount" value="CG BEGINNING BAL"/>
                <entry key="month1Amount" value="ACCUM AMT FOR JUL"/>
                <entry key="month2Amount" value="ACCUM AMT FOR AUG"/>
            </map>
        </property>
        <property name="columnSpanDefinition">
            <map>
                <entry key="fundGroup" value="4"/>
                <entry key="month1Amount" value="2"/>
            </map>
        </property>        
    </bean>
    
    <bean id="testLedgerReportWriterService" parent="testLedgerReportWriterService-parentBean"/>
    <bean id="testLedgerReportWriterService-parentBean" parent="reportWriterService" abstract="true">
        <property name="filePath" value="${reports.directory}"/>
        <property name="fileNamePrefix" value="ledger_report_test_"/>
        <property name="title" value="Test Ledger Report"/>
        <property name="classToBusinessObjectReportHelperBeanNames">
            <map>
                <entry key="org.kuali.kfs.gl.businessobject.LedgerEntryForReporting" value="ledgerReportHelperForTesting"/>
            </map>
        </property>
    </bean>
       
    <bean id="ledgerReportHelperForTesting" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="org.kuali.kfs.gl.businessobject.LedgerEntryForReporting" />
        <property name="columnCount" value="11" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="balanceType" value="BAL TYP"/>
                <entry key="originCode" value="ORIGIN"/>
                <entry key="fiscalYear" value="YEAR"/>
                <entry key="period" value="PERIOD"/>
                <entry key="recordCount" value="REC CNT"/>
                <entry key="debitAmount" value="DEBIT AMT"/>
                <entry key="debitCount" value="DEBIT CNT"/>
                <entry key="creditAmount" value="CREDIT AMT"/>
                <entry key="creditCount" value="CREDIT CNT"/>
                <entry key="noDCAmount" value="No D/C AMT"/>
                <entry key="noDCCount" value="NO D/C CNT"/>
            </map>
        </property>
        <property name="columnSpanDefinition">
            <map>
                <entry key="balanceType" value="4"/>
            </map>
        </property>        
    </bean>    
        
    <bean id="mockReportWriterService" class="org.kuali.kfs.gl.service.impl.MockReportWriterService" />
    
    <bean id="glSufficientFundsAccountUpdateService" class="org.kuali.kfs.gl.batch.service.impl.SufficientFundsAccountUpdateServiceImpl">
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="configurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="balanceDao">
			<ref bean="glBalanceDao" />
		</property>
		<property name="sufficientFundBalancesDao">
			<ref bean="glSufficientFundBalancesDao" />
		</property>
		<property name="sufficientFundRebuildDao">
			<ref bean="glSufficientFundRebuildDao" />
		</property>
		<property name="reportWriterService" ref="mockReportWriterService" />
		<property name="accountService">
			<ref bean="accountService" />
		</property>
		<property name="sufficientFundsService">
			<ref bean="sufficientFundsService" />
		</property>
		<property name="businessObjectService" ref="businessObjectService" />
	</bean>
	
	<bean id="glNightlyOutService" class="org.kuali.kfs.gl.batch.service.impl.NightlyOutServiceImpl">
		<property name="generalLedgerPendingEntryService">
			<ref bean="generalLedgerPendingEntryService" />
		</property>
		<property name="originEntryService">
			<ref bean="originEntryService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
		<property name="dataDictionaryService" ref="dataDictionaryService" />
		<property name="pendingEntryListReportWriterService" ref="mockReportWriterService" />
		<property name="pendingEntrySummaryReportWriterService" ref="mockReportWriterService" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
	
	<bean id="glScrubberService" class="org.kuali.kfs.gl.service.impl.ScrubberServiceImpl">
		<property name="scrubberProcess">
			<ref bean="mockScrubberProcess"/>
		</property>
		<property name="demergerScrubberProcess">
			<ref bean="mockDemergerScrubberProcess"/>
		</property>
		<property name="reportOnlyScrubberProcess">
			<ref bean="mockReportOnlyScrubberProcess"/>
		</property>	
	
<!--		<property name="flexibleOffsetAccountService">-->
<!--			<ref bean="flexibleOffsetAccountService" />-->
<!--		</property>-->
<!--		<property name="originEntryService">-->
<!--			<ref bean="originEntryService" />-->
<!--		</property>-->
<!--		<property name="dateTimeService">-->
<!--			<ref bean="dateTimeService" />-->
<!--		</property>-->
<!--		<property name="offsetDefinitionService">-->
<!--			<ref bean="offsetDefinitionService" />-->
<!--		</property>-->
<!--		<property name="objectCodeService">-->
<!--			<ref bean="objectCodeService" />-->
<!--		</property>-->
<!--		<property name="configurationService">-->
<!--			<ref bean="kualiConfigurationService" />-->
<!--		</property>-->
<!--		<property name="universityDateDao">-->
<!--			<ref bean="universityDateDao" />-->
<!--		</property>-->
<!--		<property name="originEntryGroupService">-->
<!--			<ref bean="originEntryGroupService" />-->
<!--		</property>-->
<!--		<property name="persistenceService">-->
<!--			<ref bean="persistenceService" />-->
<!--		</property>-->
<!--		<property name="scrubberValidator">-->
<!--			<ref bean="scrubberValidator" />-->
<!--		</property>-->
<!--		<property name="scrubberProcessObjectCodeOverride">-->
<!--			<ref bean="glScrubberProcessObjectCodeOverride" />-->
<!--		</property>-->
<!--		<property name="runDateService">-->
<!--			<ref bean="glRunDateService" />-->
<!--		</property>-->
<!--		<property name="accountingCycleCachingService">-->
<!--		  	<ref bean="accountingCycleCachingService" />-->
<!--		</property>-->
<!--		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>-->
<!--		<property name="collectorFileDirectoryName" value="${staging.directory}/gl/test_directory/collector"/>-->
<!--		<property name="demergerReportWriterService" ref="mockReportWriterService" />-->
<!--		<property name="scrubberReportWriterService" ref="mockReportWriterService" />-->
<!--		<property name="scrubberLedgerReportWriterService" ref="mockReportWriterService" />-->
<!--		<property name="scrubberListingReportWriterService" ref="mockReportWriterService" />-->
<!--		<property name="scrubberBadBalanceListingReportWriterService" ref="mockReportWriterService" />-->
<!--		<property name="scrubberReportOnlyWriterService" ref="mockReportWriterService" />-->
<!--		<property name="demergerRemovedTransactionsListingReportWriterService" ref="mockReportWriterService" />-->
	</bean>
	
	<bean id="mockReportOnlyScrubberProcess" parent="reportOnlyScrubberProcess" scope="prototype">
	     
		<property name="scrubberReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberLedgerReportWriterService" ref="mockReportWriterService" />
		<property name="scrubberListingReportWriterService" ref="mockReportWriterService" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
	
	<bean id="mockScrubberProcess" parent="scrubberProcess" scope="prototype">
		
		<property name="scrubberReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberLedgerReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberBadBalanceListingReportWriterService" ref="mockReportWriterService" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
	
	<bean id="mockDemergerScrubberProcess" parent="demergerScrubberProcess" scope="prototype">
	
		<property name="scrubberReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberLedgerReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberBadBalanceListingReportWriterService" ref="mockReportWriterService" />
		<property name="demergerReportWriterService" ref="mockReportWriterService" />
		<property name="demergerRemovedTransactionsListingReportWriterService" ref="mockReportWriterService" />
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
	
	<bean id="mockBatchScrubberProcess" parent="batchScrubberProcess" scope="prototype">
	
		<property name="scrubberReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberLedgerReportWriterService" ref="mockReportWriterService" />
        <property name="scrubberBadBalanceListingReportWriterService" ref="mockReportWriterService" />
        <property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
	</bean>
	
	
	
	<bean id="glMockPosterService" parent="glPosterService">
		<property name="batchFileDirectoryName" value="${staging.directory}/gl/test_directory/originEntry"/>
		<property name="reportWriterService">
			<ref bean="mockReportWriterService" />
		</property>
		<property name="errorListingReportWriterService">
			<ref bean="mockReportWriterService" />
		</property>
		<property name="ledgerSummaryReportWriterService">
			<ref bean="mockReportWriterService" />
		</property>
		<property name="reversalReportWriterService">
			<ref bean="mockReportWriterService" />
		</property>
	</bean>
	            
    <bean id="mockMailService" class="org.kuali.kfs.gl.batch.service.impl.MockMailServiceImpl"/>     

	<bean id="testDateTimeService" class="org.kuali.kfs.sys.service.impl.ConfigurableDateTimeServiceImpl">
		<!-- just need to make sure this property is not null -->
		<property name="currentDate" value="2010-01-01" />
	</bean>
	<alias name="testDateTimeService" alias="dateTimeService"/>

	<bean id="dateEditor"
		class="org.springframework.beans.propertyeditors.CustomDateEditor">
	
		<constructor-arg>
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg value="yyyy-MM-dd" />
			</bean>
		</constructor-arg>
		<constructor-arg value="true" />
	
	</bean>

	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<ref local="dateEditor" />
				</entry>
			</map>
		</property>
	</bean>
           
</beans>
