<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="ldModuleConfiguration" parent="ldModuleConfiguration-parentBean" />
    
    <bean id="ldModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-LD"/>
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.ld</value>
                <value>org.kuali.kfs.integration.ld</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/module/ld/businessobject/datadictionary</value>
                <value>org/kuali/kfs/module/ld/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/ld/ojb-ld.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/kfs/module/ld/dwr-ld.xml</value>
			</list>
		</property>
		
		<property name="jobNames">
			<list>
				<value>laborNightlyOutJob</value>
				<value>laborScrubberJob</value>
				<value>laborPosterJob</value>
				<value>laborFeedJob</value>
				<value>clearLaborPendingEntriesJob</value>
				<value>laborBalanceForwardJob</value>
				<value>clearOldLaborOriginEntriesJob</value>
				<value>laborPurgeJob</value>
				
			</list>
		</property>
		<property name="fiscalYearMakers">
          <list>
            <ref bean="benefitsCalculationFiscalYearMaker" />
            <ref bean="laborObjectDefinitionFiscalYearMaker" />
            <ref bean="positionObjectBenefitDefinitionFiscalYearMaker" />
          </list>	
        </property>  
		<property name="externalizableBusinessObjectImplementations">
            <map>
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerBalance" value="org.kuali.kfs.module.ld.businessobject.LedgerBalance" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerBalanceForEffortCertification" value="org.kuali.kfs.module.ld.businessobject.LedgerBalanceForEffortCertification" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerBenefitsCalculation" value="org.kuali.kfs.module.ld.businessobject.BenefitsCalculation" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerBenefitsType" value="org.kuali.kfs.module.ld.businessobject.BenefitsType" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerEntry" value="org.kuali.kfs.module.ld.businessobject.LedgerEntry" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerObject" value="org.kuali.kfs.module.ld.businessobject.LaborObject" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerPositionObjectBenefit" value="org.kuali.kfs.module.ld.businessobject.PositionObjectBenefit" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerPositionObjectGroup" value="org.kuali.kfs.module.ld.businessobject.PositionObjectGroup" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerExpenseTransferSourceAccountingLine" value="org.kuali.kfs.module.ld.businessobject.ExpenseTransferSourceAccountingLine" />
				<entry key="org.kuali.kfs.integration.ld.LaborLedgerExpenseTransferTargetAccountingLine" value="org.kuali.kfs.module.ld.businessobject.ExpenseTransferTargetAccountingLine" />
            </map>
        </property> 
	</bean>

    <bean id="ldModuleService" parent="ldModuleService-parentBean"/>

    <bean id="ldModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="ldModuleConfiguration" />
	</bean>

    <!--  Section 1: Spring Beans for Business Objects -->
		
	<bean id="laborLedgerPendingEntryService" class="org.kuali.kfs.module.ld.service.impl.LaborLedgerPendingEntryServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="laborLedgerPendingEntryDao">
			<ref bean="laborLedgerPendingEntryDao" />
		</property>	
	</bean>

    <bean id="laborGeneralLedgerEntryService" class="org.kuali.kfs.module.ld.service.impl.LaborGeneralLedgerEntryServiceImpl">
        <property name="laborGeneralLedgerEntryDao">
            <ref bean="laborGeneralLedgerEntryDao" />
        </property>
        <property name="laborDao">
			<ref bean="laborDao" />
		</property>	
    </bean>
    
    <bean id="laborLedgerEntryService" class="org.kuali.kfs.module.ld.service.impl.LaborLedgerEntryServiceImpl">
        <property name="laborLedgerEntryDao">
            <ref bean="laborLedgerEntryDao" />
        </property>
        <property name="laborCachingDao">
		  	<ref bean="laborCachingDao" />
		</property>
    </bean>
    
	<bean id="laborOriginEntryService" class="org.kuali.kfs.module.ld.service.impl.LaborOriginEntryServiceImpl">
		<property name="laborOriginEntryDao">
			<ref bean="laborOriginEntryDao" />
		</property>
		<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="originEntryDao">
			<ref bean="originEntryDao" />
		</property>
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>

	<bean id="laborPositionObjectBenefitService" class="org.kuali.kfs.module.ld.service.impl.LaborPositionObjectBenefitServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="laborBenefitsTypeService" class="org.kuali.kfs.module.ld.service.impl.LaborBenefitsTypeServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="laborBenefitsCalculationService" class="org.kuali.kfs.module.ld.service.impl.LaborBenefitsCalculationServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="laborPositionObjectBenefitService">
			<ref bean="laborPositionObjectBenefitService" />
		</property>
	</bean>
			
	<bean id="laborBaseFundsService" class="org.kuali.kfs.module.ld.service.impl.LaborBaseFundsServiceImpl">
		<property name="laborBaseFundsDao">
			<ref bean="laborBaseFundsDao" />
		</property>
		<property name="laborCalculatedSalaryFoundationTrackerService">
			<ref bean="laborCalculatedSalaryFoundationTrackerService" />
		</property>
	</bean>	
			
	<bean id="laborLedgerBalanceService" class="org.kuali.kfs.module.ld.service.impl.LaborLedgerBalanceServiceImpl">
		<property name="laborLedgerBalanceDao">
			<ref bean="laborLedgerBalanceDao" />
		</property>
		<property name="laborCalculatedSalaryFoundationTrackerService">
			<ref bean="laborCalculatedSalaryFoundationTrackerService" />
		</property>
	</bean>
	
	<bean id="laborObjectService" class="org.kuali.kfs.module.ld.service.impl.LaborObjectServiceImpl">
		<property name="laborObjectDao">
			<ref bean="laborObjectDao" />
		</property>
	</bean>
	
    <!-- Section 2: Spring Beans for DAO -->

	<bean id="laborOriginEntryDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborOriginEntryDaoOjb">
	    <property name="entryClass" value="org.kuali.kfs.module.ld.businessobject.LaborOriginEntry"/>
            </bean>
	
    <bean id="laborLedgerEntryDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborLedgerEntryDaoOjb" />

    <bean id="laborGeneralLedgerEntryDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborGeneralLedgerEntryDaoOjb" />

	<bean id="laborLedgerBalanceDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborLedgerBalanceDaoOjb">
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
	</bean>
			
	<bean id="laborBaseFundsDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborBaseFundsDaoOjb" />
	<bean id="laborCalculatedSalaryFoundationTrackerDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborCalculatedSalaryFoundationTrackerDaoOjb" />
	<bean id="laborLedgerPendingEntryDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborLedgerPendingEntryDaoOjb" />
	
	<bean id="laborObjectDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborObjectDaoOjb" />
	
    <!-- Section 3: Spring Bean for Batch processes -->
    
    <bean id="laborNightlyOutService" class="org.kuali.kfs.module.ld.batch.service.impl.LaborNightlyOutServiceImpl">
    	<property name="laborLedgerPendingEntryService">
            <ref bean="laborLedgerPendingEntryService" />
        </property>
        <property name="originEntryGroupService">
            <ref bean="originEntryGroupService" />
        </property>               
        <property name="laborReportService">
            <ref bean="laborReportService" />
        </property>

        <property name="dateTimeService">
            <ref bean="dateTimeService" />
        </property>
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
        <property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
        <property name="batchGlFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
    </bean>

	<bean id="laborScrubberService" class="org.kuali.kfs.module.ld.batch.service.impl.LaborScrubberServiceImpl">
		<property name="flexibleOffsetAccountService">
			<ref bean="flexibleOffsetAccountService" />
		</property>
		<property name="laborOriginEntryService">
			<ref bean="laborOriginEntryService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="offsetDefinitionService">
			<ref bean="offsetDefinitionService" />
		</property>
		<property name="objectCodeService">
			<ref bean="objectCodeService" />
		</property>
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="universityDateDao">
			<ref bean="universityDateDao" />
		</property>
		<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
		<property name="persistenceService">
			<ref bean="persistenceService" />
		</property>
		<property name="laborReportService">
			<ref bean="laborReportService" />
		</property>
		<property name="scrubberValidator">
			<ref bean="laborScrubberValidator" />
		</property>
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
    <bean id="laborScrubberValidator" class="org.kuali.kfs.module.ld.batch.service.impl.ScrubberValidatorImpl">
        <property name="scrubberValidator">
            <ref bean="scrubberValidator" />
        </property>
        <property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="accountService">
			<ref bean="accountService" />
		</property>
		<property name="persistenceService">
			<ref bean="persistenceService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="balanceTypService">
			<ref bean="balanceTypService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>
		
    </bean>
    
    <bean id="laborOriginEntryLookupService" class="org.kuali.kfs.module.ld.service.impl.LaborOriginEntryLookupServiceImpl" singleton="false">
		<property name="laborCachingDao">
		  	<ref bean="laborCachingDao" />
		</property>
		<property name="cachingDao">
		  	<ref bean="cachingDao" />
		</property>
	</bean>
	
	
	<bean id="laborCachingDao" parent="platformAwareDaoJdbc" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborCachingDaoJdbc" init-method="init" >
	</bean>
	
	
    <bean id="laborPosterService" class="org.kuali.kfs.module.ld.batch.service.impl.LaborPosterServiceImpl">
        <property name="laborOriginEntryService">
            <ref bean="laborOriginEntryService" />
        </property>
        <property name="originEntryGroupService">
            <ref bean="originEntryGroupService" />
        </property>

        <property name="dateTimeService">
            <ref bean="dateTimeService" />
        </property>
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>

        <property name="laborReportService">
            <ref bean="laborReportService" />
        </property>
        <property name="laborPosterTransactionValidator">
            <ref bean="laborPosterTransactionValidator" />
        </property>

        <property name="laborLedgerEntryPoster">
            <ref bean="laborLedgerEntryPoster" />
        </property>
        <property name="laborLedgerBalancePoster">
            <ref bean="laborLedgerBalancePoster" />
        </property>
        <property name="laborGLLedgerEntryPoster">
            <ref bean="laborGLLedgerEntryPoster" />
        </property>
        <property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
    </bean>
    
    <bean id="laborBalanceSummaryReportService" class="org.kuali.kfs.module.ld.batch.service.impl.LaborBalanceSummaryReportServiceImpl">
        <property name="dateTimeService">
            <ref bean="dateTimeService" />
        </property>
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
        <property name="optionsService">
			<ref bean="optionsService" />
		</property>	
        <property name="laborReportService">
            <ref bean="laborReportService" />
        </property>
    </bean>    

    <bean id="laborReportService" class="org.kuali.kfs.module.ld.service.impl.LaborReportServiceImpl">
        <property name="laborOriginEntryService">
            <ref bean="laborOriginEntryService" />
        </property>
        <property name="originEntryGroupService">
            <ref bean="originEntryGroupService" />
        </property>
        <property name="originEntryService">
            <ref bean="originEntryService" />
        </property>
        <property name="laborLedgerBalanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>	
    </bean>

    <bean id="laborLedgerEntryPoster" class="org.kuali.kfs.module.ld.batch.service.impl.LaborLedgerEntryPoster">
        <property name="laborLedgerEntryService">
            <ref bean="laborLedgerEntryService" />
        </property>
    </bean>

    <bean id="laborLedgerBalancePoster" class="org.kuali.kfs.module.ld.batch.service.impl.LaborLedgerBalancePoster">
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
        <property name="laborLedgerBalanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>	
    </bean>

    <bean id="laborGLLedgerEntryPoster" class="org.kuali.kfs.module.ld.batch.service.impl.LaborGLLedgerEntryPoster">
        <property name="laborGeneralLedgerEntryService">
            <ref bean="laborGeneralLedgerEntryService" />
        </property>
    </bean>

    <bean id="laborPosterTransactionValidator" class="org.kuali.kfs.module.ld.batch.service.impl.LaborPosterTransactionValidator"/> 
		
	<bean id="laborYearEndBalanceForwardService" class="org.kuali.kfs.module.ld.batch.service.impl.LaborYearEndBalanceForwardServiceImpl">
        <property name="laborLedgerBalanceService">
            <ref bean="laborLedgerBalanceService" />
        </property>
        <property name="originEntryGroupService">
            <ref bean="originEntryGroupService" />
        </property>
        <property name="laborOriginEntryService">
            <ref bean="laborOriginEntryService" />
        </property>        
        <property name="optionsService">
            <ref bean="optionsService" />
        </property>
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
        
        <property name="dateTimeService">
            <ref bean="dateTimeService" />
        </property>
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
        <property name="laborReportService">
            <ref bean="laborReportService" />
        </property>
        <property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
    </bean>
        	
	<bean id="laborNightlyOutStep" class="org.kuali.kfs.module.ld.batch.LaborNightlyOutStep" parent="step">
		<property name="laborNightlyOutService">
			<ref bean="laborNightlyOutService" />
		</property>
	</bean>  
	
	<bean id="clearLaborPendingStep" class="org.kuali.kfs.module.ld.batch.ClearLaborPendingStep" parent="step">
		<property name="laborNightlyOutService">
			<ref bean="laborNightlyOutService" />
		</property>
	</bean>  
		
	<bean id="laborClearGLEntryStep" class="org.kuali.kfs.module.ld.batch.ClearLaborGLEntryStep" parent="step">
		<property name="laborNightlyOutService">
			<ref bean="laborNightlyOutService" />
		</property>
	</bean> 
		
	<bean id="laborFeedStep" class="org.kuali.kfs.module.ld.batch.LaborFeedStep" parent="step">
		<property name="laborNightlyOutService">
			<ref bean="laborNightlyOutService" />
		</property>
	</bean> 

	<bean id="createLaborBackupGroupStep" class="org.kuali.kfs.module.ld.batch.CreateLaborBackupGroupStep" parent="step" />         
           
	<bean id="laborScrubberStep" class="org.kuali.kfs.module.ld.batch.LaborScrubberStep" parent="step">
		<property name="laborScrubberService">
			<ref bean="laborScrubberService" />
		</property>
	</bean>
	
	<bean id="laborPosterStep" class="org.kuali.kfs.module.ld.batch.LaborPosterStep" parent="step">
		<property name="laborPosterService">
			<ref bean="laborPosterService" />
		</property>
	</bean>
		           
	<bean id="laborBalanceSummaryStep" class="org.kuali.kfs.module.ld.batch.LaborBalanceSummaryStep" parent="step">
		<property name="laborBalanceSummaryReportService">
			<ref bean="laborBalanceSummaryReportService" />
		</property>
	</bean>
	  
    <bean id="laborYearEndBalanceForwardStep" class="org.kuali.kfs.module.ld.batch.LaborYearEndBalanceForwardStep" parent="step">
		<property name="laborYearEndBalanceForwardService">
			<ref bean="laborYearEndBalanceForwardService" />
		</property>
	</bean>
	
	<bean id="laborPurgeEntryStep" class="org.kuali.kfs.module.ld.batch.LaborPurgeEntryStep" parent="step">
		<property name="laborLedgerEntryService">
			<ref bean="laborLedgerEntryService" />
		</property>
		<property name="chartService">
			<ref bean="chartService" />
		</property>
	</bean>

	<bean id="laborPurgeBalanceStep" class="org.kuali.kfs.module.ld.batch.LaborPurgeBalanceStep" parent="step">
		<property name="laborLedgerBalanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>
		<property name="chartService">
			<ref bean="chartService" />
		</property>
	</bean>
	
	<bean id="laborPurgeJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborPurgeBalanceStep"/>
				<ref bean="laborPurgeEntryStep"/>
			</list>
		</property>
	</bean>
	
	<bean id="laborNightlyOutJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborNightlyOutStep"/>
			</list>
		</property>
	</bean>
	
	<bean id="laborScrubberJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="createLaborBackupGroupStep"/>
				<ref bean="laborScrubberSortStep"/>
				<ref bean="laborScrubberStep"/>
				<ref bean="laborDemergerSortStep" />
				<ref bean="laborDemergerStep" />
				
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="laborNightlyOutJob" value="hardDependency"/>
			</map>
		</property>
	</bean>	
	
	<bean id="laborDemergerStep" class="org.kuali.kfs.module.ld.batch.LaborDemergerStep" parent="step">
		<property name="laborScrubberService">
			<ref bean="laborScrubberService" />
		</property>
	</bean>
	
	<bean id="laborScrubberSortStep" class="org.kuali.kfs.module.ld.batch.LaborScrubberSortStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
	<bean id="laborDemergerSortStep" class="org.kuali.kfs.module.ld.batch.LaborDemergerSortStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
	<bean id="laborPosterSortStep" class="org.kuali.kfs.module.ld.batch.LaborPosterSortStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
	<bean id="laborFileRenameStep" class="org.kuali.kfs.module.ld.batch.LaborFileRenameStep" parent="step">
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
	<bean id="laborPosterJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborPosterSortStep"/>
				<ref bean="laborPosterStep"/>
				<ref bean="laborBalanceSummaryStep"/>
				<ref bean="laborFileRenameStep"/>
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="laborScrubberJob" value="hardDependency" />
			</map>
		</property>
	</bean>
	
	<bean id="laborFeedJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborFeedStep" />
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="laborPosterJob" value="hardDependency" />
			</map>
		</property>
	</bean>
	
	<bean id="clearLaborPendingEntriesJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborClearGLEntryStep"/>	
				<ref bean="clearLaborPendingStep"/>
			</list>
		</property>
		<property name="dependencies">
			<map>
				<entry key="laborFeedJob" value="hardDependency" />
			</map>
		</property>
	</bean>
	
	<bean id="laborBalanceForwardJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="laborYearEndBalanceForwardStep"/>
			</list>
		</property>
	</bean>
        
    <!-- Section 4: Spring Bean for Balance Inquiry -->  
	<bean id="laborPendingEntryLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborPendingEntryLookupableHelperService" />
		</property>
	</bean>

	<bean id="laborPendingEntryLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LaborPendingEntryLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborLedgerPendingEntryService">
			<ref bean="laborLedgerPendingEntryService" />
		</property>		
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>
    </bean> 
    
    <bean id="laborLedgerBalanceLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerBalanceLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="balanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>		
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>
	</bean>
	
	<bean id="laborLedgerBalanceLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerBalanceLookupableHelperService" />
		</property>
	</bean>	
	
	<bean id="laborLedgerBalanceForBenefitExpenseTransferLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerBalanceForBenefitExpenseTransferLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="balanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>		
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>	
	</bean>
	
    <bean id="laborLedgerBalanceForSalaryExpenseTransferLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerBalanceForSalaryExpenseTransferLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="balanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>		
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>	
	</bean>
			
    <bean id="laborLedgerEntryForExpenseTransferLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerEntryForExpenseTransferLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>	
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>
	
	<bean id="laborLedgerEntryLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerEntryLookupableHelperService" />
		</property>
	</bean>	
	
    <bean id="laborLedgerEntryLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerEntryLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>	
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>		
	</bean>
	
	<bean id="laborLedgerEntryForExpenseTransferLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerEntryForExpenseTransferLookupableHelperService" />
		</property>
	</bean>		
	
	<bean id="laborLedgerBalanceForSalaryExpenseTransferLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerBalanceForSalaryExpenseTransferLookupableHelperService" />
		</property>
	</bean>	
	
    <bean id="laborLedgerBalanceForBenefitExpenseTransferLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerBalanceForBenefitExpenseTransferLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="laborCalculatedSalaryFoundationTrackerLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborCalculatedSalaryFoundationTrackerLookupableHelperService" />
		</property>
	</bean>	
	
	<bean id="laborCalculatedSalaryFoundationTrackerLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LaborCalculatedSalaryFoundationTrackerLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>	
		<property name="laborCalculatedSalaryFoundationTrackerService">
			<ref bean="laborCalculatedSalaryFoundationTrackerService" />
		</property>
	</bean>	
	
	<bean id="laborPositionDataLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.PositionDataLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>		
	</bean>
	
	<bean id="laborPositionDataLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborPositionDataLookupableHelperService" />
		</property>
	</bean>	
	
	<bean id="laborCalculatedSalaryFoundationTrackerService" class="org.kuali.kfs.module.ld.service.impl.LaborCalculatedSalaryFoundationTrackerServiceImpl">
		<property name="laborCalculatedSalaryFoundationTrackerDao">
			<ref bean="laborCalculatedSalaryFoundationTrackerDao" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>		
	</bean>		
	
	<bean id="CurrentFundsLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="CurrentFundsLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="CurrentFundsLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.CurrentFundsLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>
		<property name="balanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>		
		<property name="laborDao">
			<ref bean="laborDao" />
		</property>		
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>	
	</bean>    	
	
	<bean id="BaseFundsLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="BaseFundsLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="BaseFundsLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.BaseFundsLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>	
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborBaseFundsService">
			<ref bean="laborBaseFundsService" />
		</property>		
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>
	</bean>    	

	<bean id="EmployeeFundingLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="EmployeeFundingLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="EmployeeFundingLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.EmployeeFundingLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborLedgerBalanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>	
		<property name="laborInquiryOptionsService">
			<ref bean="laborInquiryOptionsService" />
		</property>	
		<property name="laborLedgerPendingEntryService">
			<ref bean="laborLedgerPendingEntryService" />
		</property>		
	</bean>

	<bean id="segmentedLookupResultsService" class="org.kuali.kfs.module.ld.service.impl.SegmentedLookupResultsServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
        <property name="dateTimeService">
            <ref bean="dateTimeService"/>
        </property>
	</bean>

	<bean id="laborDao" parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.LaborDaoOjb" />
	
	<bean id="laborCorrectionDocumentService" class="org.kuali.kfs.module.ld.document.service.impl.LaborCorrectionDocumentServiceImpl">
		<property name="correctionChangeGroupDao">
			<ref bean="glCorrectionChangeGroupDao" />
		</property>
		<property name="correctionChangeDao">
			<ref bean="glCorrectionChangeDao" />
		</property>
		<property name="correctionCriteriaDao">
			<ref bean="glCorrectionCriteriaDao" />
		</property>
		<property name="documentDao">
			<ref bean="documentDao" />
		</property>
		<property name="laborOriginEntryService">
			<ref bean="laborOriginEntryService" />
		</property>
			<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
		<property name="llcpDirectoryName" value="${staging.directory}/ld/correctionProcess"/>
		<property name="batchFileDirectoryName" value="${staging.directory}/ld/originEntry"/>
	</bean>
	
	<bean id="laborInquiryOptionsService" class="org.kuali.kfs.module.ld.service.impl.LaborInquiryOptionsServiceImpl">
		<property name="laborLedgerPendingEntryService">
			<ref bean="laborLedgerPendingEntryService" />
		</property>	
		<property name="laborLedgerBalanceService">
			<ref bean="laborLedgerBalanceService" />
		</property>	
	</bean>

	<bean id="july1PositionFundingLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="july1PositionFundingLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="july1PositionFundingLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.July1PositionFundingLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="laborDao">
			<ref bean="laborDao" />
		</property>		
	</bean>   
	
	<bean id="salaryTransferPeriodValidationService" class="org.kuali.kfs.module.ld.document.service.impl.SalaryTransferPeriodValidationServiceImpl">
		<property name="effortCertificationService">
			<ref bean="effortCertificationService" />
		</property>	
		<property name="documentService">
			<ref bean="documentService" />
		</property>	
		<property name="noteService">
			<ref bean="noteService" />
		</property>	
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>	
		<property name="personService">
			<ref bean="personService" />
		</property>	
	</bean>	
		
	<bean id="expenseTransferAccountingLineService" class="org.kuali.kfs.sys.service.impl.AccountingLineServiceImpl">
		<property name="accountingLineDao">
			<bean parent="platformAwareDao" class="org.kuali.kfs.module.ld.dataaccess.impl.ExpenseTransferAccountingLineDaoOjb" />
		</property>
	</bean>
	
    <bean id="positionObjectBenefitLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.PositionObjectBenefitLookupableHelperServiceImpl" singleton="false" parent="lookupableHelperService" />

	<bean id="positionObjectBenefitLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="positionObjectBenefitLookupableHelperService" />
		</property>
	</bean>	

	
	<bean id="laborPositionFundingLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.PositionFundingLookupableHelperServiceImpl" singleton="false">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>		
	</bean>
	
	<bean id="laborPositionFundingLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborPositionFundingLookupableHelperService" />
		</property>
	</bean>
			
	<bean id="laborLedgerBalanceForEffortCertificationLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" singleton="false">
		<property name="lookupableHelperService">
			<ref bean="laborLedgerBalanceForEffortCertificationLookupableHelperService" />
		</property>
	</bean>

	<bean id="laborLedgerBalanceForEffortCertificationLookupableHelperService" class="org.kuali.kfs.module.ld.businessobject.lookup.LedgerBalanceForEffortCertificationLookupableHelperServiceImpl" autowire="byName" singleton="false"/>
	
	<bean id="benefitsCalculationFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ld.businessobject.BenefitsCalculation" /> 
	    <property name="carryForwardInactive" value="true" />
	</bean>	
	
    <bean id="laborObjectDefinitionFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ld.businessobject.LaborObject" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.ObjectCode</value>
		  </set>
		</property>	
		<property name="carryForwardInactive" value="true" />
	</bean>	
	
	<bean id="positionObjectBenefitDefinitionFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.ld.businessobject.PositionObjectBenefit" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.module.ld.businessobject.BenefitsCalculation</value>
		  </set>
		</property>	
	</bean>	
	
	<!-- validations -->
	<import resource="document/validation/configuration/LaborValidations.xml" />
	<import resource="document/validation/configuration/SalaryExpenseTransferValidations.xml" />
	<import resource="document/validation/configuration/BenefitExpenseTransferValidations.xml" />
	<import resource="document/validation/configuration/LaborJournalVoucherValidations.xml" />
	
	<!-- not exist
	<import resource="document/validation/configuration/YearEndSalaryExpenseTransferValidations.xml" />
	-->
			
	<bean id="clearOldLaborOriginEntriesJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="clearOldLaborOriginEntryStep" />
			</list>
		</property>		
	</bean>
			
			
	<bean id="clearOldLaborOriginEntryStep" class="org.kuali.kfs.module.ld.batch.ClearOldLaborOriginEntryStep" parent="step">
		<property name="originEntryGroupService">
			<ref bean="originEntryGroupService" />
		</property>
	</bean>
			
</beans>


