<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="camModuleConfiguration" parent="camModuleConfiguration-parentBean">
        <property name="packagePrefixes">
            <list merge="true">
                <value>edu.arizona.kfs.module.cam</value>
                <value>edu.arizona.kfs.integration.cam</value>
            </list>
        </property>
        <property name="dataDictionaryPackages">
            <list merge="true">
                <value>classpath:edu/arizona/kfs/module/cam/document/datadictionary/*.xml</value>
                <value>classpath:edu/arizona/kfs/module/cam/businessobject/datadictionary/*.xml</value>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths" >
        	<list merge="true">
        		<value>edu/arizona/kfs/module/cam/ojb-cam.xml</value>
        	</list>
        </property>
    </bean>

    <bean id="assetDepreciationBatchJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="assetDepreciationStep" />
            </list>
        </property>
    </bean>
    
    <bean id="assetService"  parent="assetService-parentBean" class="edu.arizona.kfs.module.cam.document.service.impl.AssetServiceImpl">
    	<property name="parameterService" ref="parameterService" />
    	<property name="paymentSummaryService" ref="paymentSummaryService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>
    
    <bean id="assetTransferService" parent="assetTransferService-parentBean" class="edu.arizona.kfs.module.cam.document.service.impl.AssetTransferServiceImpl" />
    
    <bean id="assetGlobalService" parent="assetGlobalService-parentBean" class="edu.arizona.kfs.module.cam.document.service.impl.AssetGlobalServiceImpl" />

    <bean id="assetRetirementReasonLookupableHelperService" scope="prototype" parent="assetRetirementReasonLookupableHelperService-parentBean" class="edu.arizona.kfs.module.cam.businessobject.lookup.AssetRetirementReasonLookupableHelperServiceImpl"/>
    
    <bean id="assetLookupableHelperService" scope="prototype" parent="assetLookupableHelperService-parentBean" class="edu.arizona.kfs.module.cam.businessobject.lookup.AssetLookupableHelperServiceImpl"/>
    
</beans>
