<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="purapModuleConfiguration" parent="purapModuleConfiguration-parentBean">
		<property name="packagePrefixes">
			<list merge="true">
				<value>edu.arizona.kfs.module.purap</value>
			</list>
		</property>
		<property name="dataDictionaryPackages">
			<list merge="true">
				<value>classpath:edu/arizona/kfs/module/purap/document/datadictionary/*.xml</value>
				<value>classpath:edu/arizona/kfs/module/purap/businessobject/datadictionary/*.xml</value>
			</list>
		</property>
        <property name="triggerNames">
            <list>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths">
            <list merge="true">
                <value>edu/arizona/kfs/module/purap/ojb-purap.xml</value>
            </list>
        </property>
        <property name="jobNames">
            <list merge="true">
            	<value>batchPayeeFormJob</value>
                <value>payeeMasterExtractJob</value>
            </list>
        </property>
        <property name="batchFileDirectories">
            <list merge="true">
                <value>${staging.directory}/1099</value>
                <value>${reports.directory}/tax</value>
                <value>${staging.directory}/tax</value>
            </list>
        </property>
	</bean>

    <import resource="document/validation/configuration/RequisitionValidation.xml"/>
    <import resource="document/validation/configuration/PurapValidatorDefinitions.xml"/>
	<import resource="document/validation/configuration/VendorCreditMemoValidation.xml"/>

    <bean id="faxPendingDocumentJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="faxPendingDocumentStep" />
            </list>
        </property>
    </bean>

    <bean id="autoClosePurchaseOrdersJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="autoClosePurchaseOrdersStep" />
            </list>
        </property>
    </bean>

    <bean id="autoCloseRecurringOrdersJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="autoCloseRecurringOrdersStep" />
            </list>
        </property>
    </bean>

    <bean id="purchasingPreDisbursementImmediatesExtractJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="purchasingPreDisbursementImmediatesExtractStep" />
            </list>
        </property>
    </bean>

    <bean id="approveLineItemReceivingJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="approveLineItemReceivingStep" />
            </list>
        </property>
    </bean>

    <bean id="purchasingPreDisbursementExtractJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="purchasingPreDisbursementImmediatesExtractStep" />
                <ref bean="purchasingPreDisbursementExtractStep" />
            </list>
        </property>
        <property name="dependencies">
            <map>
                <entry key="autoApprovePaymentRequestsJob" value="softDependency" />
            </map>
        </property>
    </bean>

    <bean id="autoApprovePaymentRequestsJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="autoApprovePaymentRequestsStep" />
            </list>
        </property>
        <property name="dependencies">
            <map>
                <entry key="receivingPaymentRequestJob" value="softDependency" />
            </map>
        </property>
    </bean>

    <bean id="receivingPaymentRequestJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="receivingPaymentRequestStep" />
            </list>
        </property>
    </bean>

    <bean id="electronicInvoiceExtractJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="electronicInvoiceExtractStep" />
            </list>
        </property>
    </bean>
    
    <bean id="purapUseTaxEntryArchiveService" class="edu.arizona.kfs.module.purap.service.impl.PurapUseTaxEntryArchiveServiceImpl"/>
	
	
    <bean id="purapGeneralLedgerService" parent="purapGeneralLedgerService-parentBean" class="edu.arizona.kfs.module.purap.service.impl.PurapGeneralLedgerServiceImpl">
        <property name="purapUseTaxEntryArchiveService" ref="purapUseTaxEntryArchiveService"/>
        <property name="paymentMethodGeneralLedgerPendingEntryService" ref="paymentMethodGeneralLedgerPendingEntryService"/>
    </bean>
    
    <bean id="paymentRequestService" parent="paymentRequestService-parentBean" class="edu.arizona.kfs.module.purap.document.service.impl.PaymentRequestServiceImpl">
    	<property name="paymentMethodGeneralLedgerPendingEntryService" ref="paymentMethodGeneralLedgerPendingEntryService" />
    </bean>
    
	<bean id="creditMemoService" class="edu.arizona.kfs.module.purap.document.service.impl.CreditMemoServiceImpl">
        <property name="accountsPayableService" ref="accountsPayableService" />
		<property name="creditMemoDao" ref="creditMemoDao" />
        <property name="dataDictionaryService" ref="dataDictionaryService" />
        <property name="documentService" ref="documentService" />
        <property name="configurationService" ref="kualiConfigurationService" />
        <property name="noteService" ref="noteService" />
        <property name="paymentRequestService" ref="paymentRequestService" />
        <property name="purapAccountingService" ref="purapAccountingService" />
        <property name="purapGeneralLedgerService" ref="purapGeneralLedgerService" />
        <property name="purapService" ref="purapService" />
        <property name="purchaseOrderService" ref="purchaseOrderService" />
        <property name="vendorService" ref="vendorService" />
        <property name="workflowDocumentService" ref="workflowDocumentService" />
        <property name="paymentMethodGeneralLedgerPendingEntryService" ref="paymentMethodGeneralLedgerPendingEntryService" />
    </bean>
    
    <bean id="receivingService" parent="receivingService-parentBean" class="edu.arizona.kfs.module.purap.document.service.impl.ReceivingServiceImpl">
    </bean>

    <bean id="paymentRequestDao" parent="platformAwareDao" class="edu.arizona.kfs.module.purap.document.dataaccess.impl.PaymentRequestDaoOjb"/>
    	
    <bean id="b2bPurchaseOrderService" class="edu.arizona.kfs.module.purap.document.service.impl.B2BPurchaseOrderSciquestServiceImpl" parent="b2bPurchaseOrderService-parentBean">
        <property name="b2bPurchaseOrderDtd" value="${b2b.purchase.order.dtd}"/>
    </bean>
    
    <bean id="payeeMasterExtractJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="payeeMasterExtractStep" />
			</list>
		</property>
	</bean>
	
	<bean id="payeeMasterExtractStep" class="edu.arizona.kfs.module.purap.batch.PayeeMasterExtractStep" parent="step">
		<property name="taxReporting1099Service">
			<ref bean="taxReporting1099Service" />
		</property>
	</bean>
	
	<bean id="taxReporting1099Service" class="edu.arizona.kfs.module.purap.service.impl.TaxReporting1099ServiceImpl">
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="parameterService" ref="parameterService" />
		<property name="taxReporting1099Dao" ref="taxReporting1099Dao" />
		<property name="pdfDirectory" value="${staging.directory}/tax/pdf"/>
		<property name="configurationService" ref="configurationService" />
		<property name="documentIncomeTypeSet">
			<set>
				<value>CM</value>
				<value>DV</value>
				<value>DVCA</value>
				<value>DVNC</value>
				<value>PREQ</value>
				<value>PRNC</value>
			</set>
		</property>
		<property name="form1099BoxInformation">
			<map>
				<entry key="1" value="RENTS" />
				<entry key="2" value="ROYALTIES" />
				<entry key="3" value="OTHER" />
				<entry key="4" value="FEDERAL" />
				<entry key="5" value="FISHING" />
				<entry key="6" value="MEDICAL" />
				<entry key="7" value="NONEMPLOYEE" />
				<entry key="8" value="SUBSTITUTE" />
				<entry key="10" value="CROP" />
				<entry key="13" value="GOLDEN" />
				<entry key="14" value="ATTORNEY" />
			</map>
		</property>
	</bean>
	
	<bean id="taxReporting1099Dao" parent="platformAwareDao" class="edu.arizona.kfs.module.purap.document.dataaccess.impl.TaxReporting1099DaoOjb">
		<property name="nonPdpPaymentMethodCodes">
			<set>
				<value>W</value>
				<value>F</value>
				<value>M</value>
			</set>
		</property>
    </bean>

	<bean id="taxElectronicFilingService" class="edu.arizona.kfs.module.purap.document.service.impl.ElectronicFilingServiceImpl">
		<property name="taxReporting1099Service" ref="taxReporting1099Service" />
		<property name="taxParameterHelperService" ref="taxParameterHelperService" />
	</bean>
	
	<bean id="batchPayeeFormJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="batchPayeeFormStep" />
				<ref bean="electronicFilingStep" />
			</list>
		</property>
	</bean>
	
	<bean id="batchPayeeFormStep" class="edu.arizona.kfs.module.purap.batch.BatchPayeeFormStep" parent="step">
		<property name="taxReporting1099Service" ref="taxReporting1099Service"></property>
	</bean>
	
	<bean id="electronicFilingStep" class="edu.arizona.kfs.module.purap.batch.ElectronicFilingStep" parent="step">
		<property name="taxReporting1099Service" ref="taxReporting1099Service" />
		<property name="configurationService" ref="configurationService" />
		<property name="electronicFilingService" ref="taxElectronicFilingService" />
	</bean>

</beans>
