#main th {
    cursor: pointer;
}

#main th.reactable-header-sortable {
    text-decoration: underline;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sortable:after {
    content: '\00a0\00a0';
    text-decoration: none;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main td {
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-desc:after {
    content: '\25B2';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-asc:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#dateTime {
    width: 25%;
}