#main {
    background-color: #fff;
}

#main th {
    cursor: pointer;
}

#main th.reactable-header-sortable {
    text-decoration: underline;
}

#main th.reactable-header-sortable:after {
    content: '\00a0\00a0';
    text-decoration: none;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-desc:after {
    content: '\25B2';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-asc:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main td {
    padding: 4px;
    height: 50px;
}

#main #row th {
    padding: 0;
}

#main .reactable-filterer {
    text-align: center;
}

#main .reactable-filterer .reactable-filter-input {
    width: 250px;
    font-size: 16px;
}

#main td li {
    list-style: none;
}

#dateTime {
    width: 25%;
}