#main {
    background-color: #fff;
}

html > body {
    background-color: #fff;
}

#schedule-job input {
    width: 272px;
}

#schedule-job select {
    width: 287px;
    height: 36px;
}

#main th {
    cursor: pointer;
}

#main th.reactable-header-sortable {
    text-decoration: underline;
}

#main th.reactable-header-sortable:after {
    text-decoration: none;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-desc:after {
    content: '\25B2';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main th.reactable-header-sort-asc:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#main td {
    padding: 4px;
    height: 50px;
}

#main .datepicker td,
#main .timepicker td {
    padding: 0px;
    height: 0px;
}

#main .timepicker {
    padding: 30px;
}

table#job-detail td:first-child,
table#schedule-job td:first-child {
    text-align: right;
}

table#schedule-job td.buttons {
    text-align: center;
}

tr#dateTime>td>div {
    position: relative;
    padding-top: 7px;
}

.bootstrap-datetimepicker-widget td span.glyphicon-chevron-up,
.bootstrap-datetimepicker-widget td span.glyphicon-chevron-down {
    width: 13px;
    height: 13px;
}

.input-group.date .input-group-addon span {
    display: inline-block;
    margin: -2px 10px 0 12px;
}

.input-group.date .input-group-addon {
    border: 1px solid #cccccc;
    background-color: #ddd;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 13px 0 5px 0;
}

#schedule-job .input-group.date input {
    width: 233px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
}

#main .bootstrap-datetimepicker-widget li {
    list-style-type: none;
}

#main .reactable-filterer {
    text-align: center;
    height: 75px;
}

#main .reactable-filterer .reactable-filter-input {
    width: 200px;
    height: 18px;
    font-size: 14px;
    background-image: url("../static/images/filtericon.png");
    background-position: 190px 5px;
    background-repeat: no-repeat;
}

.reactable-filterer td:before {
    content: 'Filter';
    font-weight: bold;
    padding-right: 10px;
}

#main td li {
    list-style: none;
}

#dateTime {
    width: 25%;
}

#dateTime label{
    display: block;
}

#dateTime:after {
    content:"";
    display:table;
    clear:both;
}

div.detail-body {
    padding-top: 35px;
}

.right-left {
    text-align: left;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table.datatable {
    width: 100%;
}

table.datatable th {
    border-bottom: 2px solid #ddd;
    color: #777;
    font-weight: normal;
}

table.datatable td {
    border-bottom: 1px solid #ddd;
}

table.datatable tr:first-child > td {
    border: none;
}

.center {
    text-align: center;
}

/*
    bootstrap overrides because we are using an older version of bootstrap than the DateTimeField react component wanted
    ultimately, we should upgrade bootstrap, but not for Hack Week!
*/
[class^="glyphicon-"],
[class*=" glyphicon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.glyphicon-calendar {
    background-position: -192px -120px;
}

.glyphicon-time {
    background-position: -48px -24px;
}

.glyphicon-chevron-up {
    background-position: -288px -120px;
}

.glyphicon-chevron-down {
    background-position: -313px -119px;
}

.glyphicon-chevron-left {
    background-position: -432px -72px;
}

.glyphicon-filter {
    background-position: -408px -144px;
}
