<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
                           
    <bean id="cgModuleConfiguration" parent="cgModuleConfiguration-parentBean" />
    
    <bean id="cgModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-CG" />
		<property name="initializeDataDictionary" value="true" />
		<property name="packagePrefixes">
			<list>
				<value>org.kuali.kfs.module.cg</value>
				<value>org.kuali.kfs.integration.cg</value>
			</list>
		</property>
		<property name="dataDictionaryPackages">
			<list>
				<value>org/kuali/kfs/module/cg/businessobject/datadictionary</value>
				<value>org/kuali/kfs/module/cg/document/datadictionary</value>
				<value>org/kuali/kfs/integration/cg/businessobject/datadictionary/UnitDTO.xml
				</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/cg/ojb-cg.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/kfs/module/cg/dwr-cg.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>closeJob</value>
				<value>cfdaJob</value>
			</list>
		</property>
		<property name="triggerNames">
			<list>
				<value>cfdaJobTrigger</value>
			</list>
		</property>
		<property name="externalizableBusinessObjectImplementations">
			<map>
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCfda" value="org.kuali.kfs.module.cg.businessobject.CFDA" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAccountAwardInformation" value="org.kuali.kfs.module.cg.businessobject.AwardAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAwardAccount" value="org.kuali.kfs.module.cg.businessobject.AwardAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsGrantsAwardInvoiceAccountInformation" value="org.kuali.kfs.module.cg.businessobject.AwardInvoiceAccount" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAward" value="org.kuali.kfs.module.cg.businessobject.Award" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAward" value="org.kuali.kfs.module.cg.businessobject.Award" />
				<entry key="org.kuali.kfs.integration.cg.ContractAndGrantsProposal" value="org.kuali.kfs.module.cg.businessobject.Proposal" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsCGBAgency" value="org.kuali.kfs.module.cg.businessobject.Agency" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgency" value="org.kuali.kfs.module.cg.businessobject.Agency" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsLetterOfCreditFundGroup" value="org.kuali.kfs.module.cg.businessobject.LetterOfCreditFundGroup" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsLetterOfCreditFund" value="org.kuali.kfs.module.cg.businessobject.LetterOfCreditFund" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgencyAddress" value="org.kuali.kfs.module.cg.businessobject.AgencyAddress" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsAgencyAddressType" value="org.kuali.kfs.module.cg.businessobject.AgencyAddressType" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsBillingFrequency" value="org.kuali.kfs.module.cg.businessobject.BillingFrequency" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsContractGrantType" value="org.kuali.kfs.module.cg.businessobject.ContractGrantType" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsFundManager" value="org.kuali.kfs.module.cg.businessobject.AwardFundManager" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsOrganization" value="org.kuali.kfs.module.cg.businessobject.AwardOrganization" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsProjectDirector" value="org.kuali.kfs.module.cg.businessobject.AwardProjectDirector" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsUnit" value="org.kuali.kfs.integration.cg.businessobject.UnitDTO" />
				<entry key="org.kuali.kfs.integration.cg.ContractsAndGrantsBudgetCategory" value="org.kuali.kfs.integration.cg.businessobject.BudgetCategoryDTO" />
			</map>
		</property>
		<property name="batchFileDirectories">
			<list>
				<value>${reports.directory}/cg</value>
			</list>
		</property>
		<property name="templateFileDirectories">
			<map>
				<entry key="templates.directory">
					<value>${templates.directory}/cg</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="cgModuleService" parent="cgModuleService-parentBean" />

	<bean id="cgModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="cgModuleConfiguration" />
	</bean>

    <bean id="contractsAndGrantsModuleService"  parent="contractsAndGrantsModuleService-parentBean"/>
    <bean id="contractsAndGrantsModuleService-parentBean" class="org.kuali.kfs.module.cg.service.impl.ContractsAndGrantsModuleServiceImpl" abstract="true" />

	<bean id="contractsAndGrantsModuleUpdateService" class="org.kuali.kfs.module.cg.service.impl.ContractsAndGrantsModuleUpdateServiceImpl">
		<property name="awardService" ref="awardService" />
		<property name="businessObjectService" ref="businessObjectService" />
	</bean>
	
	<bean id="CGConstants" class="org.kuali.rice.core.api.util.collect.ConstantsMap">
		<property name="constantClass" value="org.kuali.kfs.module.cg.CGConstants" />
	</bean>
  
	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<entry key="CGConstants" value-ref="CGConstants" />
			</map>
		</property>
	</bean>

	<bean id="contractsAndGrantsModuleRetrieveService" class="org.kuali.kfs.module.cg.service.impl.ContractsAndGrantsModuleRetrieveServiceImpl" />

	<!-- DAOs -->
	<bean id="awardDao" parent="platformAwareDao" class="org.kuali.kfs.module.cg.dataaccess.impl.AwardDaoOjb" />

	<bean id="proposalDao" parent="platformAwareDao" class="org.kuali.kfs.module.cg.dataaccess.impl.ProposalDaoOjb" />

	<bean id="closeDao" parent="platformAwareDao" class="org.kuali.kfs.module.cg.dataaccess.impl.CloseDaoOjb" />

	<bean id="agencyAddressDao" parent="platformAwareDao" class="org.kuali.kfs.module.cg.dataaccess.impl.AgencyAddressDaoOjb" />

	<!-- Services -->
	<bean id="closeService" class="org.kuali.kfs.module.cg.service.impl.CloseServiceImpl">
		<property name="awardDao">
			<ref bean="awardDao" />
		</property>
		<property name="proposalDao">
			<ref bean="proposalDao" />
		</property>
		<property name="closeDao">
			<ref bean="closeDao" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
	</bean>
	
	<bean id="proposalLookupableHelperService" parent="proposalLookupableHelperService-parentBean" scope="prototype" />
	<bean id="proposalLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cg.businessobject.lookup.ProposalLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" >
	</bean>

	<bean id="proposalLookupable"  parent="proposalLookupable-parentBean" scope="prototype"/>
	<bean id="proposalLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
		<property name="lookupableHelperService">
			<ref bean="proposalLookupableHelperService" />
		</property>
	</bean>

	<bean id="awardLookupableHelperService" scope="prototype" parent="awardLookupableHelperService-parentBean"/>
    <bean id="awardLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cg.businessobject.lookup.AwardLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" >
    </bean>

    <bean id="awardLookupable"  parent="awardLookupable-parentBean" scope="prototype"/>
    <bean id="awardLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
        <property name="lookupableHelperService">
            <ref bean="awardLookupableHelperService" />
        </property>
    </bean>

	
	<bean id="invoiceTemplateLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="invoiceTemplateLookupableHelperService" />
		</property>
	</bean>

	<bean id="agencyLookupHelperService" class="org.kuali.kfs.module.cg.businessobject.lookup.AgencyLookupableHelperServiceImpl" scope="prototype"
		parent="lookupableHelperService" />

	<bean id="agencyLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="agencyLookupHelperService" />
		</property>
	</bean>

    <bean id="subcontractorService"  parent="subcontractorService-parentBean"/>
    <bean id="subcontractorService-parentBean" class="org.kuali.kfs.module.cg.service.impl.SubcontractorServiceImpl" abstract="true">
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
    </bean>

    <bean id="agencyService"  parent="agencyService-parentBean"/>
    <bean id="agencyService-parentBean" class="org.kuali.kfs.module.cg.service.impl.AgencyServiceImpl" abstract="true">
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
    </bean>

    <bean id="cfdaService"  parent="cfdaService-parentBean"/>
    <bean id="cfdaService-parentBean" class="org.kuali.kfs.module.cg.service.impl.CfdaServiceImpl" abstract="true">
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
    </bean>
	
    <bean id="cfdaBatchStep" class="org.kuali.kfs.module.cg.batch.CfdaBatchStep" parent="step">
        <property name="cfdaService">
            <ref bean="cfdaService" />
        </property>
        <property name="mailService">
            <ref bean="mailService" />
        </property>
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
        <property name="configurationService" ref="kualiConfigurationService" />
    </bean>

    <bean id="cfdaJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="cfdaBatchStep" />
			</list>
		</property>
	</bean>

	<bean id="cfdaJobTrigger" parent="cronTrigger">
		<property name="jobName" value="cfdaJob" />
		<property name="cronExpression" value="00 00 00 1 1,4,7,10  ?" />
	</bean>

    <bean id="closeBatchStep" class="org.kuali.kfs.module.cg.batch.CloseBatchStep" parent="step">
        <property name="closeService">
            <ref bean="closeService" />
        </property>
    </bean>

	<bean id="closeJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="closeBatchStep" />
			</list>
		</property>
	</bean>

	<!-- <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="researchRiskReviewRoleTypeService" p:localServiceName="researchRiskReviewRoleTypeService" />
		</property>
	</bean> -->

	<bean id="agencyAddressService" class="org.kuali.kfs.module.cg.document.service.impl.AgencyAddressServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="sequenceAccessorService">
			<ref bean="sequenceAccessorService" />
		</property>
		<property name="agencyAddressDao">
			<ref bean="agencyAddressDao" />
		</property>
	</bean>


	<bean id="letterOfCreditFundService" class="org.kuali.kfs.module.cg.service.impl.LetterOfCreditFundServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="awardService" class="org.kuali.kfs.module.cg.service.impl.AwardServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="contractsGrantsAwardBalancesReportService" class="org.kuali.kfs.module.cg.report.service.impl.ContractsGrantsAwardBalancesReportServiceImpl">
		<property name="reportGenerationService">
			<ref bean="reportGenerationService" />
		</property>
		<property name="contractsGrantsAwardBalancesReportInfo">
			<ref bean="contractsGrantsAwardBalancesReportInfo" />
		</property>
	</bean>

	<bean id="contractsGrantsAwardBalancesReportInfo" class="org.kuali.kfs.sys.report.ReportInfoHolder">
		<property name="reportTitle" value="Contracts Grants Award Balances Report" />
		<property name="reportFileName" value="award_balances_report" />
		<property name="reportsDirectory" value="${reports.directory}/cg/" />
		<property name="resourceBundleBaseName" value="org/kuali/kfs/module/cg/report/messages" />
		<property name="reportTemplateClassPath" value="org/kuali/kfs/module/cg/report/" />
		<property name="reportTemplateName" value="AwardBalances" />
		<property name="subReportTemplateClassPath" value="org/kuali/kfs/module/cg/report/" />
		<property name="subReports">
			<map>
				<entry key="awardBalancesDetails" value="AwardBalancesDetails" />
				<entry key="searchCriteria" value="SearchCriteria" />
			</map>
		</property>
	</bean>


	<bean id="contractsGrantsAwardBalancesReportLookupableHelperService" class="org.kuali.kfs.module.cg.businessobject.lookup.ContractsGrantsAwardBalancesReportLookupableHelperServiceImpl"
		scope="prototype">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="contractsGrantsAwardBalancesReportLookupResultLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="contractsGrantsAwardBalancesReportLookupableHelperService" />
		</property>
	</bean>
	
<bean id="routingFormResearchRiskService"  parent="routingFormResearchRiskService-parentBean"/>
<bean id="routingFormResearchRiskService-parentBean" class="org.kuali.kfs.module.cg.document.service.impl.RoutingFormResearchRiskServiceImpl" abstract="true">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
   
    <bean id="researchRiskReviewRoleTypeService" parent="researchRiskReviewRoleTypeService-parentBean"/>
    <bean id="researchRiskReviewRoleTypeService-parentBean" class="org.kuali.kfs.module.cg.identity.ResearchRiskReviewRoleTypeServiceImpl" abstract="true"/>   

	<import resource="spring-cg-bus-exports.xml"/>
</beans>

