<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="financialSystemModuleConfiguration" parent="financialSystemModuleConfiguration-parentBean">
		<property name="dataDictionaryPackages">
			<list merge="true">
				<value>classpath:edu/arizona/kfs/sys/businessobject/datadictionary/*.xml</value>
				<value>classpath:edu/arizona/kfs/sys/document/datadictionary/*.xml</value>
			</list>
		</property>

		<property name="packagePrefixes">
			<list merge="true">
				<value>edu.arizona.kfs.sys</value>
			</list>
		</property>
	</bean>

</beans>
