<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	
	<bean id="trigger" abstract="true">
		<property name="group" value="scheduled" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="testMode" value="true" />
	</bean>
	
	<bean id="glOrganizationReversionMockService" class="org.kuali.kfs.gl.batch.service.impl.OrganizationReversionMockServiceImpl">
		<property name="organizationReversionDao">
			<ref bean="organizationReversionDao" />
		</property>
	</bean>
	
	<bean id="infoForParameterMapReport" class="org.kuali.kfs.sys.report.ReportInfoHolder" >
		<property name="reportTitle" value="Account and SubAccount For Testing" />
		<property name="reportFileName" value="TestReportWithParameterMap" /> 
		<property name="reportsDirectory" value="${reports.directory}/" />
		<property name="resourceBundleBaseName" value="org/kuali/kfs/sys/report/ReportGenerationService" />
		<property name="reportTemplateClassPath" value="org/kuali/kfs/sys/report/" />
		<property name="reportTemplateName" value="MasterReportWithParamterMap" />
		<property name="subReportTemplateClassPath" value="org/kuali/kfs/sys/report/" />
		<property name="subReports">
			<map>
				<entry key="AccountReport" value="AccountReport"/>
				<entry key="SubAccountReport" value="SubAccountReport"/>
			</map>
		</property>
	</bean>
	
	<bean id="infoForDataSourceReport" class="org.kuali.kfs.sys.report.ReportInfoHolder" >
		<property name="reportTitle" value="Account For Testing" />
		<property name="reportFileName" value="TestReportWithDataSource" />
		<property name="reportsDirectory" value="${reports.directory}/" />
		<property name="resourceBundleBaseName" value="org/kuali/kfs/sys/report/ReportGenerationService" />
		<property name="reportTemplateClassPath" value="org/kuali/kfs/sys/report/" />
		<property name="reportTemplateName" value="MasterReportWithDataSource" />
		<property name="subReportTemplateClassPath" value="org/kuali/kfs/sys/report/" />
		<property name="subReports">
			<map>
				<entry key="AccountReport" value="AccountReport"/>
			</map>
		</property>
	</bean>	
       
    <bean id="summaryReportHelper" parent="businessObjectReportHelper">
        <property name="responsibleClasses">
            <list>
                <value>org.kuali.kfs.gl.businessobject.BalanceHistory</value>
            </list>
        </property>
        <property name="dataDictionaryBusinessObjectClass" value="org.kuali.kfs.gl.businessobject.Balance" />
        <property name="columnCount" value="6" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="accountNumber" value="FUND"/>
                <entry key="accountLineAnnualBalanceAmount" value="ANNUAL BAL    "/>
                <entry key="beginningBalanceLineAmount"     value="BEGINNING BAL  "/>
                <entry key="contractsGrantsBeginningBalanceAmount" value="CG BEGINNING BAL"/>
                <entry key="month1Amount" value="ACCUM AMT FOR JUL"/>
                <entry key="month2Amount" value="ACCUM AMT FOR AUG"/>
                
                <entry key="EMPTY_CELL1" value=""/>
                <entry key="month3Amount" value="ACCUM AMT FOR SEP"/>
                <entry key="month4Amount" value="ACCUM AMT FOR OCT"/>
                <entry key="month5Amount" value="ACCUM AMT FOR NOV"/>
                <entry key="month6Amount" value="ACCUM AMT FOR DEC"/>
                <entry key="month7Amount" value="ACCUM AMT FOR JAN"/>
                
                <entry key="EMPTY_CELL2" value=""/>
                <entry key="month8Amount" value="ACCUM AMT FOR FEB"/>
                <entry key="month9Amount" value="ACCUM AMT FOR MAR"/>
                <entry key="month10Amount" value="ACCUM AMT FOR APR"/>
                <entry key="month11Amount" value="ACCUM AMT FOR MAY"/>
                <entry key="month12Amount" value="ACCUM AMT FOR JUN"/>
                
                <entry key="EMPTY_CELL3" value=""/>
                <entry key="month13Amount" value="ACCUM AMT FOR CLOSE"/>
            </map>
        </property>
    </bean>
    
</beans>
