body
{
	font-size: 71%;
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px;
}

body, p, table, td, th, ul, ol, input { font-family: verdana, helvetica, arial, sans-serif; }
table { font-size: 100%; }

form { margin: 0px; }

th
{
	color: #000000;
	padding: 3px;
	background-image: url(../images-channelglobal/th-back.gif);
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	text-decoration: none;
	background-repeat: repeat-x;
	border-top-color: #999999;
	border-right-color: #999999;
}

.th1
{
	color: #000000;
	padding: 3px;
	background-image: url(../images-channelglobal/th-back.gif);
	font-weight: normal;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	text-decoration: none;
	background-repeat: repeat-x;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.th2
{
	color: #000000;
	padding: 3px;
	background-image: url(../images-channelglobal/th-back.gif);
	font-weight: normal;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	text-decoration: none;
	background-repeat: repeat-x;
	border-top-color: #999999;
	border-right-color: #999999;
}

textarea
{
	font-family: verdana, helvetica, arial, sans-serif;
	border: 1px solid #C6C6C6;
	background-color: #FFFFFF;
	font-size: 100%;
}

.print
{
	color: #000000;
	padding: 3px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C6C6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C6C6C6;
	text-decoration: none;
	background-color: #CCCCCC;
}

li
{
	list-style: square url(../images-channelglobal/bullet.gif);
	margin-left: -10px;
}

h1
{
	color: #000000;
	background-color: #D9D9D9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	border-top: 1px solid #666666;
	border-right: 1px #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px #666666;
	padding: 5px 3px 5px 8px;
	font-weight: normal;
	font-size: 100%;
}

A
{
	color: #000000;
	text-decoration: underline;
}

A:hover
{
	color: #990000;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

A:active
{
	color: #990000;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

select
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #9D9D9D;
	background-color: #E6E6E6;
	font-size: 100%;
}

input
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 100%;
}

.HdrScrLnk
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.HdrScrLnk:active
{
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.HdrScrLnk:link
{
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.HdrScrLnk:visited
{
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.HdrScrLnk:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	color: #FFFFFF;
}

.tablink
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.tablink:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.tablink:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.tablink:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

A.tablink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}

.tab-sel-l
{
	background-image: url(../images-channelglobal/tabcorner-sel-l.gif);
	background-repeat: repeat-y;
}

.tab-selected-t
{
	background-color: #E1E1E1;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	padding: 4px;
	font-style: italic;
}

.tab-sel-r
{
	background-image: url(../images-channelglobal/tabcorner-sel-r.gif);
	background-repeat: repeat-y;
}

.tab-nosel-l
{
	background-image: url(../images-channelglobal/tabcorner-nosel-l.gif);
	background-repeat: repeat-y;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.tab-nosel-r
{
	background-image: url(../images-channelglobal/tabcorner-nosel-r.gif);
	background-repeat: repeat-y;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.tab-notselected-t
{
	background-color: #B8B8B7;
	border-top-width: 1px;
	border-top-color: #999999;
	font-weight: bold;
	padding: 4px;
	border-top-style: solid;
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.datacell
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-color: #999999;
	border-right-color: #999999;
}

.bord-r-t
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.txtfld
{
	color: #000000;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #9D9D9D;
}

DIV.in0 { margin-left: 0; }
DIV.in1 { margin-left: 15; }
DIV.in2 { margin-left: 30; }
DIV.in3 { margin-left: 45; }
DIV.in4 { margin-left: 60; }
DIV.in5 { margin-left: 75; }
DIV.in6 { margin-left: 90; }
DIV.in7 { margin-left: 105; }
DIV.in8 { margin-left: 120; }
DIV.in9 { margin-left: 135; }
DIV.in10 { margin-left: 150; }

.thfont
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}

A.thfont:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	color: #FFFFFF;
}

A.thfont:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	color: #333333;
}

A.thfont:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}

A.thfont:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	color: #990000;
}

.tab-selected
{
	background-color: #D6D6D6;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #C0C0C0;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;
	border-bottom-style: solid;
}

.tab-notselected
{
	background-color: #666666;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	font-weight: bold;
	color: #FFFFFF;
}

.tabtable { border: 1px solid #666666; }

.right-content-area
{
	background-color: #E7E7E7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-left-color: #BDBDBD;
}

.ul-li-links
{
	text-decoration: none;
	color: #000000;
}

A.ul-li-links:active
{
	text-decoration: underline;
	color: #990000;
}

A.ul-li-links:link
{
	text-decoration: none;
	color: #000000;
}

A.ul-li-links:visited
{
	text-decoration: none;
	color: #000000;
}

A.ul-li-links:hover
{
	text-decoration: underline;
	color: #990000;
}

.greyout-text { color: #999999; }

.buttonbar
{
	background-color: #666666;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	font-weight: bold;
	color: #FFFFFF;
}

.headertable
{
	background-color: #D6D6D6;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #6B6B6B;
	border-bottom-color: #6B6B6B;
}

.tab-subnav
{
	background-color: #D6D6D6;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C0C0C0;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;
}

.tab-selected-subnav
{
	background-color: #D6D6D6;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #C0C0C0;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;
}

.datacell1
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-color: #999999;
	border-right-color: #999999;
}

.bord-r-t1
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.tabtitle
{
	font-weight: bolder;
	color: #333333;
}

.pagetitle
{
	font-size: 120%;
	font-weight: bolder;
	font-style: italic;
	color: #666666;
}

.toggle { color: #000000; }

A.toggle:active
{
	color: #990000;
	text-decoration: underline;
}

A.toggle:link
{
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

A.toggle:visited
{
	color: #000000;
	text-decoration: none;
}

A.toggle:hover
{
	color: #990000;
	text-decoration: underline;
}

.data-category
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.ps-values
{
	color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.headercell1
{
	background-color: #CCCCCC;
	border-top: 1px solid #666666;
	border-right: 1px #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	padding: 2px;
}

.bordertable { background-color: #666666; }

.edoc-values
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.spacercell { background-color: #E4E4E4; }

.headercell2
{
	background-color: #666666;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border-top: 1px #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	color: #FFFFFF;
}

.headercell1-edoc
{
	background-color: #CCCCCC;
	border: 1px solid #999999;
	padding: 2px;
}

.bordercell-left {
	background-image: url(../images-channelglobal/tab-sideleft.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #E4E4E4;
}

.bordercell-right
{
	background-image: url(../images-channelglobal/tab-sideright.gif);
	background-position: right;
	background-repeat: repeat-y;
	background-color: #E4E4E4;
}

.headercell3
{
	background-color: #B4B4B4;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}

.headercell3-fullbord
{
	background-color: #F0F0CB;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border: 1px solid #666666;
}

.headercell2-fullbord
{
	background-color: #666666;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border: 1px solid #666666;
	color: #FFFFFF;
}

.errorcell
{
	background-color: #E4E4E4;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border: 1px solid #666666;
}

.errorbullets
{
	list-style-type: disc;
	color: #FF0000;
}

.spacercell1
{
	background-color: #CBCBCB;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.spacercell-white
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}

.data-category1
{
	background-color: #E2DE9E;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-bottom-style: solid;
}

.data-category2
{
	background-color: #E2DE9E;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
}

.data-category2a
{
	background-color: #E2DE9E;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-bottom-style: solid;
	border-top-style: solid;
}

.edoc-values1
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
}

.edoc-values2
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
}

.data-category3
{
	background-color: #E2DE9E;
	padding: 2px;
	border: 1px solid #666666;
}

.searchreturn
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}

.searchreturn-final
{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 1px;
	border-right-style: solid;
}

.altcolor1-l-b
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.altcolor1-l-b-r
{
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}

.altcolor2-l-b
{
	background-color: #F4F4F4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.altcolor2-l-b-r
{
	background-color: #F4F4F4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	padding: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}

.data-category-nobord
{
	background-color: #E2DE9E;
	padding: 2px;
}

.altcolor1
{
	background-color: #FFFFFF;
	padding: 2px;
}

.altcolor2
{
	background-color: #FAFAE2;
	padding: 2px;
}

.datacell2
{
	padding: 1px 4px;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-color: #999999;
	border-right-color: #999999;
}

.datacell-altcolor1
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-top-color: #999999;
	border-right-color: #999999;
}

.datacell-altcolor2
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #EFEFEF;
	border-top-color: #999999;
	border-right-color: #999999;
}

.headercell3-t-l-b
{
	background-color: #B4B4B4;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	border-top: 1px solid #666666;
	border-right: 1px #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

.bord-r
{
	border-top-color: #999999;
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.bord-r-l-b
{
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.bord-full { border: 1px solid #999999; }

.bord-t-l-r
{
	border-top-color: #666666;
	border-right-style: solid;
	border-right-color: #666666;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-top-width: 1px;
	border-top-style: solid;
}

.headercell1a
{
	background-color: #CCCCCC;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	padding: 2px;
}

.tab-selected-l-t-r
{
	background-color: #EEEEEE;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-left-color: #999999;
	padding: 7px 4px;
}

.tab-notselected-l-t-r
{
	background-color: #666666;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	font-weight: bold;
	color: #FFFFFF;
	padding: 7px 4px;
	border-top-style: solid;
	border-right-style: solid;
}

.bord-b
{
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.datecells
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	background-color: #EEEEEE;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.datacell-t
{
	padding: 1px 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
}
.bord-r-l {
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-left-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
}
.headercell {
	background-color: #CCCCCC;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	padding: 2px;
}
.required {
	color: #FF0000;
}
.headercell4 {
	background-color: #878787;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
}
.bord-l {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.bord-l-b {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

.floatbar {
	width: 100%;
	position: absolute;
}
.rule-level1 {
	background-color: #333333;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;

}
.rule-level2 {
	background-color: #666666;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;

}
.rule-level3 {
	background-color: #999999;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;

}
.rule-level4 {
	background-color: #CCCCCC;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
}
.tabtitle-blank {
	font-weight: bolder;
	color: #ADADAD;
}
.bord-t {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
.tab-rightback {
	background-image: url(../images-channelglobal/tab-rightback.gif);
}
.tab-rightback1 {
	background-image: url(../images-channelglobal/tab-rightback1.gif);
}
