a
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
	color: #990000;
}

body
{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a, div, font, option, select, span, td, tr, th
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 89%;
}

th
{
	background-color: #e6e6e6;
	color: #000000;
	line-height: 20px;
	text-align: left;
	padding-left: 10px;
	border-top: 1px #999999;
	border-right: 1px #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px #999999;
}

p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 10px;
}

li
{
	list-style-image:  url('https://onestart.iu.edu/my-prd/images/bullet.gif');
	list-style-position: outside;
	padding: 0px;
	margin-left: 30px;
	margin-bottom: -1px;
	margin-top: -2px

}

input
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #ffffff;
}
DIV.in0 {
	margin-left: 0;
}

DIV.in1
{
	margin-left: 15;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

DIV.in2
{
	margin-left: 30;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

DIV.in3
{
	margin-left: 45;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.bullet-background {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-image: url('https://onestart.iu.edu/my-prd/images/bullet.gif');
	background-repeat: no-repeat;
	background-position: 0px 1px;
}






#channel {
	padding: 5px;
}



#channel-linklist  ul {
	margin-left:20px;
	margin-top: 8px;
}


html>body #channel-linklist  ul {
    margin-left:0px;
	padding-left:20px;
	margin-top: 8px;
}



#channel-linklist  li
{
	list-style-image:  url('https://onestart.iu.edu/my-prd/images/bullet.gif');
}

#channel-linklist  table
{
	width: 100%;	
	border-collapse: separate
}


#channel-linklist a:link
{
	color: #000000;
	text-decoration: none;
}

#channel-linklist a:visited
{
	color: #000000;
	text-decoration: none;
}

#channel-linklist a:hover
{
	color: #990000;
	text-decoration: underline;
}

#channel-linklist a:active
{
	color: #333333;
	text-decoration: underline;
}
