<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="bcModuleConfiguration" parent="bcModuleConfiguration-parentBean">
        <property name="triggerNames">
            <list>
            </list>
        </property>
    </bean>

    <bean id="genesisBatchJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="genesisBatchStep" />
            </list>
        </property>
    </bean>

    <bean id="budgetConstructionUpdateJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="budgetConstructionUpdateBatchStep" />
            </list>
        </property>
        <property name="dependencies">
            <map>
                <entry key="posterJob" value="hardDependency" />
            </map>
        </property>
    </bean>

    <bean id="budgetConstructionGeneralLedgerLoadBatchJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="budgetConstructionGeneralLedgerLoadBatchStep" />
            </list>
        </property>
    </bean>

</beans>
