<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="contractsAndGrantsModuleService" class="org.kuali.module.cg.service.impl.ContractsAndGrantsModuleServiceImpl" />
				
	<bean id="laborModuleService" class="org.kuali.module.labor.service.impl.LaborModuleServiceImpl" />
	
	<bean id="purchasingAccountsPayableModuleService" class="org.kuali.module.purap.service.impl.PurchasingAccountsPayableModuleServiceImpl" />
</beans>