<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="contractsAndGrantsModuleService" class="org.kuali.kfs.module.cg.service.impl.ContractsAndGrantsModuleServiceImpl" />
				
	<bean id="laborModuleService" class="org.kuali.kfs.module.ld.service.impl.LaborModuleServiceImpl" />
	
	<bean id="purchasingAccountsPayableModuleService" class="org.kuali.kfs.module.purap.document.service.impl.PurchasingAccountsPayableModuleServiceImpl" />
	
	<bean id="accountsReceivableModuleService" class="org.kuali.kfs.module.ar.service.impl.AccountsReceivableModuleServiceImpl" />
	
	<bean id="effortCertificationService" class="org.kuali.kfs.module.ec.service.impl.EffortCertificationServiceImpl" />

    <bean id="capitalAssetBuilderModuleService" class="org.kuali.kfs.module.cab.service.impl.CapitalAssetBuilderModuleServiceImpl"/>
    
    <bean id="capitalAssetManagementModuleService" class="org.kuali.kfs.module.cam.service.impl.CapitalAssetManagementModuleServiceImpl"/>

</beans>
