<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="contractsAndGrantsModuleService" class="org.kuali.kfs.integration.cg.ContractsAndGrantsModuleServiceNoOp" />
				
	<bean id="laborModuleService" class="org.kuali.kfs.integration.ld.LaborModuleServiceNoOp" />
	
	<bean id="purchasingAccountsPayableModuleService" class="org.kuali.kfs.integration.purap.PurchasingAccountsPayableModuleServiceNoOp" />
	
	<bean id="accountsReceivableModuleService" class="org.kuali.kfs.integration.ar.AccountsReceivableModuleServiceNoOp" />
	
	<bean id="effortCertificationModuleService" class="org.kuali.kfs.integration.ec.EffortCertificationModuleServiceNoOp" />

    <bean id="capitalAssetBuilderModuleService" class="org.kuali.kfs.integration.cab.CapitalAssetBuilderModuleServiceNoOp"/>
    
    <bean id="capitalAssetManagementModuleService" class="org.kuali.kfs.integration.cam.CapitalAssetManagementModuleServiceNoOp"/>

</beans>
