<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- parent bean to make the definitions below easier to read -->
	<bean id="grlBeanImporter" abstract="true" class="org.kuali.rice.krad.config.GlobalResourceLoaderServiceFactoryBean" p:singleton="true" p:mustExist="true" />

 	<bean id="dataSource" p:serviceName="kradApplicationDataSource" parent="grlBeanImporter" />
	<!-- These are beans we need to export from Rice -->
	
	<!-- TODO: sort by rice module -->
	
	<!-- CoreServices -->
 	<bean id="dateTimeService" p:serviceName="dateTimeService" parent="grlBeanImporter" />
 	<bean id="mailService" p:serviceName="mailService" parent="grlBeanImporter" />
 	<bean id="kualiModuleService" p:serviceName="kualiModuleService" parent="grlBeanImporter" />
 	<bean id="parameterService" p:serviceName="parameterService" parent="grlBeanImporter" />
 	<bean id="configurationService" p:serviceName="kualiConfigurationService" parent="grlBeanImporter" />
 	<alias name="configurationService" alias="kualiConfigurationService" />
 	<bean id="persistenceStructureService" p:serviceName="persistenceStructureService" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceJpa" p:serviceName="persistenceStructureServiceJpa" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceOjb" p:serviceName="persistenceStructureServiceOjb" parent="grlBeanImporter" />
 	<bean id="encryptionService" p:serviceName="encryptionService" parent="grlBeanImporter" />
 	<bean id="sequenceAccessorService" p:serviceName="sequenceAccessorService" parent="grlBeanImporter" />
	<!-- Location -->
 	<bean id="postalCodeService" p:serviceName="postalCodeService" parent="grlBeanImporter" />
 	<bean id="stateService" p:serviceName="stateService" parent="grlBeanImporter" />
 	<bean id="countryService" p:serviceName="countryService" parent="grlBeanImporter" />
 	<bean id="countyService" p:serviceName="countyService" parent="grlBeanImporter" />
	<!-- KNS/KRAD -->
 	<bean id="dataDictionaryService" p:serviceName="dataDictionaryService" parent="grlBeanImporter" />
 	<bean id="attachmentService" p:serviceName="attachmentService" parent="grlBeanImporter" />
 	<bean id="sessionDocumentService" p:serviceName="sessionDocumentService" parent="grlBeanImporter" />
 	<bean id="noteService" p:serviceName="noteService" parent="grlBeanImporter" />
 	<bean id="businessObjectService" p:serviceName="businessObjectService" parent="grlBeanImporter" />
 	<bean id="kualiRuleService" p:serviceName="kualiRuleService" parent="grlBeanImporter" />
 	<bean id="businessObjectMetaDataService" p:serviceName="businessObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="lookupService" p:serviceName="lookupService" parent="grlBeanImporter" />
 	<bean id="lookupResultsService" p:serviceName="lookupResultsService" parent="grlBeanImporter" />
 	<bean id="lookupDao" p:serviceName="lookupDao" parent="grlBeanImporter" />
 	<bean id="documentAdHocService" p:serviceName="documentAdHocService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentService" p:serviceName="maintenanceDocumentService" parent="grlBeanImporter" />
 	<bean id="dictionaryValidationService" p:serviceName="dictionaryValidationService" parent="grlBeanImporter" />
 	<bean id="persistenceService" p:serviceName="persistenceService" parent="grlBeanImporter" />
 	<bean id="businessObjectDictionaryService" p:serviceName="businessObjectDictionaryService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentDictionaryService" p:serviceName="maintenanceDocumentDictionaryService" parent="grlBeanImporter" />
 	<bean id="documentHeaderService" p:serviceName="documentHeaderService" parent="grlBeanImporter" />
 	<bean id="documentHeaderDao" p:serviceName="documentHeaderDao" parent="grlBeanImporter" />
 	<alias name="documentHeaderDao" alias="financialSystemDocumentHeaderDao" />
 	<bean id="documentService" p:serviceName="documentService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentDao" p:serviceName="maintenanceDocumentDao" parent="grlBeanImporter" />
 	<bean id="documentDao" p:serviceName="documentDao" parent="grlBeanImporter" />
 	<bean id="dataObjectMetaDataService" p:serviceName="dataObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="documentDictionaryService" p:serviceName="documentDictionaryService" parent="grlBeanImporter" />
 	<bean id="inquiryViewTypeService" p:serviceName="inquiryViewTypeService" parent="grlBeanImporter" />
 	<bean id="lookupViewTypeService" p:serviceName="lookupViewTypeService" parent="grlBeanImporter" />
 	<bean id="persistenceServiceOjb" p:serviceName="persistenceServiceOjb" parent="grlBeanImporter" />
	<!-- KIM -->
 	<bean id="personService" p:serviceName="personService" parent="grlBeanImporter" />
 	<bean id="kimRoleService" p:serviceName="kimRoleService" parent="grlBeanImporter" />
 	<alias name="kimRoleService" alias="roleService" />
 	<!-- 
 	<bean id="kimUiDocumentService" p:serviceName="kimUiDocumentService" parent="grlBeanImporter" />
 	<alias name="kimUiDocumentService" alias="uiDocumentService" />
 	<bean id="kimPersonLookupable" p:serviceName="kimPersonLookupable" parent="grlBeanImporter" />
 	 -->
	<!-- KEW -->
 	<bean id="workflowDocumentService" p:serviceName="workflowDocumentService" parent="grlBeanImporter" />
 	<bean id="rice.kew.documentTypeService" p:serviceName="rice.kew.documentTypeService" parent="grlBeanImporter" />
 	<alias name="rice.kew.documentTypeService" alias="documentTypeService" />
	<!-- KSB -->


	<!-- beans below here are extended by KFS beans, and so the "parent" relationship does not work and they must be redefined -->

	<bean id="dbPlatform" class="org.kuali.rice.core.BeanHolder">
		<property name="objectType">
			<value>${datasource.platform}</value>
		</property>
	</bean>

	<bean id="platformAwareDao" abstract="true"
		class="org.kuali.rice.core.framework.persistence.ojb.dao.PlatformAwareDaoBaseOjb">
		<property name="jcdAlias" value="dataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>
	<bean id="platformAwareDaoJdbc" abstract="true"
		class="org.kuali.rice.core.framework.persistence.jdbc.dao.PlatformAwareDaoBaseJdbc">
		<property name="dataSource" ref="dataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>

	<bean id="kualiLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="lookupableHelperService" />
		</property>
	</bean>

    <bean id="kualiInquirable" class="org.kuali.kfs.sys.businessobject.inquiry.KfsInquirableImpl" scope="prototype" />

	<bean id="lookupableHelperService"
		class="org.kuali.rice.kns.lookup.KualiLookupableHelperServiceImpl"
		scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="sequenceAccessorService">
			<ref bean="sequenceAccessorService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="lookupResultsService">
			<ref bean="lookupResultsService" />
		</property>
	</bean>


	<bean id="kualiMaintainable" class="org.kuali.rice.kns.maintenance.KualiMaintainableImpl"
		scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="maintenanceDocumentDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="businessObjectAuthorizationService">
			<ref bean="businessObjectAuthorizationService" />
		</property>
		<property name="maintenanceDocumentService">
			<ref bean="maintenanceDocumentService" />
		</property>
		<property name="documentHelperService">
			<ref bean="documentHelperService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
	</bean>
	
	<!-- REFERENCE: Rice 2.0 b6 service definitions:
/COREServiceBusSpringBeans.xml:id="coreService"
/CORESpringBeans.xml:id="criteriaLookupService"
/CORESpringBeans.xml:id="dateTimeService"
/CORESpringBeans.xml:id="styleService"
/CORESpringBeans.xml:id="xmlDigesterService"
/CORESpringBeans.xml:id="xmlExporterService"
/CORESpringBeans.xml:id="xmlIngesterService"
/CoreServiceLocalSpringBeans.xml:id="componentService"
/CoreServiceLocalSpringBeans.xml:id="dataDictionaryComponentPublisherService"
/CoreServiceLocalSpringBeans.xml:id="namespaceService"
/CoreServiceLocalSpringBeans.xml:id="parameterRepositoryService"
/CoreServiceLocalSpringBeans.xml:id="parameterService"
/CoreServiceLocalSpringBeans.xml:id="styleRepositoryService"
/CoreServiceLocalSpringBeans.xml:id="styleService"
/CoreServiceRemoteSpringBeans.xml:id="componentService"
/CoreServiceRemoteSpringBeans.xml:id="namespaceService"
/CoreServiceRemoteSpringBeans.xml:id="parameterRepositoryService"
/CoreServiceRemoteSpringBeans.xml:id="parameterService"
/CoreServiceRemoteSpringBeans.xml:id="styleRepositoryService"
/CoreServiceRemoteSpringBeans.xml:id="styleService"
/DictionaryValidationServiceSpringBeans.xml:id="dictionaryValidationService"
/EDLLocalSpringBeans.xml:id="dataDictionaryService"
/EDLLocalSpringBeans.xml:id="edlLookupHelperService"
/EDLLocalSpringBeans.xml:id="enEDocLiteService"
/EDLLocalSpringBeans.xml:id="enExtractService"
/EDLLocalSpringBeans.xml:id="kualiModuleService"
/EDLLocalSpringBeans.xml:id="styleService"
/EDLSpringBeans.xml:id="dataDictionaryService"
/EDLSpringBeans.xml:id="edlLookupHelperService"
/EDLSpringBeans.xml:id="enEDocLiteService"
/EDLSpringBeans.xml:id="enExtractService"
/EDLSpringBeans.xml:id="kualiModuleService"
/EDLSpringBeans.xml:id="styleService"
/KCBSpringBeans.xml:id="emailService"
/KCBSpringBeans.xml:id="kenIntegrationService"
/KCBSpringBeans.xml:id="messageDelivererRegistryService"
/KCBSpringBeans.xml:id="messageDeliveryService"
/KCBSpringBeans.xml:id="messageService"
/KCBSpringBeans.xml:id="messagingService"
/KCBSpringBeans.xml:id="recipientPreferenceService"
/KENLocalSpringBeans.xml:id="emailService"
/KENLocalSpringBeans.xml:id="kenApiService"
/KENLocalSpringBeans.xml:id="kenIntegrationService"
/KENLocalSpringBeans.xml:id="messageContentService"
/KENLocalSpringBeans.xml:id="messageDelivererRegistryService"
/KENLocalSpringBeans.xml:id="messageDeliveryService"
/KENLocalSpringBeans.xml:id="messageService"
/KENLocalSpringBeans.xml:id="messagingService"
/KENLocalSpringBeans.xml:id="notificationAuthorizationService"
/KENLocalSpringBeans.xml:id="notificationChannelService"
/KENLocalSpringBeans.xml:id="notificationContentTypeService"
/KENLocalSpringBeans.xml:id="notificationMessageDeliveryAutoRemovalService"
/KENLocalSpringBeans.xml:id="notificationMessageDeliveryResolverService"
/KENLocalSpringBeans.xml:id="notificationMessageDeliveryService"
/KENLocalSpringBeans.xml:id="notificationRecipientService"
/KENLocalSpringBeans.xml:id="notificationService"
/KENLocalSpringBeans.xml:id="notificationWorkflowDocumentService"
/KENLocalSpringBeans.xml:id="recipientPreferenceService"
/KENLocalSpringBeans.xml:id="sendNotificationService"
/KENLocalSpringBeans.xml:id="userPreferenceService"
/KENRemoteSpringBeans.xml:id="sendNotificationService"
/KENSpringBeans.xml:id="kenApiService"
/KENSpringBeans.xml:id="kenSoapService"
/KENSpringBeans.xml:id="messageContentService"
/KENSpringBeans.xml:id="notificationAuthorizationService"
/KENSpringBeans.xml:id="notificationChannelService"
/KENSpringBeans.xml:id="notificationContentTypeService"
/KENSpringBeans.xml:id="notificationMessageDeliveryAutoRemovalService"
/KENSpringBeans.xml:id="notificationMessageDeliveryResolverService"
/KENSpringBeans.xml:id="notificationMessageDeliveryService"
/KENSpringBeans.xml:id="notificationRecipientService"
/KENSpringBeans.xml:id="notificationService"
/KENSpringBeans.xml:id="notificationWorkflowDocumentService"
/KENSpringBeans.xml:id="sendNotificationService"
/KENSpringBeans.xml:id="userPreferenceService"
/KEWServiceBusSpringBeans.xml:id="kewService"
/KEWSpringBeans.xml:id="actionRequestDerivedRoleTypeService"
/KEWSpringBeans.xml:id="adhocReviewPermissionTypeService"
/KEWSpringBeans.xml:id="businessObjectService"
/KEWSpringBeans.xml:id="criteriaLookupService"
/KEWSpringBeans.xml:id="dataDictionaryService"
/KEWSpringBeans.xml:id="docTypeLookupHelperService"
/KEWSpringBeans.xml:id="documentSearchCriteriaBoLookupableHelperService"
/KEWSpringBeans.xml:id="documentTypeResponsibilityTypeService"
/KEWSpringBeans.xml:id="enActionListEmailService"
/KEWSpringBeans.xml:id="enActionListService"
/KEWSpringBeans.xml:id="enActionRequestService"
/KEWSpringBeans.xml:id="enActionTakenService"
/KEWSpringBeans.xml:id="enBranchService"
/KEWSpringBeans.xml:id="enDocumentLinkService"
/KEWSpringBeans.xml:id="enDocumentRouteHeaderService"
/KEWSpringBeans.xml:id="enDocumentSearchService"
/KEWSpringBeans.xml:id="enDocumentSecurityService"
/KEWSpringBeans.xml:id="enDocumentTypePermissionService"
/KEWSpringBeans.xml:id="enDocumentTypeService"
/KEWSpringBeans.xml:id="enEmailContentService"
/KEWSpringBeans.xml:id="enEncryptionService"
/KEWSpringBeans.xml:id="enExceptionRoutingService"
/KEWSpringBeans.xml:id="enGroupXmlService"
/KEWSpringBeans.xml:id="enNoteService"
/KEWSpringBeans.xml:id="enNotificationService"
/KEWSpringBeans.xml:id="enQuickLinksService"
/KEWSpringBeans.xml:id="enResponsibilityIdService"
/KEWSpringBeans.xml:id="enRoleService"
/KEWSpringBeans.xml:id="enRouteModuleService"
/KEWSpringBeans.xml:id="enRouteNodeService"
/KEWSpringBeans.xml:id="enRoutingReportService"
/KEWSpringBeans.xml:id="enRuleAttributeService"
/KEWSpringBeans.xml:id="enRuleDelegationService"
/KEWSpringBeans.xml:id="enRuleTemplateService"
/KEWSpringBeans.xml:id="enStatsService"
/KEWSpringBeans.xml:id="enUserOptionsService"
/KEWSpringBeans.xml:id="enUserXmlService"
/KEWSpringBeans.xml:id="enWorkflowDocumentService"
/KEWSpringBeans.xml:id="enXmlPollerService"
/KEWSpringBeans.xml:id="kewCacheService"
/KEWSpringBeans.xml:id="kewIdentityHelperService"
/KEWSpringBeans.xml:id="kimRoleService"
/KEWSpringBeans.xml:id="kualiModuleService"
/KEWSpringBeans.xml:id="parameterService"
/KEWSpringBeans.xml:id="reviewResponsibilityTypeService"
/KEWSpringBeans.xml:id="routeLogDerivedRoleTypeService"
/KEWSpringBeans.xml:id="ruleBaseValuesLookupHelperService"
/KEWSpringBeans.xml:id="ruleDelegationLookupHelperService"
/KEWSpringBeans.xml:id="styleRepositoryService"
/KEWSpringBeans.xml:id="styleService"
/KEWSpringBeans.xml:id="xmlIngesterService"
/KIMImplementationSpringBeans.xml:id="activePrincipalRoleTypeService"
/KIMImplementationSpringBeans.xml:id="businessObjectService"
/KIMImplementationSpringBeans.xml:id="criteriaLookupService"
/KIMImplementationSpringBeans.xml:id="defaultPermissionTypeService"
/KIMImplementationSpringBeans.xml:id="defaultResponsibilityTypeService"
/KIMImplementationSpringBeans.xml:id="documentEditorRoleTypeService"
/KIMImplementationSpringBeans.xml:id="documentInitiatorRoleTypeService"
/KIMImplementationSpringBeans.xml:id="documentOpenerRoleTypeService"
/KIMImplementationSpringBeans.xml:id="documentTypeAndNodeOrStatePermissionTypeService"
/KIMImplementationSpringBeans.xml:id="groupInternalService"
/KIMImplementationSpringBeans.xml:id="groupPermissionTypeService"
/KIMImplementationSpringBeans.xml:id="kimCacheService"
/KIMImplementationSpringBeans.xml:id="kimDelegationTypeService"
/KIMImplementationSpringBeans.xml:id="kimGroupService"
/KIMImplementationSpringBeans.xml:id="kimGroupTypeService"
/KIMImplementationSpringBeans.xml:id="kimIdentityArchiveService"
/KIMImplementationSpringBeans.xml:id="kimIdentityDelegateService"
/KIMImplementationSpringBeans.xml:id="kimIdentityService"
/KIMImplementationSpringBeans.xml:id="kimNoMembersRoleTypeService"
/KIMImplementationSpringBeans.xml:id="kimPermissionService"
/KIMImplementationSpringBeans.xml:id="kimPermissionTypeService"
/KIMImplementationSpringBeans.xml:id="kimResponsibilityService"
/KIMImplementationSpringBeans.xml:id="kimRoleInternalService"
/KIMImplementationSpringBeans.xml:id="kimRoleService"
/KIMImplementationSpringBeans.xml:id="kimRoleTypeService"
/KIMImplementationSpringBeans.xml:id="kimTypeInfoService"
/KIMImplementationSpringBeans.xml:id="kimTypeService"
/KIMImplementationSpringBeans.xml:id="kualiConfigurationService"
/KIMImplementationSpringBeans.xml:id="permissionPermissionTypeService"
/KIMImplementationSpringBeans.xml:id="responsibilityInternalService"
/KIMImplementationSpringBeans.xml:id="responsibilityPermissionTypeService"
/KIMImplementationSpringBeans.xml:id="rolePermissionTypeService"
/KIMInterfaceSpringBeans.xml:id="dataDictionaryService"
/KIMInterfaceSpringBeans.xml:id="kimAuthenticationService"
/KIMInterfaceSpringBeans.xml:id="kualiModuleService"
/KIMInterfaceSpringBeans.xml:id="personService"
/KIMLdapSpringBeans.xml:id="kimIdentityDelegateService"
/KIMLdapSpringBeans.xml:id="kimUiDocumentService"
/KIMServiceBusSpringBeans.xml:id="kimService"
/KIMUserInterfaceSpringBeans.xml:id="businessObjectDictionaryService"
/KIMUserInterfaceSpringBeans.xml:id="businessObjectMetaDataService"
/KIMUserInterfaceSpringBeans.xml:id="businessObjectService"
/KIMUserInterfaceSpringBeans.xml:id="dataDictionaryService"
/KIMUserInterfaceSpringBeans.xml:id="encryptionService"
/KIMUserInterfaceSpringBeans.xml:id="kimUiDocumentService"
/KIMUserInterfaceSpringBeans.xml:id="lookupResultsService"
/KIMUserInterfaceSpringBeans.xml:id="lookupService"
/KIMUserInterfaceSpringBeans.xml:id="lookupableHelperService"
/KIMUserInterfaceSpringBeans.xml:id="persistenceStructureService"
/KIMUserInterfaceSpringBeans.xml:id="sequenceAccessorService"
/KNSSpringBeans.xml:id="businessObjectMetaDataService"
/KNSSpringBeans.xml:id="businessObjectSerializerService"
/KNSSpringBeans.xml:id="buttonPermissionTypeService"
/KNSSpringBeans.xml:id="componentFieldPermissionTypeService"
/KNSSpringBeans.xml:id="componentSectionPermissionTypeService"
/KNSSpringBeans.xml:id="dataDictionaryLookupResultsSupportStrategyService"
/KNSSpringBeans.xml:id="dataDictionaryService"
/KNSSpringBeans.xml:id="dictionaryValidationService"
/KNSSpringBeans.xml:id="knsSessionDocumentService"
/KNSSpringBeans.xml:id="lookupResultsService"
/KNSSpringBeans.xml:id="lookupableHelperService"
/KNSSpringBeans.xml:id="maintenanceDocumentDictionaryService"
/KNSSpringBeans.xml:id="persistableBusinessObjectLookupResultsSupportStrategyService"
/KNSSpringBeans.xml:id="pessimisticLockLookupableHelperService"
/KNSSpringBeans.xml:id="transactionalDocumentDictionaryService"
/KRADSpringBeans.xml:id="actionRequestTypePermissionTypeService"
/KRADSpringBeans.xml:id="attachmentService"
/KRADSpringBeans.xml:id="attributeQueryService"
/KRADSpringBeans.xml:id="batchFeedOrJobPermissionTypeService"
/KRADSpringBeans.xml:id="businessObjectAuthorizationService"
/KRADSpringBeans.xml:id="businessObjectDictionaryService"
/KRADSpringBeans.xml:id="businessObjectSerializerService"
/KRADSpringBeans.xml:id="businessObjectService"
/KRADSpringBeans.xml:id="buttonPermissionTypeService"
/KRADSpringBeans.xml:id="campusGroupTypeService"
/KRADSpringBeans.xml:id="campusRoleService"
/KRADSpringBeans.xml:id="componentFieldPermissionTypeService"
/KRADSpringBeans.xml:id="componentSectionPermissionTypeService"
/KRADSpringBeans.xml:id="componentService"
/KRADSpringBeans.xml:id="coreCacheService"
/KRADSpringBeans.xml:id="criteriaLookupService"
/KRADSpringBeans.xml:id="dataDictionaryComponentPublisherService"
/KRADSpringBeans.xml:id="dataDictionaryRemoteFieldService"
/KRADSpringBeans.xml:id="dataDictionaryService"
/KRADSpringBeans.xml:id="dataObjectAuthorizationService"
/KRADSpringBeans.xml:id="dataObjectMetaDataService"
/KRADSpringBeans.xml:id="dateTimeService"
/KRADSpringBeans.xml:id="dictionaryValidationService"
/KRADSpringBeans.xml:id="documentAdHocService"
/KRADSpringBeans.xml:id="documentDictionaryService"
/KRADSpringBeans.xml:id="documentHeaderService"
/KRADSpringBeans.xml:id="documentHelperService"
/KRADSpringBeans.xml:id="documentSerializerService"
/KRADSpringBeans.xml:id="documentService"
/KRADSpringBeans.xml:id="documentTypeAndAttachmentTypePermissionTypeService"
/KRADSpringBeans.xml:id="documentTypeAndEditModePermissionTypeService"
/KRADSpringBeans.xml:id="documentTypeAndExistingRecordsOnlyPermissionTypeService"
/KRADSpringBeans.xml:id="documentTypeAndNodeAndFieldsPermissionTypeService"
/KRADSpringBeans.xml:id="documentTypeAndNodeOrStatePermissionTypeService"
/KRADSpringBeans.xml:id="documentTypeAndRelationshipToNoteAuthorPermissionTypeService"
/KRADSpringBeans.xml:id="documentTypePermissionTypeService"
/KRADSpringBeans.xml:id="encryptionService"
/KRADSpringBeans.xml:id="expressionEvaluatorService"
/KRADSpringBeans.xml:id="inactivateableFromToService"
/KRADSpringBeans.xml:id="inactivationBlockingDetectionService"
/KRADSpringBeans.xml:id="inactivationBlockingDisplayService"
/KRADSpringBeans.xml:id="inquiryViewTypeService"
/KRADSpringBeans.xml:id="keyValuesService"
/KRADSpringBeans.xml:id="kradExceptionIncidentService"
/KRADSpringBeans.xml:id="kualiConfigurationService"
/KRADSpringBeans.xml:id="kualiModuleService"
/KRADSpringBeans.xml:id="kualiRuleService"
/KRADSpringBeans.xml:id="lookupService"
/KRADSpringBeans.xml:id="lookupViewTypeService"
/KRADSpringBeans.xml:id="mailService"
/KRADSpringBeans.xml:id="maintenanceDocumentService"
/KRADSpringBeans.xml:id="maintenanceViewTypeService"
/KRADSpringBeans.xml:id="namespaceOrActionPermissionTypeService"
/KRADSpringBeans.xml:id="namespaceOrComponentPermissionTypeService"
/KRADSpringBeans.xml:id="namespacePermissionTypeService"
/KRADSpringBeans.xml:id="namespaceService"
/KRADSpringBeans.xml:id="noteService"
/KRADSpringBeans.xml:id="parameterPermissionTypeService"
/KRADSpringBeans.xml:id="parameterRepositoryService"
/KRADSpringBeans.xml:id="parameterService"
/KRADSpringBeans.xml:id="persistenceService"
/KRADSpringBeans.xml:id="persistenceStructureService"
/KRADSpringBeans.xml:id="pessimisticLockService"
/KRADSpringBeans.xml:id="postProcessorService"
/KRADSpringBeans.xml:id="sequenceAccessorService"
/KRADSpringBeans.xml:id="sessionDocumentService"
/KRADSpringBeans.xml:id="viewActionPermissionTypeService"
/KRADSpringBeans.xml:id="viewDictionaryService"
/KRADSpringBeans.xml:id="viewEditModePermissionTypeService"
/KRADSpringBeans.xml:id="viewFieldPermissionTypeService"
/KRADSpringBeans.xml:id="viewGroupPermissionTypeService"
/KRADSpringBeans.xml:id="viewLineActionPermissionTypeService"
/KRADSpringBeans.xml:id="viewLineFieldPermissionTypeService"
/KRADSpringBeans.xml:id="viewPermissionTypeService"
/KRADSpringBeans.xml:id="viewService"
/KRADSpringBeans.xml:id="viewWidgetPermissionTypeService"
/KRADSpringBeans.xml:id="workflowAttributesPropertyResolutionService"
/KRADSpringBeans.xml:id="workflowDocumentService"
/KRADSpringBeans.xml:id="xmlObjectSerializerService"
/KRMSLocalSpringBeans.xml:id="actionBoService"
/KRMSLocalSpringBeans.xml:id="agendaAuthorizationService"
/KRMSLocalSpringBeans.xml:id="agendaBoService"
/KRMSLocalSpringBeans.xml:id="approvalPeopleFlowActionTypeService"
/KRMSLocalSpringBeans.xml:id="businessObjectService"
/KRMSLocalSpringBeans.xml:id="compoundPropositionTypeService"
/KRMSLocalSpringBeans.xml:id="configurationService"
/KRMSLocalSpringBeans.xml:id="contextBoService"
/KRMSLocalSpringBeans.xml:id="criteriaLookupService"
/KRMSLocalSpringBeans.xml:id="dataDictionaryService"
/KRMSLocalSpringBeans.xml:id="defaultRuleTypeService"
/KRMSLocalSpringBeans.xml:id="krmsAttributeDefinitionService"
/KRMSLocalSpringBeans.xml:id="krmsModuleService"
/KRMSLocalSpringBeans.xml:id="krmsTypeRepositoryService"
/KRMSLocalSpringBeans.xml:id="notificationPeopleFlowActionTypeService"
/KRMSLocalSpringBeans.xml:id="propositionBoService"
/KRMSLocalSpringBeans.xml:id="ruleBoService"
/KRMSLocalSpringBeans.xml:id="ruleRepositoryService"
/KRMSLocalSpringBeans.xml:id="termBoService"
/KRMSLocalSpringBeans.xml:id="validationActionTypeService"
/KRMSLocalSpringBeans.xml:id="validationRuleTypeService"
/KRMSRemoteSpringBeans.xml:id="approvalPeopleFlowActionTypeService"
/KRMSRemoteSpringBeans.xml:id="krmsTypeRepositoryService"
/KRMSRemoteSpringBeans.xml:id="notificationPeopleFlowActionTypeService"
/KRMSRemoteSpringBeans.xml:id="ruleRepositoryService"
/KRMSServiceBusSpringBeans.xml:id="krmsService"
/KRMSSpringBeans.xml:id="actionBoService"
/KRMSSpringBeans.xml:id="agendaAuthorizationService"
/KRMSSpringBeans.xml:id="agendaBoService"
/KRMSSpringBeans.xml:id="approvalPeopleFlowActionTypeService"
/KRMSSpringBeans.xml:id="businessObjectService"
/KRMSSpringBeans.xml:id="compoundPropositionTypeService"
/KRMSSpringBeans.xml:id="configurationService"
/KRMSSpringBeans.xml:id="contextBoService"
/KRMSSpringBeans.xml:id="criteriaLookupService"
/KRMSSpringBeans.xml:id="defaultRuleTypeService"
/KRMSSpringBeans.xml:id="krmsAttributeDefinitionService"
/KRMSSpringBeans.xml:id="krmsModuleService"
/KRMSSpringBeans.xml:id="krmsTypeRepositoryService"
/KRMSSpringBeans.xml:id="notificationPeopleFlowActionTypeService"
/KRMSSpringBeans.xml:id="propositionBoService"
/KRMSSpringBeans.xml:id="ruleBoService"
/KRMSSpringBeans.xml:id="ruleRepositoryService"
/KRMSSpringBeans.xml:id="termBoService"
/KRMSSpringBeans.xml:id="validationActionTypeService"
/KRMSSpringBeans.xml:id="validationRuleTypeService"
/KewEmbeddedSpringBeans.xml:id="actionRequestDerivedRoleTypeService"
/KewEmbeddedSpringBeans.xml:id="adhocReviewPermissionTypeService"
/KewEmbeddedSpringBeans.xml:id="documentTypeResponsibilityTypeService"
/KewEmbeddedSpringBeans.xml:id="enActionListService"
/KewEmbeddedSpringBeans.xml:id="enActionRequestService"
/KewEmbeddedSpringBeans.xml:id="enActionTakenService"
/KewEmbeddedSpringBeans.xml:id="enBranchService"
/KewEmbeddedSpringBeans.xml:id="enDocumentLinkService"
/KewEmbeddedSpringBeans.xml:id="enDocumentRouteHeaderService"
/KewEmbeddedSpringBeans.xml:id="enDocumentSecurityService"
/KewEmbeddedSpringBeans.xml:id="enDocumentTypePermissionService"
/KewEmbeddedSpringBeans.xml:id="enEncryptionService"
/KewEmbeddedSpringBeans.xml:id="enExceptionRoutingService"
/KewEmbeddedSpringBeans.xml:id="enNotificationService"
/KewEmbeddedSpringBeans.xml:id="enRoleService"
/KewEmbeddedSpringBeans.xml:id="enRouteModuleService"
/KewEmbeddedSpringBeans.xml:id="enRouteNodeService"
/KewEmbeddedSpringBeans.xml:id="enUserOptionsService"
/KewEmbeddedSpringBeans.xml:id="enWorkflowDocumentService"
/KewEmbeddedSpringBeans.xml:id="kewCacheService"
/KewEmbeddedSpringBeans.xml:id="kewIdentityHelperService"
/KewEmbeddedSpringBeans.xml:id="reviewResponsibilityTypeService"
/KewEmbeddedSpringBeans.xml:id="routeLogDerivedRoleTypeService"
/KewLocalSpringBeans.xml:id="enActionListEmailService"
/KewLocalSpringBeans.xml:id="enDocumentSearchService"
/KewLocalSpringBeans.xml:id="enDocumentTypeService"
/KewLocalSpringBeans.xml:id="enEmailContentService"
/KewLocalSpringBeans.xml:id="enGroupXmlService"
/KewLocalSpringBeans.xml:id="enNoteService"
/KewLocalSpringBeans.xml:id="enQuickLinksService"
/KewLocalSpringBeans.xml:id="enResponsibilityIdService"
/KewLocalSpringBeans.xml:id="enRoutingReportService"
/KewLocalSpringBeans.xml:id="enRuleAttributeService"
/KewLocalSpringBeans.xml:id="enRuleDelegationService"
/KewLocalSpringBeans.xml:id="enRuleTemplateService"
/KewLocalSpringBeans.xml:id="enStatsService"
/KewLocalSpringBeans.xml:id="enUserXmlService"
/KewLocalSpringBeans.xml:id="enXmlPollerService"
/KewWebSpringBeans.xml:id="docTypeLookupHelperService"
/KewWebSpringBeans.xml:id="documentSearchCriteriaBoLookupableHelperService"
/KewWebSpringBeans.xml:id="ruleBaseValuesLookupHelperService"
/KewWebSpringBeans.xml:id="ruleDelegationLookupHelperService"
/KimEmbeddedSpringBeans.xml:id="activePrincipalRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="defaultPermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="defaultResponsibilityTypeService"
/KimEmbeddedSpringBeans.xml:id="documentEditorRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="documentInitiatorRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="documentOpenerRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="documentTypeAndNodeOrStatePermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="groupInternalService"
/KimEmbeddedSpringBeans.xml:id="groupPermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="kimCacheService"
/KimEmbeddedSpringBeans.xml:id="kimDelegationTypeService"
/KimEmbeddedSpringBeans.xml:id="kimGroupService"
/KimEmbeddedSpringBeans.xml:id="kimGroupTypeService"
/KimEmbeddedSpringBeans.xml:id="kimIdentityArchiveService"
/KimEmbeddedSpringBeans.xml:id="kimIdentityDelegateService"
/KimEmbeddedSpringBeans.xml:id="kimIdentityService"
/KimEmbeddedSpringBeans.xml:id="kimNoMembersRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="kimPermissionService"
/KimEmbeddedSpringBeans.xml:id="kimPermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="kimResponsibilityService"
/KimEmbeddedSpringBeans.xml:id="kimRoleInternalService"
/KimEmbeddedSpringBeans.xml:id="kimRoleService"
/KimEmbeddedSpringBeans.xml:id="kimRoleTypeService"
/KimEmbeddedSpringBeans.xml:id="kimTypeInfoService"
/KimEmbeddedSpringBeans.xml:id="kimTypeService"
/KimEmbeddedSpringBeans.xml:id="permissionPermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="responsibilityInternalService"
/KimEmbeddedSpringBeans.xml:id="responsibilityPermissionTypeService"
/KimEmbeddedSpringBeans.xml:id="rolePermissionTypeService"
/KimRemoteSpringBeans.xml:id="kimGroupService"
/KimRemoteSpringBeans.xml:id="kimIdentityService"
/KimRemoteSpringBeans.xml:id="kimPermissionService"
/KimRemoteSpringBeans.xml:id="kimResponsibilityService"
/KimRemoteSpringBeans.xml:id="kimRoleService"
/KimRemoteSpringBeans.xml:id="kimTypeInfoService"
/KimWebSpringBeans.xml:id="kimUiDocumentService"
/KimWebSpringBeans.xml:id="lookupableHelperService"
/KsbServiceBusClientSpringBeans.xml:id="ksbService"
/LOCATIONSpringBeans.xml:id="businessObjectService"
/LOCATIONSpringBeans.xml:id="campusService"
/LOCATIONSpringBeans.xml:id="countryService"
/LOCATIONSpringBeans.xml:id="countyService"
/LOCATIONSpringBeans.xml:id="locationCacheService"
/LOCATIONSpringBeans.xml:id="postalCodeService"
/LOCATIONSpringBeans.xml:id="stateService"
/LocationLocalSpringBeans.xml:id="businessObjectService"
/LocationLocalSpringBeans.xml:id="campusGroupTypeService"
/LocationLocalSpringBeans.xml:id="campusRoleService"
/LocationLocalSpringBeans.xml:id="campusService"
/LocationLocalSpringBeans.xml:id="countryService"
/LocationLocalSpringBeans.xml:id="countyService"
/LocationLocalSpringBeans.xml:id="dataDictionaryService"
/LocationLocalSpringBeans.xml:id="kualiModuleService"
/LocationLocalSpringBeans.xml:id="postalCodeService"
/LocationLocalSpringBeans.xml:id="stateService"
/LocationRemoteSpringBeans.xml:id="campusService"
/LocationRemoteSpringBeans.xml:id="countryService"
/LocationRemoteSpringBeans.xml:id="countyService"
/LocationRemoteSpringBeans.xml:id="postalCodeService"
/LocationRemoteSpringBeans.xml:id="stateService"
/LocationServiceBusSpringBeans.xml:id="locationService"
/PostDataLoadEncryptionSpringBeans.xml:id="businessObjectService"
/PostDataLoadEncryptionSpringBeans.xml:id="encryptionService"
/PostDataLoadEncryptionSpringBeans.xml:id="postDataLoadEncryptionService"
/ReloadingDataDictionarySpringBeans.xml:id="dataDictionaryService"
/SearchableAttributesSpringBeans.xml:id="enRouteQueueService"	
	 -->
</beans>
