<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="properties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean" />

	<bean id="securityProperties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean">
		<property name="secureMode" value="true" />
	</bean>

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true"></property>
		<property name="propertiesArray">
			<list>
				<ref bean="properties" />
				<ref bean="securityProperties" />
			</list>
		</property>
	</bean>

	<bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean">
        <property name="defaultTimeout" value="${transaction.timeout}"/>
    </bean>

	<bean id="dataSource" class="org.kuali.rice.core.database.XAPoolDataSource">
		<property name="transactionManager" ref="jotm" />
		<property name="driverClassName" value="${datasource.driver.class}" />
		<property name="maxSize" value="${datasource.pool.size}" />
		<property name="minSize" value="5" />
		<property name="maxWait" value="${datasource.connection.timeout}" />
		<property name="validationQuery" value="${datasource.validating.query}" />
		<property name="url" value="${datasource.url}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
		<property name="preparedStmtCacheSize" value="${datasource.maximum.cached.preparedstatements}" />
	</bean>

    <bean id="nonTransactionalDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${datasource.driver.name}"/>
        <property name="url" value="${datasource.url}"/>
        <property name="maxActive" value="${datasource.pool.maxActive}"/>
        <property name="minIdle" value="${datasource.minIdle}" />
        <property name="initialSize" value="${datasource.initialSize}"/>
        <property name="validationQuery" value="${datasource.pool.validationQuery}"/>
        <property name="username" value="${datasource.username}" />
        <property name="password" value="${datasource.password}" />
        <property name="accessToUnderlyingConnectionAllowed" value="${datasource.accessToUnderlyingConnectionAllowed}"/>
    </bean>
    
	<bean id="dbPlatformFactory" class="org.kuali.rice.kns.dbplatform.ConfigurableKualiDBPlatformFactory">
		<property name="ojbPlatform" value="${datasource.ojb.platform}" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dbPlatform" factory-bean="dbPlatformFactory" factory-method="getPlatform" />
	
	<bean id="platformAwareDaoJdbc" abstract="true" class="org.kuali.rice.kns.dao.jdbc.PlatformAwareDaoBaseJdbc">
		<property name="dataSource" ref="dataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>

	<bean id="platformAwareDao" abstract="true" class="org.kuali.rice.kns.dao.impl.PlatformAwareDaoBaseOjb">
		<property name="jcdAlias" value="knsDataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>

	<bean id="kfsRootResourceLoader" class="org.kuali.kfs.sys.context.FinancialSystemResourceLoader">
		<property name="overridableServices">
			<set>
				<value>kualiConfigurationService</value>
				<value>kualiModuleService</value>
				<value>webAuthenticationService</value>
				<value>enWebAuthenticationService</value>
				<value>authorizationService</value>
				<value>identityManagementService</value>
    		    <value>personService</value>
	        	<value>personDao</value>
				<value>enUserService</value>
				<value>kimGroupService</value>
				<value>workflowInfoService</value>
				<value>encryptionService</value>
				<value>enEncryptionService</value>
				<value>persistenceStructureService</value>
				<value>persistenceService</value>
				<value>sequenceAccessorService</value>
				<value>postDataLoadEncryptionService</value>
				<value>mailService</value>
				<value>dateTimeService</value>
				<value>dataDictionaryService</value>
				<value>dictionaryValidationService</value>
				
				<value>lookupableHelperService</value>
				<value>lookupService</value>
				<value>lookupResultsService</value>
				<value>persistedLookupMetadataDao</value>
				<value>lookupUtils</value>
				<value>kualiLookupable</value>
				<value>personLookupable</value>
				<value>workflowLookupable</value>
				<value>kualiInquirable</value>
				<value>keyValuesService</value>

				<value>businessObjectService</value>
				<value>businessObjectMetaDataService</value>
				<value>businessObjectDictionaryService</value>

				<value>inactivationBlockingDetectionService</value>
				<value>inactivationBlockingDisplayService</value>

				<value>documentTypeService</value>
				<value>documentService</value>
				<value>documentDao</value>
				<value>documentHeaderService</value>
				<value>documentAuthorizationService</value>
				<value>documentPresentationControllerService</value>
				<value>kualiRuleService</value>
				<value>postProcessorService</value>
				<value>workflowDocumentService</value>
				<value>xmlObjectSerializerService</value>
				<value>noteService</value>
				<value>attachmentService</value>
				<value>confirmationQuestion</value>
				<value>singleConfirmationQuestion</value>
				<value>maintenanceDocumentService</value>
				<value>maintenanceDocumentDictionaryService</value>
				<value>transactionalDocumentDictionaryService</value>
				<value>maintenanceDocumentRuleBase</value>
				<value>sessionDocumentService</value>
				<value>countryService</value>
				<value>countyService</value>
				<value>stateService</value>
				<value>postalCodeService</value>
			</set>
		</property>
	</bean>

  <bean id="identityManagementService" class="org.kuali.rice.kim.service.impl.IdentityManagementServiceImpl"
    p:entityPrincipalCacheMaxSize="200"
    p:entityPrincipalCacheMaxAge="1000"
    p:groupCacheMaxSize="200"
    p:groupCacheMaxAge="1000"
    p:permissionCacheMaxSize="200"
    p:permissionCacheMaxAge="1000"
    p:responsibilityCacheMaxSize="200"
    p:responsibilityCacheMaxAge="1000"
  />
  
  <bean id="personService" class="org.kuali.rice.kim.service.impl.PersonServiceImpl">
    <property name="personDao" ref="personDao" />
    <property name="identityManagementService" ref="identityManagementService" />
  </bean>
  
  <bean id="personDao" class="org.kuali.rice.kim.dao.proxy.PersonDaoProxy">
    <property name="daoJpa">
        <bean class="org.kuali.rice.kim.dao.impl.PersonDaoJpa" />
    </property>
    <property name="daoOjb">
        <bean class="org.kuali.rice.kim.dao.impl.PersonDaoOjb" parent="platformAwareDao">
          <property name="personImplementationClass" value="org.kuali.rice.kim.bo.impl.PersonImpl" />
          <property name="personEntityTypeCode" value="PERSON" />
        </bean>
    </property>
  </bean>
  <!-- 
  <bean id="personDao" parent="platformAwareDao" class="org.kuali.rice.kim.dao.impl.PersonDaoOjb" />
  -->
	<alias name="webAuthenticationService" alias="enWebAuthenticationService" />
	<alias name="encryptionService" alias="enEncryptionService" />

	<bean id="platformTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" lazy-init="true">
		<property name="userTransaction">
			<ref local="jotm" />
		</property>
		<property name="transactionManager">
			<ref local="jotm" />
		</property>
	</bean>

	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

	<bean id="advisor" class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<property name="classFilter" ref="transactionAdvisorClassFilter" />
		<property name="transactionInterceptor" ref="transactionInterceptor" />
	</bean>

	<bean id="transactionAdvisorClassFilter" class="org.kuali.rice.kns.util.spring.ClassOrMethodAnnotationFilter">
		<constructor-arg value="org.springframework.transaction.annotation.Transactional" />
	</bean>

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="platformTransactionManager" />
		<property name="transactionAttributeSource" ref="transactionAttributeSource" />
	</bean>

	<bean id="transactionAttributeSource" class="org.kuali.rice.kns.util.spring.AnnotationAndNameMatchingTransactionAttributeSource">
		<property name="annotationTransactionAttributeSource" ref="annotationTransactionAttributeSource" />
		<property name="transactionTimeout" value="${transaction.timeout}" />
	</bean>

	<bean id="annotationTransactionAttributeSource" class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />

 	<bean id="methodCacheAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="methodCacheInterceptor" />
		<property name="pointcut" ref="methodCachePointcut" />
	</bean>

    <bean id="methodCacheNoCopyAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="methodCacheNoCopyInterceptor" />
        <property name="pointcut" ref="methodCacheNoCopyPointcut" />
    </bean>

	<bean id="methodCacheInterceptor" class="org.kuali.rice.kns.util.cache.MethodCacheInterceptor">
		<property name="cache" ref="methodCache" />
		<property name="expirationTimeInSeconds">
			<value>60</value>
		</property>
	</bean>

    <bean id="methodCacheNoCopyInterceptor" class="org.kuali.rice.kns.util.cache.MethodCacheNoCopyInterceptor">
        <property name="cache" ref="methodCacheNoCopy" />
        <property name="expirationTimeInSeconds">
            <value>600</value>
		</property>
	</bean>

	<bean id="methodCache" factory-bean="methodResultsCacheAdministrator" factory-method="getCache" />

	<bean id="methodResultsCacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.memory">true</prop>
				<prop key="cache.key">__oscache_mrcache</prop>
				<prop key="cache.persistence.overflow.only">false</prop>
				<prop key="cache.capacity">1000</prop>
				<prop key="cache.event.listeners">org.kuali.rice.kns.util.cache.MethodResultsCacheMonitor</prop>
			</props>
		</constructor-arg>
	</bean>

    <bean id="methodCacheNoCopy" factory-bean="methodResultsCacheNoCopyAdministrator" factory-method="getCache" />

    <bean id="methodResultsCacheNoCopyAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
        <constructor-arg index="0">
            <props>
                <prop key="cache.memory">true</prop>
                <prop key="cache.key">__oscache_mrcache</prop>
                <prop key="cache.persistence.overflow.only">false</prop>
                <prop key="cache.capacity">1000</prop>
                <prop key="cache.event.listeners">org.kuali.rice.kns.util.cache.MethodResultsCacheNoCopyMonitor</prop>
            </props>
        </constructor-arg>
    </bean>

	<bean id="methodCachePointcut" class="org.kuali.rice.kns.util.spring.ClassOrMethodAnnotationPointcut">
		<constructor-arg value="org.kuali.rice.kns.util.spring.Cached" />
	</bean>

    <bean id="methodCacheNoCopyPointcut" class="org.kuali.rice.kns.util.spring.ClassOrMethodAnnotationPointcut">
        <constructor-arg value="org.kuali.rice.kns.util.spring.CacheNoCopy" />
	</bean>

	<bean id="methodLoggingAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="methodLoggingInterceptor" />
		<property name="pointcut" ref="methodLoggingPointcut" />
	</bean>

	<bean id="methodLoggingInterceptor" class="org.kuali.rice.kns.util.spring.MethodLoggingInterceptor" />

	<bean id="methodLoggingPointcut" class="org.kuali.rice.kns.util.spring.ClassOrMethodAnnotationPointcut">
		<constructor-arg value="org.kuali.rice.kns.util.spring.Logged" />
	</bean>

	<bean id="sequenceAccessorDao" parent="platformAwareDaoJdbc" class="org.kuali.rice.kns.dao.jdbc.SequenceAccessorDaoJdbc" />

	<bean id="sequenceAccessorService" class="org.kuali.rice.kns.service.impl.SequenceAccessorServiceImpl">
		<property name="sequenceAccessorDao" ref="sequenceAccessorDao" />
	</bean>

	<bean id="postDataLoadEncryptionDao" parent="platformAwareDaoJdbc" class="org.kuali.rice.kns.dao.jdbc.PostDataLoadEncryptionDaoJdbc" />

	<bean id="postDataLoadEncryptionService" class="org.kuali.rice.kns.service.impl.PostDataLoadEncryptionServiceImpl">
		<property name="postDataLoadEncryptionDao" ref="postDataLoadEncryptionDao" />
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="encryptionService" ref="encryptionService" />
	</bean>

  <bean id="webAuthenticationService" class="org.kuali.rice.kim.service.impl.AuthenticationServiceImpl">
    <property name="validatePassword" value="${validate.password}" />
  </bean>
	<!-- 
	<bean id="webAuthenticationService" class="org.kuali.kfs.sys.service.impl.WebAuthenticationServiceCas">
		<property name="validatePassword" value="${validate.password}" />
	</bean>
  -->

	<bean id="encryptionService" class="org.kuali.rice.core.service.impl.DemonstrationGradeEncryptionServiceImpl">
		<property name="secretKey">
			<value>${encryption.key}</value>
		</property>
	</bean>

	<bean id="workflowLookupable" class="org.kuali.rice.kns.workflow.attribute.WorkflowLookupableImpl" scope="prototype">
		<property name="configurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
	</bean>

	<bean id="maintenanceDocumentRuleBase" class="org.kuali.rice.kns.maintenance.rules.MaintenanceDocumentRuleBase" abstract="true">
		<property name="configService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="dictionaryValidationService">
			<ref bean="dictionaryValidationService" />
		</property>
		<property name="documentAuthorizationService">
			<ref bean="documentAuthorizationService" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="workflowDocumentService" />
		</property>
		<property name="boDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="ddService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="boService">
			<ref bean="businessObjectService" />
		</property>
		<property name="maintDocDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="persistenceService">
			<ref bean="persistenceService" />
		</property>
		<property name="personService">
			<ref bean="personService" />
		</property>
	</bean>

	<bean id="dataDictionaryService" class="org.kuali.rice.kns.service.impl.DataDictionaryServiceImpl">
		<property name="kualiConfigurationService" ref="kualiConfigurationService" />
		<property name="kualiModuleService" ref="kualiModuleService" />
        <property name="baselinePackages">
            <list>
		        <value>classpath:org/kuali/rice/kew/bo/datadictionary/DocumentType.xml</value>
		        <value>classpath:org/kuali/rice/kew/bo/datadictionary/RuleAttribute.xml</value>
		        <value>classpath:org/kuali/rice/kew/bo/datadictionary/RuleTemplate.xml</value>

                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonImpl.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/KimAttributes.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/KimBaseBeans.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentAffiliation.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentEmploymentInfo.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentCitizenship.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentName.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentAddress.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentPhone.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentEmail.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentGroup.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentRole.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/PersonDocumentPrivacy.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/KimGroupImpl.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/KimRoleImpl.xml</value>
                <value>classpath:org/kuali/rice/kim/bo/datadictionary/KimTypeImpl.xml</value>
                <value>classpath:org/kuali/rice/kim/document/datadictionary/IdentityManagementPersonDocument.xml</value>

				<value>classpath:org/kuali/rice/kns/bo/datadictionary/DataDictionaryBaseTypes.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/AdHocRoutePerson.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/AdHocRouteWorkgroup.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/Attachment.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/AttributeReferenceDummy.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/BusinessObjectAttributeEntry.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/Campus.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/CampusType.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/DocumentHeader.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/DocumentType.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/Country.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/County.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/State.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/PostalCode.xml</value>
				

                <value>classpath:org/kuali/rice/kns/bo/datadictionary/ParameterNamespace.xml</value>
                <value>classpath:org/kuali/rice/kns/bo/datadictionary/ParameterType.xml</value>
                <value>classpath:org/kuali/rice/kns/bo/datadictionary/ParameterDetailType.xml</value>
                <value>classpath:org/kuali/rice/kns/bo/datadictionary/Parameter.xml</value>

				<value>classpath:org/kuali/rice/kns/bo/datadictionary/Note.xml</value>
				<value>classpath:org/kuali/rice/kns/bo/datadictionary/NoteType.xml</value>

                <value>classpath:org/kuali/rice/kns/document/datadictionary/ParameterNamespaceMaintenanceDocument.xml</value>
                <value>classpath:org/kuali/rice/kns/document/datadictionary/ParameterTypeMaintenanceDocument.xml</value>
                <value>classpath:org/kuali/rice/kns/document/datadictionary/ParameterDetailTypeMaintenanceDocument.xml</value>
                <value>classpath:org/kuali/rice/kns/document/datadictionary/ParameterMaintenanceDocument.xml</value>

				<value>classpath:org/kuali/rice/kns/document/datadictionary/CampusMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/CampusTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/DocumentTypeMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/CountryMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/CountyMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/StateMaintenanceDocument.xml</value>
				<value>classpath:org/kuali/rice/kns/document/datadictionary/PostalCodeMaintenanceDocument.xml</value>
            </list>
        </property>
	</bean>

	<bean id="businessObjectService" class="org.kuali.rice.kns.service.impl.BusinessObjectServiceImpl">
		<property name="businessObjectDao">
			<ref bean="businessObjectDao" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="persistenceService">
			<ref bean="persistenceService" />
		</property>
		<property name="personService">
			<ref bean="personService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
	</bean>

	<bean id="kualiConfigurationService" class="org.kuali.rice.kns.service.impl.KualiConfigurationServiceImpl" depends-on="rice"/>

	<bean id="authorizationService" class="org.kuali.rice.kns.service.impl.AuthorizationServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>

	<bean id="kualiModuleService" class="org.kuali.rice.kns.service.impl.KualiModuleServiceImpl" >
		<property name="loadRiceInstalledModuleServices" value="true"></property>
	</bean>

	<bean id="mailService" class="org.kuali.rice.kns.service.impl.MailServiceImpl">
		<property name="mailSender">
			<ref bean="mailSender" />
		</property>
		<property name="batchMailingList" value="${mailing.list.batch}" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.relay.server}" />
	</bean>
		
	<bean id="workflowInfoService" class="org.kuali.rice.kns.workflow.service.impl.KualiWorkflowInfoImpl" />

	<bean id="xmlObjectSerializerService" class="org.kuali.rice.kns.service.impl.XmlObjectSerializerServiceImpl"></bean>

	<bean id="documentService" class="org.kuali.kfs.sys.document.service.impl.FinancialSystemDocumentServiceImpl">
		<property name="documentDao">
			<ref bean="documentDao" />
		</property>
		<property name="documentTypeService">
			<ref bean="documentTypeService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="workflowDocumentService" />
		</property>
		<property name="kualiRuleService">
			<ref bean="kualiRuleService" />
		</property>
		<property name="documentHeaderService">
			<ref bean="documentHeaderService" />
		</property>
		<property name="documentAuthorizationService">
			<ref bean="documentAuthorizationService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="maintenanceDocumentService">
			<ref bean="maintenanceDocumentService" />
		</property>
		<property name="noteService">
			<ref bean="noteService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>

	<bean id="documentHeaderService" class="org.kuali.rice.kns.service.impl.DocumentHeaderServiceImpl">
		<property name="documentHeaderDao">
			<ref bean="documentHeaderDao" />
		</property>
	</bean>

	<bean id="kualiRuleService" class="org.kuali.rice.kns.service.impl.KualiRuleServiceImpl">
		<property name="transactionalDocumentDictionaryService">
			<ref bean="transactionalDocumentDictionaryService" />
		</property>
		<property name="maintenanceDocumentDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="dictionaryValidationService">
			<ref bean="dictionaryValidationService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>

	<bean id="dateTimeService" class="org.kuali.rice.kns.service.impl.DateTimeServiceImpl">
		<property name="sqlDateFormats">
			<list>
				<value>yyyy-MM-dd</value>
				<value>MM/dd/yyyy</value>
				<value>MM/dd/yy</value>
				<value>MM-dd-yyyy</value>
				<value>MM-dd-yy</value>
			</list>
		</property>
		<property name="stringDateFormat" value="MM/dd/yyyy" />
		<property name="stringDateTimeFormat" value="MM/dd/yyyy hh:mm a" />
	</bean>

	<bean id="businessObjectDictionaryService" class="org.kuali.rice.kns.service.impl.BusinessObjectDictionaryServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="maintenanceDocumentDictionaryService" class="org.kuali.rice.kns.service.impl.MaintenanceDocumentDictionaryServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>

	<bean id="transactionalDocumentDictionaryService" class="org.kuali.rice.kns.service.impl.TransactionalDocumentDictionaryServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>

	<bean id="documentTypeService" class="org.kuali.rice.kns.service.impl.DocumentTypeServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="lookupService" class="org.kuali.rice.kns.service.impl.LookupServiceImpl">
		<property name="lookupDao">
			<ref bean="lookupDao" />
		</property>
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="authorizationService">
			<ref bean="authorizationService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="kimGroupService" class="org.kuali.rice.kim.service.impl.GroupServiceImpl"/>

	<bean id="workflowDocumentService" class="org.kuali.rice.kns.workflow.service.impl.WorkflowDocumentServiceImpl">
		<property name="workflowInfoService">
			<ref bean="workflowInfoService" />
		</property>
	</bean>

	<bean id="maintenanceDocumentService" class="org.kuali.rice.kns.service.impl.MaintenanceDocumentServiceImpl">
		<property name="maintenanceDocumentDao">
			<ref bean="maintenanceDocumentDao" />
		</property>
	</bean>

	<bean id="noteService" class="org.kuali.rice.kns.service.impl.NoteServiceImpl">
		<property name="noteDao">
			<ref bean="noteDao" />
		</property>
		<property name="personService">
			<ref bean="personService" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="workflowDocumentService" />
		</property>		
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>	
	</bean>

	<bean id="attachmentService" class="org.kuali.rice.kns.service.impl.AttachmentServiceImpl">
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
	</bean>

  	<bean id="persistenceStructureService" class="org.kuali.rice.kns.service.impl.PersistenceStructureServiceOjbImpl" />

  	<bean id="persistenceService" class="org.kuali.rice.kns.service.impl.PersistenceServiceOjbImpl">
    	<property name="persistenceDao" ref="persistenceDao" />
  	</bean>
  
	<bean id="persistenceDao" class="org.kuali.rice.kns.dao.proxy.PersistenceDaoProxy">
    	<property name="persistenceDaoOjb" ref="persistenceDaoOjb" />
	</bean>

  <bean id="persistenceDaoOjb" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.PersistenceDaoOjb" />

	<bean id="dictionaryValidationService" class="org.kuali.rice.kns.service.impl.DictionaryValidationServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="maintenanceDocumentDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="transactionalDocumentDictionaryService">
			<ref bean="transactionalDocumentDictionaryService" />
		</property>
		<property name="persistenceService">
			<ref bean="persistenceService" />
		</property>
		<property name="configService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="documentAuthorizationService" class="org.kuali.rice.kns.service.impl.DocumentAuthorizationServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>
	
	<bean id="documentPresentationControllerService" class="org.kuali.rice.kns.service.impl.DocumentPresentationControllerServiceImpl">
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>
	
	<bean id="keyValuesService" class="org.kuali.rice.kns.service.impl.KeyValuesServiceImpl">
		<property name="businessObjectDao">
			<ref bean="businessObjectDao" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="postProcessorService" class="org.kuali.rice.kns.service.impl.PostProcessorServiceImpl">
		<property name="documentService">
			<ref bean="documentService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
	</bean>

	<bean id="kualiLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="lookupableHelperService" />
		</property>
	</bean>

	<bean id="lookupableHelperService" class="org.kuali.rice.kns.lookup.KualiLookupableHelperServiceImpl" scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="personService">
			<ref bean="personService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="sequenceAccessorService">
			<ref bean="sequenceAccessorService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="lookupResultsService">
			<ref bean="lookupResultsService" />
		</property>
	</bean>	

	<bean id="lookupResultsService" class="org.kuali.rice.kns.lookup.LookupResultsServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="persistedLookupMetadataDao">
			<ref bean="persistedLookupMetadataDao" />
		</property>
	</bean>

	<bean id="persistedLookupMetadataDao" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.PersistedLookupMetadataDaoOjb" />

	<bean id="businessObjectMetaDataService" class="org.kuali.rice.kns.service.impl.BusinessObjectMetaDataServiceImpl">
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="kualiModuleService">
			<ref bean="kualiModuleService"/>
		</property>
	</bean>

	<!-- Since these beans are not a singletons, Spring does not inject their static
		members until the first one is created. This bean causes one to be created.
	-->
	<bean id="springStatefulStaticInitializer" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="kualiLookupable" />
				<ref bean="workflowLookupable" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="lookupUtils" class="org.kuali.rice.kns.lookup.LookupUtils">
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
        <property name="kualiConfigurationService" ref="kualiConfigurationService" />
	</bean>

	<bean id="kualiInquirable" class="org.kuali.rice.kns.inquiry.KualiInquirableImpl" scope="prototype" />

	<bean id="confirmationQuestion" class="org.kuali.rice.kns.question.ConfirmationQuestion" scope="prototype" />
    
	<bean id="documentDao" parent="platformAwareDao" class="org.kuali.kfs.sys.document.dataaccess.impl.FinancialSystemDocumentDaoOjb">
		<property name="businessObjectDao">
			<ref bean="businessObjectDao" />
		</property>
	</bean>

	<bean id="documentHeaderDao" parent="platformAwareDao" class="org.kuali.kfs.sys.document.dataaccess.impl.FinancialSystemDocumentHeaderDaoOjb" />

	<bean id="lookupDao" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.LookupDaoOjb">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="maintenanceDocumentDao" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.MaintenanceDocumentDaoOjb" />

	<bean id="noteDao" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.NoteDaoOjb" />

	<bean id="businessObjectDao" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.BusinessObjectDaoOjb">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="inactivationBlockingDetectionService" class="org.kuali.rice.kns.service.impl.InactivationBlockingDetectionServiceImpl">
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService"/>
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="inactivationBlockingDisplayService" class="org.kuali.rice.kns.service.impl.InactivationBlockingDisplayServiceImpl">
		<property name="persistenceService">
			<ref bean="persistenceService"/>
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService"/>
		</property>
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>
	
	<bean id="sessionDocumentService" class="org.kuali.rice.kns.service.impl.SessionDocumentServiceImpl">
		<property name="maxCacheSize" value="${session.document.cache.size}" />
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="sessionDocumentDao">
			<ref bean="sessionDocumentDao" />
		</property>
	</bean>
	
		<bean id="sessionDocumentDao" class="org.kuali.rice.kns.dao.proxy.SessionDocumentDaoProxy">
    	<property name="sessionDocumentDaoJpa" ref="sessionDocumentDaoJpa" />
    	<property name="sessionDocumentDaoOjb" ref="sessionDocumentDaoOjb" />
  	</bean>
  
    <bean id="sessionDocumentDaoJpa" class="org.kuali.rice.kns.dao.impl.SessionDocumentDaoJpa" />

	<bean id="sessionDocumentDaoOjb" parent="platformAwareDao" class="org.kuali.rice.kns.dao.impl.SessionDocumentDaoOjb" />
	
		<bean id="postalCodeService" class="org.kuali.rice.kns.service.impl.PostalCodeServiceImpl">
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>
		<property name="countryService">
			<ref bean="countryService" />
		</property>
	</bean>
	
	<bean id="countyService" class="org.kuali.rice.kns.service.impl.CountyServiceImpl">
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>
		<property name="countryService">
			<ref bean="countryService" />
		</property>
	</bean>
	
	<bean id="stateService" class="org.kuali.rice.kns.service.impl.StateServiceImpl">
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>
		<property name="countryService">
			<ref bean="countryService" />
		</property>
	</bean>
	
	<bean id="countryService" class="org.kuali.rice.kns.service.impl.CountryServiceImpl">
		<property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>
	</bean>
	
    <bean id="kfsService" class="org.kuali.rice.ksb.messaging.JavaServiceDefinition" abstract="true">
      <property name="serviceNameSpaceURI" value="" />
      <property name="retryAttempts" value="0" />
    </bean>
  	
  	<!-- TODO : temporarily set up to resolve Empty DD entry from Rice DD -->
  	<bean id="groupLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" parent="kualiLookupable">
        <property name="lookupableHelperService">
            <bean class="org.kuali.rice.kim.lookup.GroupLookupableHelperServiceImpl"
                parent="lookupableHelperService">
            </bean>
        </property>
    </bean>
  	
  	
  	<bean id="kimPersonLookupable" class="org.kuali.rice.kim.lookup.PersonLookupableImpl" parent="kualiLookupable">
        <property name="lookupableHelperService">
            <bean class="org.kuali.rice.kim.lookup.PersonLookupableHelperServiceImpl"
                parent="lookupableHelperService">
            </bean>
        </property>
    </bean>
  	
</beans>
