<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
<!-- We should not need to override these here in Rice 2.0
  <bean id="properties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean" />

  <bean id="securityProperties"
    class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean">
    <property name="secureMode" value="true" />
  </bean>

  <bean id="propertyPlaceholderConfigurer"
    class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true"></property>
    <property name="propertiesArray">
      <list>
        <ref bean="properties" />
        <ref bean="securityProperties" />
      </list>
    </property>
  </bean>


	<bean id="dataSource" class="org.kuali.rice.core.database.PrimaryDataSourceFactoryBean">
        <property name="preferredDataSourceParams">
			<list>
				<value>datasource</value>
			</list>
		</property>
		<property name="preferredDataSourceJndiParams">
			<list>
				<value>datasource.jndi.location</value>
			</list>
		</property>
    </bean>
    
	<bean id="nonTransactionalDataSource" class="org.kuali.rice.core.database.PrimaryDataSourceFactoryBean">
        <property name="preferredDataSourceParams">
			<list>
				<value>nonTransactionalDatasource</value>
			</list>
		</property>
		<property name="preferredDataSourceJndiParams">
			<list>
				<value>nonTransactional.datasource.jndi.location</value>
			</list>
		</property>
    </bean>

    <bean id="persistenceService" class="org.kuali.rice.krad.service.impl.PersistenceServiceOjbImpl">
      <property name="persistenceDao" ref="persistenceDao" />
    </bean>
 -->

  <bean id="properties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean" />

  <bean id="securityProperties" class="org.kuali.kfs.sys.context.PropertyLoadingFactoryBean"
    p:secureMode="true" />

  <bean id="propertyPlaceholderConfigurer" class="org.kuali.kfs.sys.context.ConfigPropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="propertiesArray">
      <list>
        <ref bean="properties" />
        <ref bean="securityProperties" />
      </list>
    </property>
  </bean>

    <bean id="nonTransactionalDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${kfs.datasource.driver.name}"/>
        <property name="validationQuery" value="${kfs.datasource.validating.query}"/>
        <property name="url" value="${kfs.datasource.url}"/>    
        <property name="username" value="${kfs.datasource.username}" />
        <property name="password" value="${kfs.datasource.password}" />
        <property name="accessToUnderlyingConnectionAllowed" value="${kfs.datasource.pool.accessToUnderlyingConnectionAllowed}"/>
        <property name="maxActive" value="${kfs.datasource.pool.maxActive}"/>
		<property name="minIdle" value="${kfs.datasource.pool.minIdle}" />
		<property name="initialSize" value="${kfs.datasource.pool.initialSize}" />
    </bean>

	<bean id="grlBeanImporter" abstract="true" class="org.kuali.rice.krad.config.GlobalResourceLoaderServiceFactoryBean" p:singleton="true" p:mustExist="true" />

 	<bean id="dataSource" p:serviceName="dataSource" parent="grlBeanImporter" />
 	<bean id="riceDataSource" p:serviceName="riceDataSource" parent="grlBeanImporter" />
 	<!-- 
 	<bean id="nonTransactionalDataSource" p:serviceName="nonTransactionalDataSource" parent="grlBeanImporter" />
 	<bean id="riceNonTransactionalDataSource" p:serviceName="riceNonTransactionalDataSource" parent="grlBeanImporter" />
    -->  
    	   <!-- These are beans we need to export from Rice -->
 	<bean id="dataDictionaryService" p:serviceName="dataDictionaryService" parent="grlBeanImporter" />
 	<bean id="dateTimeService" p:serviceName="dateTimeService" parent="grlBeanImporter" />
 	<!-- <bean id="platformAwareDao" p:serviceName="platformAwareDao" parent="grlBeanImporter" />
 	<bean id="platformAwareDaoJdbc" p:serviceName="platformAwareDaoJdbc" parent="grlBeanImporter" /> -->

 	<bean id="mailService" p:serviceName="mailService" parent="grlBeanImporter" />
 	<bean id="kualiModuleService" p:serviceName="kualiModuleService" parent="grlBeanImporter" />
 	<bean id="parameterService" p:serviceName="parameterService" parent="grlBeanImporter" />
 	<bean id="configurationService" p:serviceName="kualiConfigurationService" parent="grlBeanImporter" />
 	<alias name="configurationService" alias="kualiConfigurationService" />
 	<bean id="attachmentService" p:serviceName="attachmentService" parent="grlBeanImporter" />
 	<bean id="sessionDocumentService" p:serviceName="sessionDocumentService" parent="grlBeanImporter" />
 	<bean id="noteService" p:serviceName="noteService" parent="grlBeanImporter" />
 	<!-- <bean id="documentService" p:serviceName="documentService" parent="grlBeanImporter" /> -->
 	<bean id="businessObjectService" p:serviceName="businessObjectService" parent="grlBeanImporter" />
 	<bean id="persistenceStructureService" p:serviceName="persistenceStructureService" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceJpa" p:serviceName="persistenceStructureServiceJpa" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceOjb" p:serviceName="persistenceStructureServiceOjb" parent="grlBeanImporter" />
 	<bean id="kualiRuleService" p:serviceName="kualiRuleService" parent="grlBeanImporter" />
 	<bean id="businessObjectMetaDataService" p:serviceName="businessObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="lookupService" p:serviceName="lookupService" parent="grlBeanImporter" />
 	<bean id="lookupResultsService" p:serviceName="lookupResultsService" parent="grlBeanImporter" />
 	<bean id="lookupDao" p:serviceName="lookupDao" parent="grlBeanImporter" />
 	<bean id="documentAdHocService" p:serviceName="documentAdHocService" parent="grlBeanImporter" />
 	<!-- <bean id="maintenanceDocumentService" p:serviceName="maintenanceDocumentService" parent="grlBeanImporter" /> -->
 	<bean id="workflowDocumentService" p:serviceName="workflowDocumentService" parent="grlBeanImporter" />
 	<bean id="dictionaryValidationService" p:serviceName="dictionaryValidationService" parent="grlBeanImporter" />
 	<bean id="persistenceService" p:serviceName="persistenceService" parent="grlBeanImporter" />
 	<bean id="businessObjectDictionaryService" p:serviceName="businessObjectDictionaryService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentDictionaryService" p:serviceName="maintenanceDocumentDictionaryService" parent="grlBeanImporter" />
 	<!-- <bean id="documentHeaderService" p:serviceName="documentHeaderService" parent="grlBeanImporter" /> -->
 	<bean id="maintenanceDocumentDao" p:serviceName="maintenanceDocumentDao" parent="grlBeanImporter" />
 	<bean id="postalCodeService" p:serviceName="postalCodeService" parent="grlBeanImporter" />
 	<bean id="stateService" p:serviceName="stateService" parent="grlBeanImporter" />
 	<bean id="countryService" p:serviceName="countryService" parent="grlBeanImporter" />
 	<bean id="countyService" p:serviceName="countyService" parent="grlBeanImporter" />
 	<bean id="encryptionService" p:serviceName="encryptionService" parent="grlBeanImporter" />
 	<bean id="sequenceAccessorService" p:serviceName="sequenceAccessorService" parent="grlBeanImporter" />
 	<bean id="rice.kew.documentTypeService" p:serviceName="rice.kew.documentTypeService" parent="grlBeanImporter" />
 	<bean id="documentDao" p:serviceName="documentDao" parent="grlBeanImporter" />
 	<bean id="dataObjectMetaDataService" p:serviceName="dataObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="documentDictionaryService" p:serviceName="documentDictionaryService" parent="grlBeanImporter" />
 	<bean id="inquiryViewTypeService" p:serviceName="inquiryViewTypeService" parent="grlBeanImporter" />
 	<bean id="lookupViewTypeService" p:serviceName="lookupViewTypeService" parent="grlBeanImporter" />

    <!--  -->
    <bean id="dbPlatform" class="org.kuali.rice.core.BeanHolder">
        <property name="objectType">
          <value>${datasource.platform}</value>
       </property>
    </bean>

   <bean id="platformAwareDao" abstract="true"
        class="org.kuali.rice.core.framework.persistence.ojb.dao.PlatformAwareDaoBaseOjb">
    <property name="jcdAlias" value="dataSource"/>
    <property name="dbPlatform" ref="dbPlatform"/>
  </bean>
   <bean id="platformAwareDaoJdbc" abstract="true"
        class="org.kuali.rice.core.framework.persistence.jdbc.dao.PlatformAwareDaoBaseJdbc">
    <property name="dataSource" ref="dataSource"/>
    <property name="dbPlatform" ref="dbPlatform"/>
  </bean>
 
   <bean id="kualiLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
    <property name="lookupableHelperService">
      <ref bean="lookupableHelperService"/>
    </property>

  </bean>

	<bean id="lookupableHelperService" class="org.kuali.rice.kns.lookup.KualiLookupableHelperServiceImpl" scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="sequenceAccessorService">
			<ref bean="sequenceAccessorService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="lookupResultsService">
			<ref bean="lookupResultsService" />
		</property>
	</bean>
 
    <bean id="kualiInquirable" class="org.kuali.kfs.sys.businessobject.inquiry.KfsInquirableImpl" scope="prototype" />

    <bean id="kualiMaintainable" class="org.kuali.rice.kns.maintenance.KualiMaintainableImpl" scope="prototype">
        <property name="persistenceStructureService">
            <ref bean="persistenceStructureService" />
        </property>
        <property name="maintenanceDocumentDictionaryService">
            <ref bean="maintenanceDocumentDictionaryService" />
        </property>
        <property name="dataDictionaryService">
            <ref bean="dataDictionaryService" />
        </property>
        <property name="businessObjectService">
            <ref bean="businessObjectService" />
        </property>
        <property name="businessObjectDictionaryService">
            <ref bean="businessObjectDictionaryService" />
        </property>
        <property name="encryptionService">
            <ref bean="encryptionService" />
        </property>
        <property name="businessObjectMetaDataService">
            <ref bean="businessObjectMetaDataService" />
        </property>
        <property name="businessObjectAuthorizationService">
            <ref bean="businessObjectAuthorizationService" />
        </property>
        <property name="maintenanceDocumentService">
            <ref bean="maintenanceDocumentService" />
        </property>
        <property name="documentHelperService">
            <ref bean="documentHelperService" />
        </property>
        <property name="lookupService">
            <ref bean="lookupService" />
        </property>
    </bean>
 
	<bean id="documentHelperService" class="org.kuali.kfs.sys.service.impl.DocumentHelperServiceImpl" >
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>
  
  	<bean id="postProcessorService" class="org.kuali.kfs.sys.service.impl.PostProcessorServiceImpl">
		<property name="documentService" ref="documentService" />
	</bean>

    <bean id="documentHeaderDao" parent="platformAwareDao" class="org.kuali.kfs.sys.document.dataaccess.impl.FinancialSystemDocumentHeaderDaoOjb">
    	<property name="documentHeaderBaseClass" value="org.kuali.kfs.sys.businessobject.FinancialSystemDocumentHeader" />
    </bean>

<!-- Overriding this bean to ensure that the correct version of the document header service is injected. -->
<!-- START IMPORT OF DEFINITIONS TO ENFORCE INJECTION OF KFS-CUSTOMIZED BEANS  -->
	<bean id="documentHeaderService" class="org.kuali.rice.krad.service.impl.DocumentHeaderServiceImpl">
		<property name="documentHeaderDao" ref="documentHeaderDao" />
	</bean> 
<bean id="documentService" class="org.kuali.rice.krad.service.impl.DocumentServiceImpl">
  <property name="documentDao">
    <ref bean="documentDao"/>
  </property>
  <property name="dateTimeService">
    <ref bean="dateTimeService"/>
  </property>
  <property name="workflowDocumentService">
    <ref bean="workflowDocumentService"/>
  </property>
  <property name="documentHeaderService">
    <ref bean="documentHeaderService"/>
  </property>
  <property name="businessObjectService">
    <ref bean="businessObjectService"/>
  </property>
  <property name="noteService">
    <ref bean="noteService"/>
  </property>
  <property name="dataDictionaryService">
    <ref bean="dataDictionaryService"/>
  </property>
  <property name="kualiConfigurationService">
    <ref bean="kualiConfigurationService"/>
  </property>
</bean>
  <bean id="maintenanceDocumentService" class="org.kuali.rice.krad.service.impl.MaintenanceDocumentServiceImpl">
    <property name="maintenanceDocumentDao">
      <ref bean="maintenanceDocumentDao"/>
    </property>
    <property name="documentDictionaryService">
      <ref bean="documentDictionaryService"/>
    </property>
    <property name="dataObjectMetaDataService">
      <ref bean="dataObjectMetaDataService"/>
    </property>
    <property name="documentService">
      <ref bean="documentService"/>
    </property>
  </bean>
  <bean id="maintenanceViewTypeService" class="org.kuali.rice.krad.uif.service.impl.MaintenanceViewTypeServiceImpl">
    <property name="documentService">
      <ref bean="documentService"/>
    </property>
    <property name="documentDictionaryService">
      <ref bean="documentDictionaryService"/>
    </property>
  </bean>
  <bean id="viewService" class="org.kuali.rice.krad.uif.service.impl.ViewServiceImpl">
    <property name="dataDictionaryService" ref="dataDictionaryService"/>
    <property name="viewTypeServices">
      <list>
        <ref bean="inquiryViewTypeService"/>
        <ref bean="lookupViewTypeService"/>
        <ref bean="maintenanceViewTypeService"/>
      </list>
    </property>
  </bean>
<!-- END IMPORT OF DEFINITIONS TO ENFORCE INJECTION OF KFS-CUSTOMIZED BEANS  -->

  <bean id="kimIdentityManagementService" class="org.kuali.rice.kim.service.impl.IdentityManagementServiceImpl" />
  <alias name="kimIdentityManagementService" alias="identityManagementService" />




<!-- 
  <bean id="userTransaction" class="org.kuali.rice.core.jta.UserTransactionFactoryBean" lazy-init="true" />

  <bean id="jtaTransactionManager" class="org.kuali.rice.core.jta.TransactionManagerFactoryBean" lazy-init="true" />

  <bean id="ojbConfigurer" class="org.kuali.rice.core.ojb.JtaOjbConfigurer">
    <property name="transactionManager" ref="jtaTransactionManager" />
  </bean>

  <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" lazy-init="true">
    <property name="userTransaction">
      <ref local="userTransaction" />
    </property>
    <property name="transactionManager">
      <ref local="jtaTransactionManager" />
    </property>
  </bean>

	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

	<bean id="advisor" class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<property name="classFilter" ref="transactionAdvisorClassFilter" />
		<property name="transactionInterceptor" ref="transactionInterceptor" />
	</bean>

	<bean id="transactionAdvisorClassFilter" class="org.kuali.rice.core.impl.util.spring.ClassOrMethodAnnotationFilter">
		<constructor-arg value="org.springframework.transaction.annotation.Transactional" />
	</bean>

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributeSource" ref="transactionAttributeSource" />
	</bean>

	<bean id="transactionAttributeSource" class="org.kuali.rice.core.impl.util.spring.AnnotationAndNameMatchingTransactionAttributeSource">
		<property name="annotationTransactionAttributeSource" ref="annotationTransactionAttributeSource" />
		<property name="transactionTimeout" value="${transaction.timeout}" />
	</bean>

	<bean id="annotationTransactionAttributeSource" class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
	

 	<bean id="methodCacheAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="methodCacheInterceptor" />
		<property name="pointcut" ref="methodCachePointcut" />
	</bean>

    <bean id="methodCacheNoCopyAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="methodCacheNoCopyInterceptor" />
        <property name="pointcut" ref="methodCacheNoCopyPointcut" />
    </bean>

	<bean id="methodCacheInterceptor" class="org.kuali.rice.kns.util.cache.MethodCacheInterceptor">
		<property name="cache" ref="methodCache" />
		<property name="expirationTimeInSeconds">
			<value>${kns.cache.methodresult.max.age.seconds}</value>
		</property>
	</bean>

    <bean id="methodCacheNoCopyInterceptor" class="org.kuali.rice.kns.util.cache.MethodCacheNoCopyInterceptor">
        <property name="cache" ref="methodCacheNoCopy" />
        <property name="expirationTimeInSeconds">
            <value>${kns.cache.methodresult.nocopy.max.age.seconds}</value>
		</property>
	</bean>

	<bean id="methodCache" factory-bean="methodResultsCacheAdministrator" factory-method="getCache" />

	<bean id="methodResultsCacheAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
		<constructor-arg index="0">
			<props>
				<prop key="cache.memory">true</prop>
				<prop key="cache.key">__oscache_mrcache</prop>
				<prop key="cache.persistence.overflow.only">false</prop>
				<prop key="cache.capacity">${kns.cache.methodresult.max.size}</prop>
				<prop key="cache.event.listeners">org.kuali.rice.kns.util.cache.MethodResultsCacheMonitor</prop>
			</props>
		</constructor-arg>
	</bean>

    <bean id="methodCacheNoCopy" factory-bean="methodResultsCacheNoCopyAdministrator" factory-method="getCache" />

    <bean id="methodResultsCacheNoCopyAdministrator" class="com.opensymphony.oscache.general.GeneralCacheAdministrator" destroy-method="destroy">
        <constructor-arg index="0">
            <props>
                <prop key="cache.memory">true</prop>
                <prop key="cache.key">__oscache_mrcache</prop>
                <prop key="cache.persistence.overflow.only">false</prop>
                <prop key="cache.capacity">${kns.cache.methodresult.nocopy.max.size}</prop>
                <prop key="cache.event.listeners">org.kuali.rice.kns.util.cache.MethodResultsCacheNoCopyMonitor</prop>
            </props>
        </constructor-arg>
    </bean>

	<bean id="methodCachePointcut" class="org.kuali.rice.core.impl.util.spring.ClassOrMethodAnnotationPointcut">
		<constructor-arg value="org.kuali.rice.kns.util.spring.Cached" />
	</bean>

    <bean id="methodCacheNoCopyPointcut" class="org.kuali.rice.core.impl.util.spring.ClassOrMethodAnnotationPointcut">
        <constructor-arg value="org.kuali.rice.kns.util.spring.CacheNoCopy" />
	</bean>

	<bean id="methodLoggingAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="methodLoggingInterceptor" />
		<property name="pointcut" ref="methodLoggingPointcut" />
	</bean>

	<bean id="methodLoggingInterceptor" class="org.kuali.rice.kns.util.spring.MethodLoggingInterceptor" />

	<bean id="methodLoggingPointcut" class="org.kuali.rice.core.impl.util.spring.ClassOrMethodAnnotationPointcut">
		<constructor-arg value="org.kuali.rice.kns.util.spring.Logged" />
	</bean>
	
	<bean id="encryptionService" class="org.kuali.rice.core.service.impl.DemonstrationGradeEncryptionServiceImpl">
		<property name="secretKey">
			<value>${encryption.key}</value>
		</property>
	</bean>	
	
	<bean id="enEncryptionService" class="org.kuali.rice.core.service.impl.DemonstrationGradeEncryptionServiceImpl" lazy-init="true">      
		<property name="secretKey">
			<value>${encryption.key}</value>
		</property>
	</bean>
	
	<bean id="ksbJavaSecurityManagementService" class="org.kuali.rice.ksb.security.admin.service.impl.JavaSecurityManagementServiceImpl" lazy-init="true" >
		<property name="moduleKeyStoreAlias" value="${keystore.alias}" />
		<property name="moduleKeyStorePassword" value="${keystore.password}" />
	</bean>	
 -->
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver" lazy-init="true">
		<property name="defaultLocale" value="${kfs.locale}" />
	</bean>
	
</beans>
