<?xml version="1.0" encoding="UTF-8"?>
<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-lazy-init="false">
<!-- 
  <bean id="locationModuleConfiguration" class="org.kuali.rice.krad.bo.ModuleConfiguration">
    <property name="namespaceCode" value="KR-NS"/>
    <property name="dataSourceName" value="locationDataSource"/>
    <property name="initializeDataDictionary" value="false"/>
    <property name="packagePrefixes">
      <list>
        <value>org.kuali.rice.location.</value>
      </list>
    </property>
    <property name="externalizableBusinessObjectImplementations">
      <map>
        <entry key="org.kuali.rice.location.api.country.CountryContract"
               value="org.kuali.rice.location.framework.country.CountryEbo"/>
        <entry key="org.kuali.rice.location.api.state.StateContract"
               value="org.kuali.rice.location.framework.state.StateEbo"/>
        <entry key="org.kuali.rice.location.api.postalcode.PostalCodeContract"
               value="org.kuali.rice.location.framework.postalcode.PostalCodeEbo"/>
        <entry key="org.kuali.rice.location.api.county.CountyContract"
               value="org.kuali.rice.location.framework.county.CountyEbo"/>
        <entry key="org.kuali.rice.location.api.campus.CampusContract"
               value="org.kuali.rice.location.framework.campus.CampusEbo"/>
        <entry key="org.kuali.rice.location.api.campus.CampusTypeContract"
               value="org.kuali.rice.location.framework.campus.CampusTypeEbo"/>
 -->               
<!-- 
        <entry key="org.kuali.rice.location.api.country.CountryContract"
               value="org.kuali.rice.location.impl.country.CountryBo"/>
        <entry key="org.kuali.rice.location.api.state.StateContract"
               value="org.kuali.rice.location.impl.state.StateBo"/>
        <entry key="org.kuali.rice.location.api.postalcode.PostalCodeContract"
               value="org.kuali.rice.location.impl.postalcode.PostalCodeBo"/>
        <entry key="org.kuali.rice.location.api.county.CountyContract"
               value="org.kuali.rice.location.impl.county.CountyBo"/>
        <entry key="org.kuali.rice.location.api.campus.CampusContract"
               value="org.kuali.rice.location.impl.campus.CampusBo"/>
        <entry key="org.kuali.rice.location.api.campus.CampusTypeContract"
               value="org.kuali.rice.location.impl.campus.CampusTypeBo"/>
 -->
<!-- 
        <entry key="org.kuali.rice.location.framework.country.CountryEbo"
               value="org.kuali.rice.location.impl.country.CountryBo"/>
        <entry key="org.kuali.rice.location.framework.state.StateEbo"
               value="org.kuali.rice.location.impl.state.StateBo"/>
        <entry key="org.kuali.rice.location.framework.postalcode.PostalCodeEbo"
               value="org.kuali.rice.location.impl.postalcode.PostalCodeBo"/>
        <entry key="org.kuali.rice.location.framework.county.CountyEbo"
               value="org.kuali.rice.location.impl.county.CountyBo"/>
        <entry key="org.kuali.rice.location.framework.campus.CampusEbo"
               value="org.kuali.rice.location.impl.campus.CampusBo"/>
        <entry key="org.kuali.rice.location.framework.campus.CampusTypeEbo"
               value="org.kuali.rice.location.impl.campus.CampusTypeBo"/>
 -->
 <!-- 
        <entry key="org.kuali.rice.location.framework.country.CountryEbo"
               value="org.kuali.rice.location.framework.country.CountryEbo"/>
        <entry key="org.kuali.rice.location.framework.state.StateEbo"
               value="org.kuali.rice.location.framework.state.StateEbo"/>
        <entry key="org.kuali.rice.location.framework.postalcode.PostalCodeEbo"
               value="org.kuali.rice.location.framework.postalcode.PostalCodeEbo"/>
        <entry key="org.kuali.rice.location.framework.county.CountyEbo"
               value="org.kuali.rice.location.framework.county.CountyEbo"/>
        <entry key="org.kuali.rice.location.framework.campus.CampusEbo"
               value="org.kuali.rice.location.framework.campus.CampusEbo"/>
        <entry key="org.kuali.rice.location.framework.campus.CampusTypeEbo"
               value="org.kuali.rice.location.framework.campus.CampusTypeEbo"/>
      </map>
    </property>
  </bean>
 -->
</beans>
