<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007-2008 The Kuali Foundation
 
 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl2.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="false">


	<!-- parent bean to make the definitions below easier to read -->
	<bean id="grlBeanImporter" abstract="true" class="org.kuali.rice.krad.config.GlobalResourceLoaderServiceFactoryBean" p:singleton="true" p:mustExist="true" />

 	<bean id="dataSource" p:serviceName="kradApplicationDataSource" parent="grlBeanImporter" />
	<!-- These are beans we need to export from Rice -->
	
	<!-- TODO: sort by rice module -->
	
	<!-- CoreServices -->
 	<bean id="dateTimeService" p:serviceName="dateTimeService" parent="grlBeanImporter" />
 	<bean id="mailService" p:serviceName="mailService" parent="grlBeanImporter" />
 	<bean id="kualiModuleService" p:serviceName="kualiModuleService" parent="grlBeanImporter" />
 	<bean id="parameterService" p:serviceName="parameterService" parent="grlBeanImporter" />
 	<bean id="parameterRepositoryService" p:serviceName="parameterRepositoryService" parent="grlBeanImporter" />
 	<bean id="configurationService" p:serviceName="kualiConfigurationService" parent="grlBeanImporter" />
 	<alias name="configurationService" alias="kualiConfigurationService" />
 	<bean id="persistenceStructureService" p:serviceName="persistenceStructureService" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceJpa" p:serviceName="persistenceStructureServiceJpa" parent="grlBeanImporter" />
 	<bean id="persistenceStructureServiceOjb" p:serviceName="persistenceStructureServiceOjb" parent="grlBeanImporter" />
 	<bean id="encryptionService" p:serviceName="encryptionService" parent="grlBeanImporter" />
 	<bean id="sequenceAccessorService" p:serviceName="sequenceAccessorService" parent="grlBeanImporter" />
	<!-- Location -->
 	<bean id="postalCodeService" p:serviceName="postalCodeService" parent="grlBeanImporter" />
 	<bean id="stateService" p:serviceName="stateService" parent="grlBeanImporter" />
 	<bean id="countryService" p:serviceName="countryService" parent="grlBeanImporter" />
 	<bean id="countyService" p:serviceName="countyService" parent="grlBeanImporter" />
 	<bean id="campusService" p:serviceName="campusService" parent="grlBeanImporter" />
	<!-- KNS/KRAD -->
 	<bean id="dataDictionaryService" p:serviceName="dataDictionaryService" parent="grlBeanImporter" />
 	<bean id="attachmentService" p:serviceName="attachmentService" parent="grlBeanImporter" />
 	<bean id="sessionDocumentService" p:serviceName="sessionDocumentService" parent="grlBeanImporter" />
 	<bean id="noteService" p:serviceName="noteService" parent="grlBeanImporter" />
 	<bean id="businessObjectService" p:serviceName="businessObjectService" parent="grlBeanImporter" />
 	<bean id="kualiRuleService" p:serviceName="kualiRuleService" parent="grlBeanImporter" />
 	<bean id="businessObjectMetaDataService" p:serviceName="businessObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="lookupService" p:serviceName="lookupService" parent="grlBeanImporter" />
 	<bean id="lookupResultsService" p:serviceName="lookupResultsService" parent="grlBeanImporter" />
 	<bean id="lookupDao" p:serviceName="lookupDao" parent="grlBeanImporter" />
 	<bean id="documentAdHocService" p:serviceName="documentAdHocService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentService" p:serviceName="maintenanceDocumentService" parent="grlBeanImporter" />
 	<!-- TODO: Remove use of the bean below in favor of "knsDictionaryValidationService" 
 				Eventually, we may want to start using the KRAD dictionary files and this is hiding it from
 				being used for spring injection. -->
 	<bean id="dictionaryValidationService" p:serviceName="knsDictionaryValidationService" parent="grlBeanImporter" />
 	<bean id="knsDictionaryValidationService" p:serviceName="knsDictionaryValidationService" parent="grlBeanImporter" />
 	<bean id="persistenceService" p:serviceName="persistenceService" parent="grlBeanImporter" />
 	<bean id="businessObjectDictionaryService" p:serviceName="businessObjectDictionaryService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentDictionaryService" p:serviceName="maintenanceDocumentDictionaryService" parent="grlBeanImporter" />
 	<bean id="documentHeaderService" p:serviceName="documentHeaderService" parent="grlBeanImporter" />
 	<bean id="documentHeaderDao" p:serviceName="documentHeaderDao" parent="grlBeanImporter" />
 	<alias name="documentHeaderDao" alias="financialSystemDocumentHeaderDao" />
 	<bean id="documentService" p:serviceName="documentService" parent="grlBeanImporter" />
 	<bean id="documentHelperService" p:serviceName="documentHelperService" parent="grlBeanImporter" />
 	<bean id="transactionalDocumentDictionaryService" p:serviceName="transactionalDocumentDictionaryService" parent="grlBeanImporter" />
 	<bean id="maintenanceDocumentDao" p:serviceName="maintenanceDocumentDao" parent="grlBeanImporter" />
 	<bean id="documentDao" p:serviceName="documentDao" parent="grlBeanImporter" />
 	<bean id="dataObjectMetaDataService" p:serviceName="dataObjectMetaDataService" parent="grlBeanImporter" />
 	<bean id="documentDictionaryService" p:serviceName="documentDictionaryService" parent="grlBeanImporter" />
 	<bean id="inquiryViewTypeService" p:serviceName="inquiryViewTypeService" parent="grlBeanImporter" />
 	<bean id="lookupViewTypeService" p:serviceName="lookupViewTypeService" parent="grlBeanImporter" />
 	<bean id="persistenceServiceOjb" p:serviceName="persistenceServiceOjb" parent="grlBeanImporter" />
 	<bean id="workflowDocumentService" p:serviceName="workflowDocumentService" parent="grlBeanImporter" />
 	<bean id="businessObjectAuthorizationService" p:serviceName="businessObjectAuthorizationService" parent="grlBeanImporter" />
	<!-- KIM -->
 	<bean id="personService" p:serviceName="personService" parent="grlBeanImporter" />
 	<bean id="kimRoleService" p:serviceName="kimRoleService" parent="grlBeanImporter" />
 	<alias name="kimRoleService" alias="roleService" />
 	<bean id="kimGroupService" p:serviceName="kimGroupService" parent="grlBeanImporter" />
 	<bean id="kimPermissionService" p:serviceName="kimPermissionService" parent="grlBeanImporter"/>
 	
 	<!-- 
 	<bean id="kimUiDocumentService" p:serviceName="kimUiDocumentService" parent="grlBeanImporter" />
 	<alias name="kimUiDocumentService" alias="uiDocumentService" />
 	<bean id="kimPersonLookupable" p:serviceName="kimPersonLookupable" parent="grlBeanImporter" />
 	 -->
	<!-- KEW -->
	<bean id="rice.kew.workflowDocumentService" p:serviceName="rice.kew.workflowDocumentService" parent="grlBeanImporter" />
 	<bean id="rice.kew.documentTypeService" p:serviceName="rice.kew.documentTypeService" parent="grlBeanImporter" />
 	<alias name="rice.kew.documentTypeService" alias="documentTypeService" />
 	<bean id="enActionListEmailService" p:serviceName="enActionListEmailService" parent="grlBeanImporter" /> 	
 	
	<!-- KSB -->
	<bean id="rice.ksb.serviceBus" p:serviceName="rice.ksb.serviceBus" parent="grlBeanImporter" />


	<!-- beans below here are extended by KFS beans, and so the "parent" relationship does not work and they must be redefined -->

	<bean id="dbPlatform" class="org.kuali.rice.core.BeanHolder">
		<property name="objectType">
			<value>${datasource.platform}</value>
		</property>
	</bean>

	<bean id="platformAwareDao" abstract="true"
		class="org.kuali.rice.core.framework.persistence.ojb.dao.PlatformAwareDaoBaseOjb">
		<property name="jcdAlias" value="kradApplicationDataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>
	<bean id="platformAwareDaoJdbc" abstract="true"
		class="org.kuali.rice.core.framework.persistence.jdbc.dao.PlatformAwareDaoBaseJdbc">
		<property name="dataSource" ref="dataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>

	<bean id="ricePlatformAwareDao" abstract="true"
		class="org.kuali.rice.core.framework.persistence.ojb.dao.PlatformAwareDaoBaseOjb">
		<property name="jcdAlias" value="kimDataSource" />
		<property name="dbPlatform" ref="dbPlatform" />
	</bean>

	<bean id="kualiLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService" ref="lookupableHelperService" />
	</bean>

    <bean id="kualiInquirable" class="org.kuali.kfs.sys.businessobject.inquiry.KfsInquirableImpl" scope="prototype" />

	<bean id="lookupableHelperService"
		class="org.kuali.rice.kns.lookup.KualiLookupableHelperServiceImpl"
		scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="sequenceAccessorService">
			<ref bean="sequenceAccessorService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="lookupResultsService">
			<ref bean="lookupResultsService" />
		</property>
	</bean>


	<bean id="kualiMaintainable" class="org.kuali.rice.kns.maintenance.KualiMaintainableImpl"
		scope="prototype">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="maintenanceDocumentDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="businessObjectDictionaryService">
			<ref bean="businessObjectDictionaryService" />
		</property>
		<property name="encryptionService">
			<ref bean="encryptionService" />
		</property>
		<property name="businessObjectMetaDataService">
			<ref bean="businessObjectMetaDataService" />
		</property>
		<property name="businessObjectAuthorizationService">
			<ref bean="businessObjectAuthorizationService" />
		</property>
		<property name="maintenanceDocumentService">
			<ref bean="maintenanceDocumentService" />
		</property>
		<property name="documentHelperService">
			<ref bean="documentHelperService" />
		</property>
		<property name="lookupService">
			<ref bean="lookupService" />
		</property>
	</bean>

</beans>
