<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
                                                     
  <bean id="kewDataSource" class="org.kuali.rice.database.XAPoolDataSource">
    <property name="transactionManager" ref="jotm" />
    <property name="driverClassName" value="${rice.workflow.datasource.driver.class}" />
    <property name="maxSize" value="${rice.workflow.datasource.pool.size}" />
    <property name="minSize" value="5" />
    <property name="maxWait" value="${rice.workflow.datasource.connection.timeout}" />
    <property name="validationQuery" value="${rice.workflow.datasource.validating.query}" />
    <property name="url" value="${rice.workflow.datasource.url}" />
    <property name="username" value="${rice.workflow.datasource.username}" />
    <property name="password" value="${rice.workflow.datasource.password}" />
  </bean>

  <bean id="registryDataSource" class="org.kuali.rice.database.XAPoolDataSource">
    <property name="transactionManager" ref="jotm" />
    <property name="driverClassName" value="${rice.ksb.datasource.driver.class}" />
    <property name="maxSize" value="${rice.ksb.datasource.pool.size}" />
    <property name="minSize" value="5" />
    <property name="maxWait" value="${rice.ksb.datasource.connection.timeout}" />
    <property name="validationQuery" value="${rice.ksb.datasource.validating.query}" />
    <property name="url" value="${rice.ksb.datasource.url}" />
    <property name="username" value="${rice.ksb.datasource.username}" />
    <property name="password" value="${rice.ksb.datasource.password}" />
  </bean>

  <bean id="kimDataSource" class="org.kuali.rice.database.XAPoolDataSource">
    <property name="transactionManager" ref="jotm" />
    <property name="driverClassName" value="${rice.kim.datasource.driver.class}" />
    <property name="maxSize" value="${rice.kim.datasource.pool.size}" />
    <property name="minSize" value="5" />
    <property name="maxWait" value="${rice.kim.datasource.connection.timeout}" />
    <property name="validationQuery" value="${rice.kim.datasource.validating.query}" />
    <property name="url" value="${rice.kim.datasource.url}" />
    <property name="username" value="${rice.kim.datasource.username}" />
    <property name="password" value="${rice.kim.datasource.password}" />
  </bean>
                           
</beans>