<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="cgModuleConfiguration" parent="cgModuleConfiguration-parentBean">
    	<property name="packagePrefixes">
    		<list merge="true">
    			<value>edu.arizona.kfs.module.cg</value>
    		</list>
    	</property>
        <property name="dataDictionaryPackages">
            <list merge="true">
                <value>classpath:org/kuali/kfs/module/cg/businessobject/datadictionary/overrides/*.xml</value>
                <value>classpath:org/kuali/kfs/module/cg/document/datadictionary/overrides/*.xml</value>
                <value>classpath:edu/arizona/kfs/module/cg/businessobject/datadictionary/*.xml</value>
                <value>classpath:edu/arizona/kfs/module/cg/document/datadictionary/*.xml</value>
            </list>
        </property>
        <property name="triggerNames">
        	<list>
        	</list>
        </property>
        <property name="databaseRepositoryFilePaths">
        	<list merge="true">
        		<value>edu/arizona/kfs/module/cg/ojb-cg.xml</value>
        	</list>
        </property>
    </bean>

    <bean id="cfdaJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="cfdaBatchStep" />
            </list>
        </property>
    </bean>

    <bean id="closeJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="closeBatchStep" />
            </list>
        </property>
    </bean>
</beans>

