<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<plugin
	id="org.jetel.jdbc"
	version="2.8.0"
	provider-name="Javlin a.s.">

	<runtime>
		<library path="cloveretl.jdbc.jar"/>
   	</runtime> 

	<requires engine-version="2.8.0">
		<import plugin-id="org.jetel.connection"/>
	</requires>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="DB2"/>
		<parameter id="name" value="DB2"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.DB2Specific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="INFORMIX"/>
		<parameter id="name" value="Informix"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.InformixSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MSSQL"/>
		<parameter id="name" value="MS SQL Server 2008"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MSSQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MSSQL2005"/>
		<parameter id="name" value="MS SQL Server 2000-2005"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MSSQLSpecific2005"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MySQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="ORACLE"/>
		<parameter id="name" value="Oracle"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.OracleSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.PostgreSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="SYBASE"/>
		<parameter id="name" value="Sybase"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.SybaseSpecific"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<parameter id="dbDriver" value="org.gjt.mm.mysql.Driver"/>
		<parameter id="driverLibrary" value="lib/mysql/mysql-connector-java-5.1.7-bin.jar"/>
		<parameter id="urlHint" value="jdbc:mysql://hostname:3306/database"/>
		<parameter id="jdbcSpecific" value="MYSQL"/>
		<parameter id="jdbc.zeroDateTimeBehavior" value="convertToNull"/>
	</extension>
	
	<extension point-id="jdbcDriver">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<parameter id="dbDriver" value="org.postgresql.Driver"/>
		<parameter id="driverLibrary" value="lib/postgre/postgresql-8.3-603.jdbc3.jar"/>
		<parameter id="urlHint" value="jdbc:postgresql://hostname/database"/>
		<parameter id="jdbcSpecific" value="POSTGRE"/>
	</extension>
	
</plugin>
