<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="financialSystemModuleConfiguration" parent="financialSystemModuleConfiguration-parentBean" />
		
    <bean id="financialSystemModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-SYS" />
        <property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.sys</value>
                <value>org.kuali.kfs.sys.businessobject</value>
            </list>
        </property>
        <property name="dataDictionaryPackages">
            <list>
                <value>org/kuali/kfs/sys/businessobject/datadictionary</value>
                <value>org/kuali/kfs/sys/document/datadictionary</value>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths">
            <list>
                <value>org/kuali/kfs/sys/ojb-sys.xml</value>
            </list>
        </property>
        <property name="scriptConfigurationFilePaths">
            <list>
                <value>org/kuali/kfs/sys/dwr-sys.xml</value>
            </list>
        </property>
        <property name="triggerNames">
            <list>
				<value>scheduleJobTrigger</value>
            </list>
        </property>
        <property name="jobNames">
            <list>
				<value>scheduleJob</value>
				<value>purgeJob</value>
				<value>fiscalYearMakerJob</value>
				<value>clearCacheJob</value>
            </list>
        </property>
        <property name="fiscalYearMakers">
          <list>
            <ref bean="systemOptionsFiscalYearMaker" />
          </list>	
        </property>
        <property name="batchFileDirectories">
          <list>
            <value>${reports.directory}/sys</value>
          </list>
        </property>

    </bean>

    <bean id="financialSystemModuleService" parent="financialSystemModuleService-parentBean"/>

    <bean id="financialSystemModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
    	<property name="moduleConfiguration" ref="financialSystemModuleConfiguration" />
    </bean>

    <!-- begin batch framework -->
	<bean id="scheduler" class="org.kuali.kfs.sys.batch.SchedulerFactoryBean">
		<property name="useQuartzScheduling" value="${use.quartz.scheduling}" />
		<property name="useJdbcJobstore" value="${use.quartz.jdbc.jobstore}" />
		<property name="dataSourceReference" ref="dataSource" />
        <property name="nonTransactionalDataSourceReference" ref="nonTransactionalDataSource" />
		<property name="autoStartup" value="false" />
		<property name="quartzPropertiesReference">
			<props>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<prop key="org.quartz.threadPool.threadCount">8</prop>
				<prop key="org.quartz.plugin.triggHistory.class">org.quartz.plugins.history.LoggingTriggerHistoryPlugin</prop>
				<prop key="org.quartz.plugin.triggHistory.triggerFiredMessage">Trigger {1}.{0} fired job {6}.{5} at: {4, date, HH:mm:ss MM/dd/yyyy}</prop>
				<prop key="org.quartz.plugin.triggHistory.triggerCompleteMessage">Trigger {1}.{0} completed firing job {6}.{5} at {4, date, HH:mm:ss MM/dd/yyyy} with resulting trigger instruction code: {9}</prop>
			</props>
		</property>
	</bean>
	
	<bean id="kfsService" class="org.kuali.rice.ksb.messaging.JavaServiceDefinition" abstract="true">
      <property name="serviceNameSpaceURI" value="" />
      <property name="retryAttempts" value="0" />
    </bean>
    
	<bean id="schedulerService" class="org.kuali.kfs.sys.batch.service.impl.SchedulerServiceImpl">
		<property name="scheduler" ref="scheduler" />
		<property name="jobListener" ref="jobListener" />
		<property name="kualiModuleService" ref="kualiModuleService" />
		<property name="parameterService" ref="parameterService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="mailService" ref="mailService" />		
	</bean>

	<bean id="jobListener" class="org.kuali.kfs.sys.batch.JobListener">
		<property name="configurationService" ref="kualiConfigurationService" />
		<property name="mailService" ref="mailService" />
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="scheduledJobDescriptor" abstract="true" class="org.kuali.kfs.sys.batch.JobDescriptor">
		<property name="group" value="scheduled" />
	</bean>

	<bean id="unscheduledJobDescriptor" abstract="true" class="org.kuali.kfs.sys.batch.JobDescriptor">
		<property name="group" value="unscheduled" />
	</bean>

	<bean id="step" abstract="true">
		<property name="parameterService" ref="parameterService" />
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="wrappedBatchExecutorService" class="org.kuali.kfs.sys.batch.service.impl.WrappedBatchExecutorServiceImpl" />
	
	<bean id="wrappedStep" parent="step" abstract="true">
		<property name="wrappedBatchExecutorService" ref="wrappedBatchExecutorService" />
	</bean>

	<bean id="scheduleJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="scheduleStep" />
			</list>
		</property>
	</bean>
	
	<bean id="scheduleStep" parent="step" class="org.kuali.kfs.sys.batch.ScheduleStep">
		<property name="schedulerService" ref="schedulerService" />
	</bean>

	<bean id="trigger" abstract="true">
		<property name="group" value="scheduled" />
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="simpleTrigger" abstract="true" parent="trigger" class="org.kuali.kfs.sys.batch.SimpleTriggerDescriptor" />

	<bean id="cronTrigger" abstract="true" parent="trigger" class="org.kuali.kfs.sys.batch.CronTriggerDescriptor" />

  	<bean id="scheduleJobTrigger" parent="cronTrigger">
		<property name="jobName" value="scheduleJob" />
		<property name="cronExpression" value="${batch.schedule.cron.expression}" />
	</bean>
	 
 	<bean id="batchJobStatusLookupableHelperService" class="org.kuali.kfs.sys.businessobject.lookup.BatchJobStatusLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
    	<property name="schedulerService" ref="schedulerService" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="configurationService" ref="kualiConfigurationService" />
    </bean>
	
	<bean id="batchJobStatusLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
	    <property name="lookupableHelperService">
	        <ref bean="batchJobStatusLookupableHelperService" />
	    </property>
	</bean>
	
	<bean id="batchFileLookupableHelperService" class="org.kuali.kfs.sys.businessobject.lookup.BatchFileLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="batchFileAdminAuthorizationService" ref="batchFileAdminAuthorizationService"/>
	</bean>
	
	<bean id="batchFileAdminAuthorizationService" class="org.kuali.kfs.sys.batch.service.impl.BatchFileAdminAuthorizationServiceImpl"/>
	
	<bean id="batchFileLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
	    <property name="lookupableHelperService">
	        <ref bean="batchFileLookupableHelperService" />
	    </property>
	</bean>
	
	<bean id="batchInputFileService" class="org.kuali.kfs.sys.batch.service.impl.BatchInputFileServiceImpl" />
	
	<bean id="batchInputFileSetService" class="org.kuali.kfs.sys.batch.service.impl.BatchInputFileSetServiceImpl">
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
	</bean>
	<!-- end batch framework -->
	
	<!--  begin core batch jobs -->
	<bean id="postDataLoadEncryptionStep" parent="step" class="org.kuali.kfs.sys.batch.PostDataLoadEncryptionStep">
		<property name="postDataLoadEncryptionService" ref="postDataLoadEncryptionService" />
		<property name="attributesToEncryptProperties" value="${encrypt.attributes.properties.file}" />
	</bean>

	<bean id="purgeOldLookupResultsStep" class="org.kuali.kfs.sys.batch.PurgeOldLookupResultsStep" parent="step">
		<property name="lookupResultsService">
			<ref bean="lookupResultsService" />
		</property>
	</bean>

	<bean id="purgeJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="purgePendingAttachmentsStep" />
				<ref bean="purgeOldLookupResultsStep" />
				<ref bean="purgeTempFilesStep" />
				<ref bean="purgeSessionDocumentsStep" />
			</list>
		</property>
	</bean>

	<bean id="purgePendingAttachmentsStep" class="org.kuali.kfs.sys.batch.PurgePendingAttachmentsStep" parent="step">
		<property name="attachmentService">
			<ref bean="attachmentService" />
		</property>
	</bean>

	<bean id="purgeTempFilesStep" class="org.kuali.kfs.sys.batch.PurgeTempFilesStep" parent="step">
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
	</bean>
	
	<bean id="purgeSessionDocumentsStep" class="org.kuali.kfs.sys.batch.PurgeSessionDocumentsStep" parent="step">
		<property name="sessionDocumentService">
			<ref bean="sessionDocumentService" />
		</property>
	</bean>
	
	<bean id="fiscalYearMakerJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="fiscalYearMakerStep" />
			</list>
		</property>
	</bean>
	
	<bean id="fiscalYearMakerStep" class="org.kuali.kfs.sys.batch.FiscalYearMakerStep" parent="step">
		<property name="fiscalYearMakerService">
			<ref bean="fiscalYearMakerService" />
		</property>
	</bean>
	
	<!-- end core batch jobs -->
	
	<bean id="financialSystemUserService" class="org.kuali.kfs.sys.service.impl.FinancialSystemUserServiceImpl" />
	
	<!--
	<bean id="parameterService" class="org.kuali.kfs.sys.service.impl.KfsParameterServiceImpl">
		<property name="dataDictionaryService" ref="dataDictionaryService" />
		<property name="kualiModuleService" ref="kualiModuleService" />
		<property name="businessObjectService" ref="businessObjectService" />
	</bean>
	-->
	
    <bean id="riceApplicationConfigurationService" class="org.kuali.kfs.sys.service.impl.KFSApplicationConfigurationServiceImpl">
      <property name="parameterService" ref="parameterService"/>   
      <property name="dataDictionaryService" ref="dataDictionaryService" />
    </bean>

	<bean id="kualiCodeService" class="org.kuali.kfs.sys.service.impl.KualiCodeServiceImpl">
		<property name="kualiCodeDao">
			<ref bean="kualiCodeDao" />
		</property>
	</bean>
		
	<bean id="kualiCodeDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.KualiCodeDaoOjb" />

	<bean id="universityDateDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.UniversityDateDaoOjb" />

	<bean id="universityDateService" class="org.kuali.kfs.sys.service.impl.UniversityDateServiceImpl">
		<property name="universityDateDao"><ref bean="universityDateDao" /></property>
        <property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="accountingLineService" class="org.kuali.kfs.sys.service.impl.AccountingLineServiceImpl">
		<property name="accountingLineDao">
			<bean parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.AccountingLineDaoOjb" />
		</property>
	</bean>

	<bean id="homeOriginationDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.HomeOriginationDaoOjb" />

	<bean id="originationCodeDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.OriginationCodeDaoOjb" />

	<bean id="optionsDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.OptionsDaoOjb" />
	
	<bean id="generalLedgerPendingEntryDao" parent="platformAwareDao" class="org.kuali.kfs.sys.dataaccess.impl.GeneralLedgerPendingEntryDaoOjb">
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>
		<property name="balanceTypService">
			<ref bean="balanceTypService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>
	</bean>
	
	<bean id="fiscalYearMakersDao" parent="platformAwareDao" class="org.kuali.kfs.sys.batch.dataaccess.impl.FiscalYearMakersDaoOjb">
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>
	
	<bean id="fiscalYearMakerService" class="org.kuali.kfs.sys.batch.service.impl.FiscalYearMakerServiceImpl">
		<property name="fiscalYearMakersDao">
			<ref bean="fiscalYearMakersDao" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>		
	    <property name="kualiModuleService">
			<ref bean="kualiModuleService" />
		</property>		
	</bean>
	
	<bean id="FiscalYearMaker" parent="platformAwareDao" class="org.kuali.kfs.sys.batch.dataaccess.impl.FiscalYearMakerImpl" abstract="true" >
		<property name="persistenceStructureService">
			<ref bean="persistenceStructureService" />
		</property>
	</bean>

	<bean id="homeOriginationService" class="org.kuali.kfs.sys.service.impl.HomeOriginationServiceImpl">
		<property name="homeOriginationDao">
			<ref bean="homeOriginationDao" />
		</property>
	</bean>

	<bean id="originationCodeService" class="org.kuali.kfs.sys.service.impl.OriginationCodeServiceImpl">
		<property name="originationCodeDao">
			<ref bean="originationCodeDao" />
		</property>
	</bean>
	
	<bean id="optionsService" class="org.kuali.kfs.sys.service.impl.OptionsServiceImpl">
		<property name="optionsDao">
			<ref bean="optionsDao" />
		</property>
        <property name="universityDateService" ref="universityDateService" />
	</bean>
	
	<bean id="generalLedgerPendingEntryService" class="org.kuali.kfs.sys.service.impl.GeneralLedgerPendingEntryServiceImpl">
		<property name="generalLedgerPendingEntryDao">
			<ref bean="generalLedgerPendingEntryDao" />
		</property>
		<property name="kualiRuleService">
			<ref bean="kualiRuleService" />
		</property>
		<property name="chartService">
			<ref bean="chartService" />
		</property>
		<property name="optionsService">
			<ref bean="optionsService" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>
		<property name="balanceTypeService">
			<ref bean="balanceTypService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="persistenceStructureService" ref="persistenceStructureService" />
	</bean>
	
	<bean id="taxService" class="org.kuali.kfs.sys.service.impl.TaxServiceImpl">
		<property name="taxRegionService">
			<ref bean="taxRegionService" />
		</property>
	</bean>	
	
	<bean id="taxRegionService" class="org.kuali.kfs.sys.service.impl.TaxRegionServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="postalCodeService">
			<ref bean="postalCodeService" />
		</property>		
	</bean>	
	
	<bean id="taxRegionTypeLookupableHelperService" class="org.kuali.kfs.sys.businessobject.lookup.TaxRegionTypeLookupableServiceImpl" parent="lookupableHelperService" />
	
    <bean id="taxRegionTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
    		<ref bean="taxRegionTypeLookupableHelperService" /> 
        </property>
    </bean>		
    
    <bean id="taxRegionLookupable" class="org.kuali.kfs.sys.businessobject.lookup.TaxRegionLookupableImpl">
        <property name="lookupableHelperService">
            <ref bean="lookupableHelperService" />
        </property>
    </bean>	    
	
	<bean id="moduleLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
        	<bean class="org.kuali.kfs.sys.businessobject.lookup.ModuleLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" >
        		<property name="configService" ref="kualiConfigurationService" />
        	</bean>
		</property>
	</bean>

    <!-- 
    <bean id="parameterLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
            <bean id="parameterLookupableHelperService" class="org.kuali.rice.kns.lookup.ParameterLookupableHelperServiceImpl" parent="lookupableHelperService">
                <property name="parameterService" ref="parameterService" />
            </bean>
        </property>
    </bean>

    <bean id="parameterDetailTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
            <bean id="parameterDetailTypeLookupableHelperService" class="org.kuali.rice.kns.lookup.ParameterDetailTypeLookupableHelperServiceImpl" parent="lookupableHelperService">
				<property name="parameterService" ref="parameterService" />
            </bean>
        </property>
    </bean>
    -->

    <bean id="businessObjectMetaDataDao" class="org.kuali.kfs.sys.dataaccess.impl.BusinessObjectMetaDataDaoJdbc" parent="platformAwareDaoJdbc" />

    <bean id="kfsBusinessObjectMetaDataService" class="org.kuali.kfs.sys.service.impl.KfsBusinessObjectMetaDataServiceImpl">
		<property name="dataDictionaryService" ref="dataDictionaryService" />
		<property name="parameterService" ref="parameterService" />
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="businessObjectMetaDataService" ref="businessObjectMetaDataService" />
		<property name="businessObjectMetaDataDao" ref="businessObjectMetaDataDao" />
		<property name="lookupService" ref="lookupService" />
    </bean>

    <bean id="businessObjectComponentLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
			<bean class="org.kuali.kfs.sys.businessobject.lookup.BusinessObjectComponentLookupableHelperServiceImpl" parent="lookupableHelperService">
            	<property name="kfsBusinessObjectMetaDataService" ref="kfsBusinessObjectMetaDataService" />
            </bean>
        </property>
    </bean>
    
    <bean id="businessObjectPropertyLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.sys.businessobject.lookup.BusinessObjectPropertyLookupableHelperServiceImpl" parent="lookupableHelperService">
            	<property name="kfsBusinessObjectMetaDataService" ref="kfsBusinessObjectMetaDataService" />
            </bean>
        </property>
    </bean>


    <bean id="functionalFieldDescriptionLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
        	<bean class="org.kuali.kfs.sys.businessobject.lookup.FunctionalFieldDescriptionLookupableHelperServiceImpl" parent="lookupableHelperService">
    	<property name="kfsBusinessObjectMetaDataService" ref="kfsBusinessObjectMetaDataService" />
    </bean>
        </property>
    </bean>

    <bean id="dataMappingFieldDefinitionLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl">
        <property name="lookupableHelperService">
			<bean class="org.kuali.kfs.sys.businessobject.lookup.DataMappingFieldDefinitionLookupableHelperServiceImpl" parent="lookupableHelperService">
            	<property name="kfsBusinessObjectMetaDataService" ref="kfsBusinessObjectMetaDataService" />
            </bean>
        </property>
    </bean>

    <bean id="kualiInquirable" class="org.kuali.kfs.sys.businessobject.inquiry.KfsInquirableImpl" scope="prototype" >
    	<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
	</bean>
    
    <bean id="accountingDocumentRuleHelperService" class="org.kuali.kfs.sys.document.service.impl.AccountingDocumentRuleHelperServiceImpl">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="objectTypeService"><ref bean="objectTypeService" /></property>
    </bean>
    
    <bean id="debitDeterminerService" class="org.kuali.kfs.sys.document.service.impl.DebitDeterminerServiceImpl">
    	<property name="optionsService"><ref bean="optionsService" /></property>
    	<property name="accountingDocumentRuleUtils"><ref bean="accountingDocumentRuleHelperService" /></property>
    </bean>
    
    <bean id="accountingLineRuleHelperService" class="org.kuali.kfs.sys.document.service.impl.AccountingLineRuleHelperServiceImpl">
    	<property name="dataDictionaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="financialSystemDocumentTypeService" ref="financialSystemDocumentTypeService" />
    </bean>
    
    <bean id="financialSystemDocumentTypeService" class="org.kuali.kfs.sys.document.service.impl.FinancialSystemDocumentTypeServiceImpl">
  	<property name="dataDictionaryService" ref="dataDictionaryService" />
  </bean>
    
    <bean id="electronicPaymentClaimingService" class="org.kuali.kfs.sys.service.impl.ElectronicPaymentClaimingServiceImpl">
    	<property name="documentService"><ref bean="documentService" /></property>
    	<property name="businessObjectService"><ref bean="businessObjectService" /></property>
    	<property name="dateTimeService"><ref bean="dateTimeService" /></property>
    	<property name="parameterService"><ref bean="parameterService" /></property>
    </bean>
    
    <bean id="electronicFundTransferStartAction" class="org.kuali.kfs.sys.service.impl.ElectronicFundTransferStartActionHelper">
    	<property name="electronicPaymentClaimingService"><ref bean="electronicPaymentClaimingService" /></property>
    </bean>
    
    <bean id="electronicFundTransferRefreshAction" class="org.kuali.kfs.sys.service.impl.ElectronicFundTransferRefreshActionHelper">
    	<property name="dataDictonaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="electronicPaymentClaimingService"><ref bean="electronicPaymentClaimingService" /></property>
    </bean>
    
    <bean id="electronicFundTransferClaimAction" class="org.kuali.kfs.sys.service.impl.ElectronicFundTransferClaimActionHelper">
    	<property name="dataDictonaryService"><ref bean="dataDictionaryService" /></property>
    	<property name="electronicPaymentClaimingService"><ref bean="electronicPaymentClaimingService" /></property>
    	<property name="businessObjectService"><ref bean="businessObjectService" /></property>
    	<property name="documentService" ref="documentService" />
    </bean>
    
    <bean id="electronicFundTransferCancelAction" class="org.kuali.kfs.sys.service.impl.ElectronicFundTransferCancelActionHelper" />
    
    <bean id="electronicPaymentClaimLookupableHelperService" class="org.kuali.kfs.sys.businessobject.lookup.ElectronicPaymentClaimLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
    	<property name="lookupDao"><ref bean="lookupDao" /></property>
    </bean>
    
    <bean id="electronicPaymentClaimLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="electronicPaymentClaimLookupableHelperService" />
        </property>
    </bean>
    
    <bean id="reportGenerationService" class="org.kuali.kfs.sys.service.impl.ReportGenerationServiceImpl">
        <property name="dateTimeService">
            <ref bean="dateTimeService"/>
        </property>
    </bean>
    
    <bean id="reportAggregatorService" class="org.kuali.kfs.sys.service.impl.ReportAggregatorServiceTextImpl">
    	<property name="newLineCharacter" value="${report.writer.service.new.line.characters}"/>
	</bean>
	
    <bean id="accountingLineAuthorizationTransformer" class="org.kuali.kfs.sys.document.service.impl.AccountingLineAuthorizationTransformerImpl" />
    
    <bean id="allReadOnlyNoActionsAccountingLineRenderingTransformation" class="org.kuali.kfs.sys.document.service.impl.AllReadOnlyNoActionsAccountingLineRenderingTransformationImpl" />
    
    <bean id="defaultValuePopulationAccountingLineFieldRenderingTransformation" class="org.kuali.kfs.sys.document.service.impl.DefaultValuePopulationAccountingLineFieldRenderingTransformationImpl" />
    
    <bean id="hiddenFieldRearrangementAccountingLineRenderingTransformation" class="org.kuali.kfs.sys.document.service.impl.HiddenFieldRearrangementAccountingLineRenderingTransformationImpl" />
    
    <bean id="removeEmptyCellsAndRowsRenderingTransformation" class="org.kuali.kfs.sys.document.service.impl.RemoveEmptyCellsAndRowsRenderingTransformationImpl" />
    
    <bean id="accountingLineRenderingService" class="org.kuali.kfs.sys.document.service.impl.AccountingLineRenderingServiceImpl">
    	<property name="dataDictionaryService" ref="dataDictionaryService" />
    	<property name="accountingLineAuthorizationTransformer" ref="accountingLineAuthorizationTransformer" />
    	<property name="fieldTransformations">
    		<list>
    			<ref bean="defaultValuePopulationAccountingLineFieldRenderingTransformation" />
    		</list>
    	</property>
    	<property name="preTablificationTransformations">
    		<list>
    			<ref bean="allReadOnlyNoActionsAccountingLineRenderingTransformation" />
    		</list>
    	</property>
    	<property name="postTablificationTransformations">
    		<list>
    			<ref bean="hiddenFieldRearrangementAccountingLineRenderingTransformation" />
    			<ref bean="removeEmptyCellsAndRowsRenderingTransformation" />
    		</list>
    	</property>
    </bean>
    
     <bean id="bankService" class="org.kuali.kfs.sys.service.impl.BankServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" /> 
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" /> 
		</property>
	</bean>
	
    <bean id="postalCodeValidationService" class="org.kuali.kfs.sys.service.impl.PostalCodeValidationServiceImpl" />
    
	<bean id="segmentedLookupResultsService" class="org.kuali.kfs.sys.service.impl.SegmentedLookupResultsServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
        <property name="dateTimeService">
            <ref bean="dateTimeService"/>
        </property>
	</bean>

    <bean id="objectCodeDynamicNameLabelGenerator" class="org.kuali.kfs.sys.document.service.impl.ObjectCodeDynamicNameLabelGeneratorImpl" />


	<bean id="systemOptionsFiscalYearMaker" class="org.kuali.kfs.sys.batch.dataaccess.impl.SystemOptionsFiscalYearMakerImpl" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.sys.businessobject.SystemOptions" /> 
		<property name="twoYearCopy" value="true" />
	</bean>	

	<import resource="document/validation/configuration/FinancialSystemValidators.xml" />
	
    <bean id="employeeDerivedRoleTypeService" class="org.kuali.kfs.sys.identity.EmployeeDerivedRoleTypeServiceImpl"/>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
	    <bean parent="kfsService"
	      p:service-ref="employeeDerivedRoleTypeService"
	      p:localServiceName="employeeDerivedRoleTypeService" />
	  </property>
	</bean>

	<bean id="batchJobModifierRoleTypeService"
		class="org.kuali.rice.kns.authorization.PermissionDerivedRoleTypeServiceImpl">
		<property name="permissionTemplateNamespace" value="KR-NS" />
		<property name="permissionTemplateName" value="Modify Batch Job" />
	</bean>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
	    <bean parent="kfsService"
	      p:service-ref="batchJobModifierRoleTypeService"
	      p:localServiceName="batchJobModifierRoleTypeService" />
	  </property>
	</bean>

    <bean id="financialSystemDocumentTypePermissionTypeService" class="org.kuali.kfs.sys.identity.FinancialSystemDocumentTypePermissionTypeServiceImpl"/>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
	    <bean parent="kfsService"
	      p:service-ref="financialSystemDocumentTypePermissionTypeService"
	      p:localServiceName="financialSystemDocumentTypePermissionTypeService" />
	  </property>
	</bean>

    <bean id="financialSystemUserRoleTypeService" class="org.kuali.kfs.coa.identity.FinancialSystemUserRoleTypeServiceImpl"/>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
    <property name="serviceDefinition">
      <bean parent="kfsService"
        p:service-ref="financialSystemUserRoleTypeService"
        p:localServiceName="financialSystemUserRoleTypeService" />
    </property>
  </bean>
  
    <bean id="universityDateFiscalYearMaker" class="org.kuali.kfs.sys.batch.dataaccess.impl.UniversityDateFiscalYearMakerImpl" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.sys.businessobject.UniversityDate" /> 
        <property name="twoYearCopy" value="true" />
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>	
	
	<bean id="expenseElectronicPaymentClaimingDocumentHelper" class="org.kuali.kfs.sys.service.impl.ElectronicPaymentClaimingDocumentGenerationStrategyImpl">
		<property name="electronicPaymentClaimingService">
			<ref bean="electronicPaymentClaimingService" />
		</property>
	</bean> 
	
    <bean id="clearCacheStep" class="org.kuali.kfs.sys.batch.ClearCacheStep" parent="step">
		<property name="cacheService">
			<ref bean="cacheService" />
		</property>
	</bean>
	
	<bean id="clearCacheJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="clearCacheStep" />
			</list>
		</property>
	</bean>
	
	<bean id="cacheService" class="org.kuali.kfs.sys.batch.service.impl.CacheServiceImpl">
	    <property name="cacheAdminstrators">
          <list>
            <ref bean="methodResultsCacheAdministrator" />
            <ref bean="methodResultsCacheNoCopyAdministrator" />
          </list>	
        </property>  
		<property name="roleManagementService">
			<ref bean="kimRoleManagementService" />
		</property>
		<property name="identityManagementService">
			<ref bean="kimIdentityManagementService" />
		</property>
		<property name="parameterService">
			<ref bean="parameterService" />
		</property>		
	</bean>

	<bean id="preparedStatementCachingDao" parent="platformAwareDaoJdbc" abstract="true">
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>
	
	<bean id="businessObjectReportHelper" abstract="true" class="org.kuali.kfs.sys.report.BusinessObjectReportHelper">
        <property name="minimumMessageLength" value="10" />
        <property name="messageLabel" value="MESSAGE" />
        <property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
	</bean>
	
	<bean id="reportWriterService" abstract="true" class="org.kuali.kfs.sys.service.impl.ReportWriterTextServiceImpl">
        <property name="fileNameSuffix" value=".txt" />
        <property name="pageWidth" value="130" />
        <property name="pageLength" value="57" />
        <property name="initialPageNumber" value="1" />
        <property name="errorSubTitle" value="ERROR AND STATISTICS REPORT" />
        <property name="statisticsLabel" value="                                    S T A T I S T I C S                                    " />
        <property name="statisticsLeftPadding" value="                             " />
        <property name="parametersLabel" value="                                    P A R A M E T E R S                                    " />
        <property name="parametersLeftPadding" value="                             " />
        <property name="pageLabel" value="PAGE:" />
        <property name="newLineCharacter" value="${report.writer.service.new.line.characters}" />
        <property name="dateTimeService">
            <ref bean="dateTimeService" />
        </property>
	</bean>
	
	<bean id="systemLedgerReferenceValuePreparedStatementCachingDao" parent="preparedStatementCachingDao" class="org.kuali.kfs.sys.batch.dataaccess.impl.LedgerReferenceValuePreparedStatementCachingDaoJdbc" /> 
</beans>
