## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
#set ($hasClob="false")##
INSERT INTO $row.Table.Name (##
#set ($comma="")#foreach($col in $row.ColumnValues)$comma${col.Column.Name}#set($comma=",")#end)
  VALUES (#set ($comma="")#foreach($col in $row.ColumnValues)$comma##
##
#if($col.Column.torqueType == "DATE" || $col.Column.torqueType == "TIMESTAMP")##
TO_DATE( '$col.Value', 'YYYYMMDDHH24MISS' )##
#elseif( ($col.Column.torqueType == "CLOB") && (${col.Value.length()} gt 4000) )##
EMPTY_CLOB()##
#set ($hasClob="true")##
#set ($clobValue=$col.Value)##
#set ($clobColumn=$col.Column.Name)##
#elseif($col.Column.needEscapedValue())##
$col.EscapedValue##
#else##
$col.Value##
#end##
#set ($comma=",")##
#end)
/
#if ( $hasClob == "true" )
#set ( $chunks = ($clobValue.length() / 4000) + 1 )##
-- Length: $clobValue.length()
-- Chunks: $chunks
#foreach ( $chunk in [1..$chunks] )##
#set ( $startpos = ($chunk - 1) * 4000 )
#if ( $chunk != $chunks )
#set ( $endpos = $chunk * 4000 )
#else##
#set ( $endpos = $clobValue.length() )
#end##
#set ( $chunkstr = $clobValue.substring( $startpos, $endpos ) )
DECLARE    data CLOB; buffer VARCHAR2(32000);
BEGIN
    SELECT $clobColumn INTO data FROM $row.Table.Name 
    WHERE 
#set ($conj="")##
#foreach($col in $row.ColumnValues)#if ( $col.Column.primaryKey )##
$conj ${col.Column.Name} = ##
#set($conj="AND")##
#if($col.Column.torqueType == "DATE" || $col.Column.torqueType == "TIMESTAMP")##
TO_DATE( '$col.Value', 'YYYYMMDDHH24MISS' )##
#elseif($col.Column.needEscapedValue())##
$col.EscapedValue##
#else##
$col.Value##
#end##
#end##
#end    
    FOR UPDATE;        
    buffer := '${chunkstr.replaceAll("'","''")}';
    DBMS_LOB.writeappend(data,LENGTH(buffer),buffer);
END;
/
#end
#end