<?xml version="1.0" encoding="UTF-8"?>
<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="realTemTravelDocumentService" parent="realTemTravelDocumentService-parentBean" />
	<bean id="realTemTravelDocumentService-parentBean" class="org.kuali.kfs.module.tem.document.service.impl.TravelDocumentServiceImpl"	abstract="true">
		<property name="businessObjectService" ref="businessObjectService" />
		<property name="documentService" ref="documentService" />
		<property name="dataDictionaryService" ref="dataDictionaryService" />
		<property name="dateTimeService" ref="dateTimeService" />
		<property name="travelDocumentDao" ref="travelDocumentDao" />
		<property name="travelAuthorizationService" ref="temTravelAuthorizationService" />
		<property name="parameterService" ref="parameterService" />
		<property name="accountingDocumentRelationshipService" ref="temAccountingDocumentRelationshipService" />
		<property name="temRoleService" ref="temRoleService" />
		<property name="stateService" ref="stateService" />
		<property name="configurationService" ref="configurationService"/>
		<property name="universityDateService" ref="universityDateService" />
		<property name="defaultAcceptableFileExtensions">
			<list>
				<value>csv</value>
			</list>
		</property>
    	<property name="csvRecordFactory" ref="groupTravelerCsvRecordFactory" />
    	<property name="groupTravelerColumns">
    		<list>
    			<value>groupTravelerType</value>
    			<value>groupTravelerEmpId</value>
    			<value>name</value>
    		</list>
    	</property>
    	<property name="perDiemService" ref="perDiemService"/>
    	<property name="travelExpenseService" ref="travelExpenseService"/>
    	<property name="noteService" ref="noteService"/>
    	<property name="travelService" ref="temTravelService"/>
    	<property name="mileageRateService" ref="mileageRateService"/>
	</bean>
	<bean id="travelDocumentService" parent="travelDocumentService-parentBean" />
	<bean id="travelDocumentService-parentBean" abstract="true" class="org.kuali.kfs.module.tem.document.service.impl.MockTravelDocumentServiceImpl">
	    <property name="travelDocumentService" ref="realTemTravelDocumentService" />		
	    <property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="realTemProfileService" parent="realTemProfileService-parentBean" />
	<bean id="realTemProfileService-parentBean" abstract="true" class="org.kuali.kfs.module.tem.service.impl.TemProfileServiceImpl" >
		<property name="personService" ref="personService" />
		<property name="businessObjectService" ref="businessObjectService" />
	</bean>
	<bean id="temProfileService" parent="temProfileService-parentBean" />
	<bean id="temProfileService-parentBean" abstract="true" class="org.kuali.kfs.module.tem.service.impl.MockTemProfileServiceImpl">
		<property name="profileService" ref="realTemProfileService" />
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

</beans>
