<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   - 
   - Copyright 2005-2014 The Kuali Foundation
   - 
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   - 
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   - 
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<plugin
   id="org.jetel.engine"
   version="2.8.0"
   provider-name="Javlin a.s.">

	<extension point-id="dictionaryType">
		<parameter id="type" value="string"/>
		<parameter id="className" value="org.jetel.graph.dictionary.StringDictionaryType"/>
	</extension>
	
	<extension point-id="dictionaryType">
		<parameter id="type" value="object"/>
		<parameter id="className" value="org.jetel.graph.dictionary.ObjectDictionaryType"/>
	</extension>

	<extension point-id="dictionaryType">
		<parameter id="type" value="readable.channel"/>
		<parameter id="className" value="org.jetel.graph.dictionary.ReadableChannelDictionaryType"/>
	</extension>
	
	<extension point-id="dictionaryType">
		<parameter id="type" value="writable.channel"/>
		<parameter id="className" value="org.jetel.graph.dictionary.WritableChannelDictionaryType"/>
	</extension>
	
	<extension point-id="tlCompiler">
		<parameter id="type" value="simple.compiler"/>
		<parameter id="className" value="org.jetel.ctl.TLCompiler"/>
	</extension>
	
</plugin>
