<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Copyright 2005-2009 The Kuali Foundation
	
	Licensed under the Educational Community License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at 
	
	http://www.opensource.org/licenses/ecl2.php 
	
	Unless required by applicable law or agreed to in writing, software 
	distributed under the License is distributed on an "AS IS" BASIS, 
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
	See the License for the specific language governing permissions and 
	limitations under the License. 
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
        
    <bean id="expenseTypeObjectCodeDao" parent="expenseTypeObjectCodeDao-test-parentBean"/>
	<bean id="expenseTypeObjectCodeDao-test-parentBean" abstract="true" class="org.kuali.kfs.module.tem.dataaccess.impl.MockExpenseTypeObjectCodeDao" />

    <alias name="realTemTravelDocumentService" alias="temTravelDocumentService" />
	<bean id="temTravelDocumentService" parent="temTravelDocumentService-parentBean" />
	<bean id="temTravelDocumentService-parentBean" abstract="true" class="org.kuali.kfs.module.tem.document.service.impl.MockTravelDocumentServiceImpl">
	    <property name="travelDocumentService" ref="realTemTravelDocService" />		
	    <property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<alias name="realTemProfileService" alias="temProfileService"/>
	<bean id="temProfileService" parent="temProfileService-parentBean" />
	<bean id="temProfileService-parentBean" abstract="true" class="org.kuali.kfs.module.tem.service.impl.MockTemProfileServiceImpl">
		<property name="profileService" ref="realTemProfileService" />
		<property name="dateTimeService" ref="dateTimeService" />
	</bean>

</beans>