<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2008 The Kuali Foundation

 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.opensource.org/licenses/ecl2.php

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="camModuleConfiguration" parent="camModuleConfiguration-parentBean" />

    <bean id="camModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-CAM" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.cam</value>
                <value>org.kuali.kfs.integration.cam</value>
            </list>
        </property>
        <property name="externalizableBusinessObjectImplementations">
            <map>
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAsset" value="org.kuali.kfs.module.cam.businessobject.Asset" />
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAssetType" value="org.kuali.kfs.module.cam.businessobject.AssetType" />
                <entry key="org.kuali.kfs.module.cam.businessobject.AssetFabrication" value="org.kuali.kfs.module.cam.businessobject.AssetFabrication" />
            </map>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/module/cam/businessobject/datadictionary</value>
                <value>org/kuali/kfs/module/cam/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/cam/ojb-cam.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
            <list>
                <value>org/kuali/kfs/module/cam/dwr-cam.xml</value>
            </list>
        </property>
		<property name="jobNames">
			<list>
				<value>assetDepreciationBatchJob</value>
				<!-- CSU 6702 BEGIN --><value>assetYearEndDepreciationBatchJob</value><!-- CSU 6702 END -->
			</list>
		</property>
		<property name="fiscalYearMakers">
          <list>
            <ref bean="assetObjectCodeFiscalYearMaker" />
          </list>
        </property>
		<property name="batchFileDirectories">
         	<list>
            	<value>${reports.directory}/cam</value>
            	<value>${staging.directory}/cm</value>
          	</list>
        </property>

	</bean>

    <bean id="camModuleService" parent="camModuleService-parentBean"/>

    <bean id="camModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="camModuleConfiguration" />
	</bean>

    <bean id="capitalAssetManagementModuleService"  parent="capitalAssetManagementModuleService-parentBean"/>
    <bean id="capitalAssetManagementModuleService-parentBean" class="org.kuali.kfs.module.cam.service.impl.CapitalAssetManagementModuleServiceImpl" abstract="true"/>

	<bean id="CamsConstants" class="org.kuali.rice.core.api.util.collect.ConstantsMap">
		<property name="constantClass" value="org.kuali.kfs.module.cam.CamsConstants" />
	</bean>

	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<entry key="CamsConstants" value-ref="CamsConstants" />
			</map>
		</property>
	</bean>


<!-- ********* Begin of depreciation batch beans ********** -->
	<bean id="assetDepreciationService"  parent="assetDepreciationService-parentBean"/>
	<bean id="assetDepreciationService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.AssetDepreciationServiceImpl" abstract="true">
	    <property name="cronExpression" value="0 * * ? * 5#3"/>
	    <property name="mailService" ref="mailService" />
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
        <property name="depreciableAssetsDao">
            <ref bean="depreciableAssetsDao" />
        </property>
        <property name="depreciationBatchDao">
            <ref bean="depreciationBatchDao" />
        </property>
        <property name="camsReportService">
            <ref bean="camsReportService" />
        </property>
		<property name="configurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="generalLedgerPendingEntryService">
			<ref bean="generalLedgerPendingEntryService" />
		</property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	    <property name="optionsService">
			<ref bean="optionsService" />
		</property>
		<property name="assetDateService">
			<ref bean="assetDateService" />
		</property>
		<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
		<property name="schedulerService">
			<ref bean="schedulerService" />
		</property>
    </bean>

	<bean id="depreciableAssetsDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.DepreciableAssetsDaoOjb">
		<property name="depreciationBatchDao">
			<ref bean="depreciationBatchDao" />
		</property>
	</bean>
	<bean id="depreciationBatchDao" parent="platformAwareDaoJdbc" class="org.kuali.kfs.module.cam.document.dataaccess.impl.DepreciationBatchDaoJdbc">
		<property name="universityDateDao">
			<ref bean="universityDateDao" />
		</property>
		<!-- CSU 6702 BEGIN -->
		<property name="parameterService">
            <ref bean="parameterService" />
        </property>
		<!-- CSU 6702 END -->
	</bean>

    <bean id="assetDepreciationStep" class="org.kuali.kfs.module.cam.batch.AssetDepreciationStep" parent="step">
		<property name="assetDepreciationService">
			 <ref bean="assetDepreciationService" />
		</property>
	</bean>

	<!-- CSU 6702 BEGIN -->
    <bean id="assetYearEndDepreciationStep" class="org.kuali.kfs.module.cam.batch.AssetYearEndDepreciationStep" parent="step">
        <property name="assetDepreciationService">
            <ref bean="assetDepreciationService"/>
        </property>
    </bean>
    <!-- CSU 6702 END -->

	<bean id="assetDepreciationBatchJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="assetDepreciationStep"/>
			</list>
		</property>
	</bean>

	<!-- CSU 6702 BEGIN -->
	<bean id="assetYearEndDepreciationBatchJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="assetYearEndDepreciationStep"/>
            </list>
        </property>
    </bean>
    <!-- CSU 6702 END -->


<!-- *********  End of depreciation batch beans ********** -->

<!-- ********* Begin of report service beans ********** -->
	<bean id="camsReportService"  parent="camsReportService-parentBean"/>
	<bean id="camsReportService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.ReportServiceImpl" abstract="true"></bean>
<!-- ********* end of report service beans ********** -->

	<bean id="assetStatusLookupableHelperService" scope="prototype" parent="assetStatusLookupableHelperService-parentBean"/>
    <bean id="assetStatusLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetStatusLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
    </bean>

    <bean id="assetStatusLookupable" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetStatusLookupableHelperService" />
        </property>
    </bean>


	<bean id="assetLookupableHelperService" scope="prototype" parent="assetLookupableHelperService-parentBean"/>
    <bean id="assetLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
    	<property name="assetService" ref="assetService"/>
    </bean>

    <bean id="assetLookupable" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetLookupableHelperService" />
        </property>
    </bean>

    <bean id="assetPaymentLookupableHelperService" scope="prototype" parent="assetPaymentLookupableHelperService-parentBean"/>
    <bean id="assetPaymentLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetPaymentLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
      	<property name="businessObjectService">
            <ref bean="businessObjectService" />
      	</property>
      	<property name="assetService">
            <ref bean="assetService" />
      	</property>
    </bean>

    <bean id="assetPaymentLookupable"  parent="assetPaymentLookupable-parentBean" scope="prototype"/>
    <bean id="assetPaymentLookupable-parentBean" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" abstract="true">
        <property name="lookupableHelperService">
            <ref bean="assetPaymentLookupableHelperService" />
        </property>
    </bean>


    <bean id="assetRetirementReasonLookupableHelperService" scope="prototype" parent="assetRetirementReasonLookupableHelperService-parentBean" />
    <bean id="assetRetirementReasonLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetRetirementReasonLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" />
	<bean id="assetRetirementReasonLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="assetRetirementReasonLookupableHelperService" />
		</property>
	</bean>

	<bean id="assetPaymentAllocationTypeLookupableHelperService" scope="prototype" parent="assetPaymentAllocationTypeLookupableHelperService-parentBean" />
    <bean id="assetPaymentAllocationTypeLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetPaymentAllocationTypeLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" />
	<bean id="assetPaymentAllocationTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="assetPaymentAllocationTypeLookupableHelperService" />
		</property>
	</bean>

	<bean id="assetAcquisitionTypeLookupableHelperService" scope="prototype" parent="assetAcquisitionTypeLookupableHelperService-parentBean" />
    <bean id="assetAcquisitionTypeLookupableHelperService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.businessobject.lookup.AssetAcquisitionTypeLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" />
	<bean id="assetAcquisitionTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="assetAcquisitionTypeLookupableHelperService" />
		</property>
	</bean>

    <bean id="paymentSummaryService"  parent="paymentSummaryService-parentBean"/>
    <bean id="paymentSummaryService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.PaymentSummaryServiceImpl" abstract="true">
    	<property name="universityDateService" ref="universityDateService"/>
    	<property name="parameterService" ref="parameterService"/>
    </bean>

    <bean id="assetAcquisitionTypeService"  parent="assetAcquisitionTypeService-parentBean"/>
    <bean id="assetAcquisitionTypeService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetAcquisitionTypeServiceImpl" abstract="true">
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

    <bean id="assetComponentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetComponentDaoOjb"/>

    <bean id="assetComponentService"  parent="assetComponentService-parentBean"/>
    <bean id="assetComponentService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetComponentServiceImpl" abstract="true">
    	<property name="assetComponentDao" ref="assetComponentDao"/>
    </bean>

    <bean id="retirementInfoService"  parent="retirementInfoService-parentBean"/>
    <bean id="retirementInfoService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.RetirementInfoServiceImpl"  abstract="true">
    	<property name="parameterService" ref="parameterService"/>
    	<property name="assetService" ref="assetService"/>
    </bean>

    <bean id="assetDateService"  parent="assetDateService-parentBean"/>
    <bean id="assetDateService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetDateServiceImpl" abstract="true">
    	<property name="assetService" ref="assetService"></property>
    	<property name="universityDateService" ref="universityDateService"/>
    	<property name="dateTimeService" ref="dateTimeService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

    <bean id="assetLocationService"  parent="assetLocationService-parentBean"/>
    <bean id="assetLocationService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetLocationServiceImpl" abstract="true">
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="dataDictionaryService" ref="dataDictionaryService" />
    </bean>

    <bean id="assetPaymentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetPaymentDaoOjb"/>

    <bean id="assetPaymentService" parent="assetPaymentService-parentBean"/>
    <bean id="assetPaymentService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetPaymentServiceImpl" abstract="true">
    	<property name="assetPaymentDao" ref="assetPaymentDao" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="objectCodeService" 	   ref="objectCodeService" />
    	<property name="assetService" ref="assetService" />
    </bean>

     <bean id="assetService"  parent="assetService-parentBean"/>
     <bean id="assetService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetServiceImpl"  abstract="true">
    	<property name="parameterService" ref="parameterService" />
    	<property name="paymentSummaryService" ref="paymentSummaryService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

    <bean id="assetTransferService"  parent="assetTransferService-parentBean"/>
    <bean id="assetTransferService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetTransferServiceImpl"  abstract="true">
    	<property name="assetService" ref="assetService" />
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="assetObjectCodeService" ref="assetObjectCodeService" />
    	<property name="dateTimeService" ref="dateTimeService" />
      <property name="assetLocationService" ref="assetLocationService" />
    </bean>

    <bean id="assetRetirementService"  parent="assetRetirementService-parentBean"/>
    <bean id="assetRetirementService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetRetirementServiceImpl" abstract="true">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="assetService" ref="assetService" />
	<property name="objectCodeService" ref="objectCodeService" />
	<property name="organizationService" ref="organizationService" />
    </bean>

    <bean id="assetObjectCodeService"  parent="assetObjectCodeService-parentBean"/>
    <bean id="assetObjectCodeService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetObjectCodeServiceImpl" abstract="true">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

    <bean id="equipmentLoanOrReturnService" parent="equipmentLoanOrReturnService-parentBean" />
    <bean id="equipmentLoanOrReturnService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.document.service.impl.EquipmentLoanOrReturnServiceImpl" >
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

<!-- Asset Bar Code inventory-->
	<bean id="assetBarcodeInventoryLoadService"  parent="assetBarcodeInventoryLoadService-parentBean"/>
	<bean id="assetBarcodeInventoryLoadService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryLoadServiceImpl" abstract="true">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="kualiRuleService">
			<ref bean="kualiRuleService" />
		</property>
		<property name="documentService">
			<ref bean="documentService" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="rice.kew.workflowDocumentService" />
		</property>
	  	<property name="parameterService" ref="parameterService" />
	  	<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="assetBarcodeInventoryInputFileType" parent="assetBarcodeInventoryInputFileType-parentBean"/>
	<bean id="assetBarcodeInventoryInputFileType-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.batch.AssetBarcodeInventoryInputFileType">
	    <property name="directoryPath">
	       <value>${staging.directory}/cm/barcode</value>
	    </property>
	</bean>

    <bean id="assetBarcodeInventoryInputFileService"  parent="assetBarcodeInventoryInputFileService-parentBean"/>
    <bean id="assetBarcodeInventoryInputFileService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryInputFileServiceImpl">
		<property name="configurationService" ref="kualiConfigurationService" />
	</bean>

<!-- END of Asset Bar Code inventory batch job -->


 	<bean id="assetGlobalService"  parent="assetGlobalService-parentBean"/>
 	<bean id="assetGlobalService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetGlobalServiceImpl" abstract="true">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="assetService" ref="assetService"/>
    	<property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="paymentSummaryService" ref="paymentSummaryService" />
    	<property name="dateTimeService" ref="dateTimeService" />
    	<property name="objectCodeService" ref="objectCodeService" />
    	<property name="offsetDefinitionService" ref="offsetDefinitionService" />
    </bean>

	<import resource="document/validation/configuration/CamsValidatorDefinitions.xml" />
	<import resource="document/validation/configuration/AssetPaymentValidation.xml" />

<!-- End of Asset Bar Code inventory batch job -->


	<bean id="assetDerivedRoleTypeService" parent="assetDerivedRoleTypeService-parentBean"/>
	<bean id="assetDerivedRoleTypeService-parentBean" class="org.kuali.kfs.module.cam.identity.AssetDerivedRoleTypeServiceImpl" abstract="true"/>

	<bean id="assetObjectCodeFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.cam.businessobject.AssetObjectCode" />
	</bean>

	<!-- Start Asset Lock beans -->

    <bean id="capitalAssetLockDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.dataaccess.impl.CapitalAssetLockDaoOjb" />

    <bean id="assetLockService" parent="assetLockService-parentBean"/>
    <bean id="assetLockService-parentBean" abstract="true"  class="org.kuali.kfs.module.cam.service.impl.AssetLockServiceImpl">
    	<property name="capitalAssetLockDao" ref="capitalAssetLockDao" />
    </bean>
    <!-- End Asset Lock beans -->
    <import resource="spring-cam-bus-exports.xml"/>
</beans>
