<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2005-2007 The Kuali Foundation.
 
 Licensed under the Educational Community License, Version 1.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
 http://www.opensource.org/licenses/ecl1.php
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="camModuleConfiguration" parent="camModuleConfiguration-parentBean" />

    <bean id="camModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
    	<property name="namespaceCode" value="KFS-CAM" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.cam</value>
                <value>org.kuali.kfs.integration.cam</value>
            </list>
        </property>
        <property name="externalizableBusinessObjectImplementations">
            <map>
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAsset" value="org.kuali.kfs.module.cam.businessobject.Asset" />
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAssetType" value="org.kuali.kfs.module.cam.businessobject.AssetType" />
            </map>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/module/cam/businessobject/datadictionary</value>
                <value>org/kuali/kfs/module/cam/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/module/cam/ojb-cam.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>assetDepreciationBatchJob</value>
			</list>
		</property>
		<property name="fiscalYearMakers">
          <list>
            <ref bean="assetObjectCodeFiscalYearMaker" />
          </list>	
        </property>
		<!-- Asset Depreciation batch - START -->				
		<property name="triggerNames">
			<list>
				<value>assetDepreciationBatchJobTrigger</value>
			</list>
		</property>
		<!-- Asset Depreciation batch - END -->								
	</bean>

    <bean id="camModuleService" parent="camModuleService-parentBean"/>

    <bean id="camModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
		<property name="moduleConfiguration" ref="camModuleConfiguration" />
	</bean>

<!-- ********* Begin of depreciation batch beans ********** -->
	<bean id="assetDepreciationService" class="org.kuali.kfs.module.cam.batch.service.impl.AssetDepreciationServiceImpl">											       
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
        <property name="depreciableAssetsDao">
            <ref bean="depreciableAssetsDao" />
        </property>
        <property name="camsReportService">
            <ref bean="camsReportService" />
        </property>        
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>                
		<property name="generalLedgerPendingEntryService">
			<ref bean="generalLedgerPendingEntryService" />
		</property>                		
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
		<property name="universityDateDao">
			<ref bean="universityDateDao" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="workflowDocumentService" />
		</property>
		<property name="homeOriginationService">
			<ref bean="homeOriginationService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>		
    </bean>

	<bean id="depreciableAssetsDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.DepreciableAssetsDaoOjb">
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
        <property name="parameterService">
            <ref bean="parameterService" />
        </property>
		<property name="dateTimeService">
			<ref bean="dateTimeService" />
		</property>
        <property name="optionsService">
            <ref bean="optionsService" />
        </property>
     	<property name="businessObjectService">
            <ref bean="businessObjectService" />
      	</property>
		                				                		
	</bean>	

    <bean id="assetDepreciationStep" class="org.kuali.kfs.module.cam.batch.AssetDepreciationStep" parent="step">
		<property name="assetDepreciationService">
			 <ref bean="assetDepreciationService" />
		</property>
	</bean>

	<bean id="assetDepreciationBatchJob" parent="scheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="assetDepreciationStep"/>
			</list>
		</property>
	</bean>

	<bean id="assetDepreciationBatchJobTrigger" parent="cronTrigger">
		<property name="jobName" value="assetDepreciationBatchJob" />
		<!--  it will run on the 3rd=3 thursday=5 of the month-->
		<property name="cronExpression" value="00 00 00 ? * 5#3" />
	</bean>


<!-- *********  End of depreciation batch beans ********** -->

<!-- ********* Begin of report service beans ********** -->
	<bean id="camsReportService" class="org.kuali.kfs.module.cam.batch.service.impl.ReportServiceImpl"></bean>
<!-- ********* end of report service beans ********** -->


    <bean id="assetLookupableHelperService" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
    	<property name="assetService" ref="assetService"/>    
    </bean>
       
    <bean id="assetLookupable" parent="kualiLookupable">
        <property name="lookupableHelperService">
            <ref bean="assetLookupableHelperService" />
        </property>
    </bean>
    
    <bean id="assetPaymentLookupableHelperService" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetPaymentLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService">
      	<property name="businessObjectService">
            <ref bean="businessObjectService" />
      	</property>
      	<property name="assetService">
            <ref bean="assetService" />
      	</property>
    </bean>

    <bean id="assetPaymentLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetPaymentLookupableHelperService" />
        </property>
    </bean> 

    
    <bean id="assetRetirementReasonLookupableHelperService" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetRetirementReasonLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" />
	<bean id="assetRetirementReasonLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="assetRetirementReasonLookupableHelperService" />
		</property>
	</bean>

    <bean id="assetAcquisitionTypeLookupableHelperService" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetAcquisitionTypeLookupableHelperServiceImpl" scope="prototype" parent="lookupableHelperService" />
	<bean id="assetAcquisitionTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="assetAcquisitionTypeLookupableHelperService" />
		</property>
	</bean>
    
    <bean id="paymentSummaryService" class="org.kuali.kfs.module.cam.document.service.impl.PaymentSummaryServiceImpl">
    	<property name="universityDateService" ref="universityDateService"/>
    	<property name="parameterService" ref="parameterService"/>
    </bean>

    <bean id="assetAcquisitionTypeService" class="org.kuali.kfs.module.cam.document.service.impl.AssetAcquisitionTypeServiceImpl">
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>  
    
    <bean id="assetComponentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetComponentDaoOjb"/>
    
    <bean id="assetComponentService" class="org.kuali.kfs.module.cam.document.service.impl.AssetComponentServiceImpl">
    	<property name="assetComponentDao" ref="assetComponentDao"/>
    </bean>    
    
    <bean id="retirementInfoService" class="org.kuali.kfs.module.cam.document.service.impl.RetirementInfoServiceImpl" >
    	<property name="parameterService" ref="parameterService"/>
    	<property name="assetService" ref="assetService"/>
    </bean>  
    
    <bean id="assetDateService" class="org.kuali.kfs.module.cam.document.service.impl.AssetDateServiceImpl">
    	<property name="assetService" ref="assetService"></property>
    	<property name="universityDateService" ref="universityDateService"/>
    </bean>
    
    <bean id="assetLocationService" class="org.kuali.kfs.module.cam.document.service.impl.AssetLocationServiceImpl">
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>
    
    <bean id="assetPaymentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetPaymentDaoOjb"/>
    
    <bean id="assetPaymentService" class="org.kuali.kfs.module.cam.document.service.impl.AssetPaymentServiceImpl">    
    	<property name="assetPaymentDao" ref="assetPaymentDao" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />    	
    	<property name="objectCodeService" 	   ref="objectCodeService" />
    	<property name="assetService" ref="assetService" />    	
    </bean>
     
     <bean id="assetService" class="org.kuali.kfs.module.cam.document.service.impl.AssetServiceImpl" >
    	<property name="parameterService" ref="parameterService" />
    	<property name="documentLockingService" ref="documentLockingService" />
    	<property name="paymentSummaryService" ref="paymentSummaryService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>
    
    <bean id="assetTransferService" class="org.kuali.kfs.module.cam.document.service.impl.AssetTransferServiceImpl" >
    	<property name="assetService" ref="assetService" />
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="assetObjectCodeService" ref="assetObjectCodeService" />
    </bean>
    
    <bean id="assetRetirementService" class="org.kuali.kfs.module.cam.document.service.impl.AssetRetirementServiceImpl">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="parameterService" ref="parameterService" />
    	<property name="assetService" ref="assetService" />
    </bean>

	 <bean id="documentLockingService" class="org.kuali.kfs.module.cam.document.service.impl.DocumentLockingServiceImpl">
    	<property name="maintenanceDocumentDao"><ref bean="maintenanceDocumentDao" /></property>
    </bean>    

    <bean id="assetObjectCodeService" class="org.kuali.kfs.module.cam.document.service.impl.AssetObjectCodeServiceImpl">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>

    <bean id="equipmentLoanOrReturnService" class="org.kuali.kfs.module.cam.document.service.impl.EquipmentLoanOrReturnServiceImpl" >
    	<property name="businessObjectService" ref="businessObjectService" />
    </bean>
    
<!-- Asset Bar Code inventory-->
	<bean id="assetBarcodeInventoryLoadService" class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryLoadServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
		<property name="dataDictionaryService">
			<ref bean="dataDictionaryService" />
		</property>		
		<property name="kualiRuleService">
			<ref bean="kualiRuleService" />
		</property>
		<property name="documentService">
			<ref bean="documentService" />
		</property>
		<property name="workflowDocumentService">
			<ref bean="workflowDocumentService" />
		</property>
	  	<property name="parameterService" ref="parameterService" />							
	  	<property name="dateTimeService" ref="dateTimeService" />
	</bean>

	<bean id="assetBarcodeInventoryInputFileType" class="org.kuali.kfs.module.cam.batch.AssetBarcodeInventoryInputFileType"> 
	    <property name="directoryPath">
	       <value>${staging.directory}/cm/barcode</value>
	    </property>
	</bean>

    <bean id="assetBarcodeInventoryInputFileService" class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryInputFileServiceImpl">
		<property name="kualiConfigurationService" ref="kualiConfigurationService" />
	</bean>
	
<!-- END of Asset Bar Code inventory batch job -->
	
	<bean id="assetGlobalService" class="org.kuali.kfs.module.cam.document.service.impl.AssetGlobalServiceImpl">
    	<property name="universityDateService" ref="universityDateService" />
    	<property name="assetService" ref="assetService"/>
    	<property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
    	<property name="businessObjectService" ref="businessObjectService" />
    	<property name="assetPaymentService" ref="assetPaymentService" />
    	<property name="parameterService" ref="parameterService" />
    </bean>
    
	<import resource="document/validation/configuration/CamsValidatorDefinitions.xml" />
	<import resource="document/validation/configuration/AssetPaymentValidation.xml" />
	
<!-- End of Asset Bar Code inventory batch job -->


<!--  TODO Delete this service once KFSMI-1869 jira has been completed  KULCAP-782 and KFSMI????-->
	<bean id="assetSegmentedLookupResultsService" class="org.kuali.kfs.module.cam.document.service.impl.AssetSegmentedLookupResultsServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
        <property name="dateTimeService">
            <ref bean="dateTimeService"/>
        </property>
	</bean>
	
	<bean id="assetDerivedRoleTypeService" class="org.kuali.kfs.module.cam.identity.AssetDerivedRoleTypeServiceImpl"/>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
	    <bean parent="kfsService"
	      p:service-ref="assetDerivedRoleTypeService"
	      p:localServiceName="assetDerivedRoleTypeService" />
	  </property>
	</bean>
	
	<bean id="assetObjectCodeFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.module.cam.businessobject.AssetObjectCode" /> 
	</bean>	

</beans>
