<?xml version="1.0" encoding="UTF-8"?>
<!--
		Copyright 2005-2007 The Kuali Foundation. Licensed under the
		Educational Community License, Version 1.0 (the "License"); you may
		not use this file except in compliance with the License. You may
		obtain a copy of the License at
 
		http://www.opensource.org/licenses/ecl1.php Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="coaModuleConfiguration" parent="coaModuleConfiguration-parentBean" />
	
	<bean id="coaModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration"
		abstract="true">
    	<property name="namespaceCode" value="KFS-COA" />
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.coa</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>org/kuali/kfs/coa/businessobject/datadictionary</value>
                <value>org/kuali/kfs/coa/document/datadictionary</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>org/kuali/kfs/coa/ojb-coa.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>org/kuali/kfs/coa/dwr-coa.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>populatePriorYearDataJob</value>
			</list>
		</property>
        <property name="fiscalYearMakers">
          <list>
            <ref bean="organizationReversionFiscalYearMaker" />
            <ref bean="organizationReversionDetailFiscalYearMaker" />
            <ref bean="subObjectCodeFiscalYearMaker" />
            <ref bean="objectCodeFiscalYearMaker" />
            <ref bean="offsetDefinitionFiscalYearMaker" />
            <ref bean="accountingPeriodFiscalYearMaker" />
            <ref bean="indirectCostRecoveryRateDetailFiscalYearMaker" />
            <ref bean="indirectCostRecoveryRateFiscalYearMaker" />
          </list>	
        </property>  
	</bean>

    <bean id="coaModuleService" parent="coaModuleService-parentBean"/>

	<bean id="coaModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl"
		abstract="true">
    	<property name="moduleConfiguration" ref="coaModuleConfiguration"/>
    </bean>

	<bean id="accountService" class="org.kuali.kfs.coa.service.impl.AccountServiceImpl">
		<property name="accountDao">
			<ref bean="accountDao" />
		</property>
	</bean>

	<bean id="projectCodeService" class="org.kuali.kfs.coa.service.impl.ProjectCodeServiceImpl">
		<property name="projectCodeDao">
			<ref bean="projectCodeDao" />
		</property>
	</bean>

	<bean id="subAccountService" class="org.kuali.kfs.coa.service.impl.SubAccountServiceImpl">
		<property name="subAccountDao">
			<ref bean="subAccountDao" />
		</property>
	</bean>

	<bean id="subObjectCodeService" class="org.kuali.kfs.coa.service.impl.SubObjectCodeServiceImpl">
		<property name="subObjectCodeDao">
			<ref bean="subObjectCodeDao" />
		</property>
		<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
	</bean>

	<bean id="objectCodeService" class="org.kuali.kfs.coa.service.impl.ObjectCodeServiceImpl">
		<property name="objectCodeDao">
			<ref bean="objectCodeDao" />
		</property>
		<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
	</bean>

	<bean id="objectLevelService" class="org.kuali.kfs.coa.service.impl.ObjectLevelServiceImpl">
		<property name="objectLevelDao">
			<ref bean="objectLevelDao" />
		</property>
	</bean>

	<bean id="objectConsService" class="org.kuali.kfs.coa.service.impl.ObjectConsServiceImpl">
		<property name="objectConsDao">
			<ref bean="objectConsDao" />
		</property>
	</bean>

	<bean id="chartService" class="org.kuali.kfs.coa.service.impl.ChartServiceImpl">
		<property name="chartDao">
			<ref bean="chartDao" />
		</property>
		<property name="roleManagementService">
			<ref bean="kimRoleManagementService" />
		</property>
		<property name="personService">
			<ref bean="personService" />
		</property>
	</bean>

	<bean id="organizationService" class="org.kuali.kfs.coa.service.impl.OrganizationServiceImpl">
		<property name="organizationDao">
			<ref bean="organizationDao" />
		</property>
        <property name="parameterService" ref="parameterService" />
        <property name="chartService" ref="chartService" />
        <property name="businessObjectService" ref="businessObjectService" />
	</bean>

	<bean id="priorYearAccountService"
		class="org.kuali.kfs.coa.service.impl.PriorYearAccountServiceImpl">
		<property name="priorYearAccountDao">
			<ref bean="priorYearAccountDao" />
		</property>
		<property name="priorYearAccountDaoJdbc">
			<ref bean="priorYearAccountDaoJdbc" />
		</property>
	</bean>

	<bean id="priorYearOrganizationService"
		class="org.kuali.kfs.coa.service.impl.PriorYearOrganizationServiceImpl">
		<property name="priorYearOrganizationDao">
			<ref bean="priorYearOrganizationDao" />
		</property>
	</bean>

	<bean id="offsetDefinitionService"
		class="org.kuali.kfs.coa.service.impl.OffsetDefinitionServiceImpl">
		<property name="offsetDefinitionDao">
			<ref bean="offsetDefinitionDao" />
		</property>
	</bean>

	<bean id="balanceTypService" class="org.kuali.kfs.coa.service.impl.BalanceTypeServiceImpl">
		<property name="kualiCodeService">
			<ref bean="kualiCodeService" />
		</property>
		<property name="balanceTypeDao">
			<ref bean="balanceTypeDao" />
		</property>
		<property name="optionsDao">
            <ref bean="optionsDao" />
        </property>
        <property name="universityDateService">
            <ref bean="universityDateService" />
        </property>
	</bean>

	<bean id="accountingPeriodService"
		class="org.kuali.kfs.coa.service.impl.AccountingPeriodServiceImpl">
		<property name="businessObjectService">
			<ref bean="businessObjectService" />
		</property>
	</bean>

	<bean id="subFundGroupService" class="org.kuali.kfs.coa.service.impl.SubFundGroupServiceImpl">
		<property name="parameterService" ref="parameterService" />
		<property name="dataDictionaryService" ref="dataDictionaryService" />
		<property name="subFundGroupDao" ref="subFundGroupDao" />
	</bean>

	<bean id="objectTypeService" class="org.kuali.kfs.coa.service.impl.ObjectTypeServiceImpl">
		<property name="objectTypeDao">
			<ref bean="objectTypeDao" />
		</property>
        <property name="optionsDao">
            <ref bean="optionsDao" />
        </property>
        <property name="universityDateService">
            <ref bean="universityDateService" />
        </property>
	</bean>

	<bean id="a21SubAccountService" class="org.kuali.kfs.coa.service.impl.A21SubAccountServiceImpl">
		<property name="a21SubAccountDao">
			<ref bean="a21SubAccountDao" />
		</property>
        <property name="accountService">
            <ref bean="accountService" />
        </property>
	</bean>

	<bean id="organizationReversionService"
		class="org.kuali.kfs.coa.service.impl.OrganizationReversionServiceImpl">
		<property name="organizationReversionDao">
			<ref bean="organizationReversionDao" />
		</property>
		<property name="businessObjectService" ref="businessObjectService" />
	</bean>

	<bean id="accountDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.AccountDaoOjb">
		<property name="dateTimeService">
			<ref bean="dateTimeService"/>
		</property>
	</bean>

	<bean id="chartDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ChartDaoOjb">
		<property name="parameterService" ref="parameterService" />
	</bean>

	<bean id="organizationDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.OrganizationDaoOjb" />

	<bean id="offsetDefinitionDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.OffsetDefinitionDaoOjb" />

	<bean id="objectCodeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ObjectCodeDaoOjb" />

	<bean id="projectCodeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ProjectCodeDaoOjb" />

	<bean id="objectLevelDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ObjectLevelDaoOjb" />

	<bean id="objectConsDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ObjectConsDaoOjb" />

	<bean id="subAccountDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.SubAccountDaoOjb" />

	<bean id="subObjectCodeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.SubObjectCodeDaoOjb" />

	<bean id="organizationReversionDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.OrganizationReversionDaoOjb" />

	<bean id="balanceTypeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.BalanceTypeDaoOjb" />

	<bean id="priorYearAccountDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.PriorYearAccountDaoOjb" />

	<bean id="priorYearAccountDaoJdbc" parent="platformAwareDaoJdbc"
		class="org.kuali.kfs.coa.dataaccess.impl.PriorYearAccountDaoJdbc" />

	<bean id="priorYearOrganizationDao" parent="platformAwareDaoJdbc"
		class="org.kuali.kfs.coa.dataaccess.impl.PriorYearOrganizationDaoJdbc" />

	<bean id="subFundGroupDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.SubFundGroupDaoOjb" />

	<bean id="objectTypeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.ObjectTypeDaoOjb" />

	<bean id="indirectCostRecoveryRateDetailDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.IndirectCostRecoveryRateDetailDaoOjb" />

	<bean id="indirectCostRecoveryExclusionAccountDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.IndirectCostRecoveryExclusionAccountDaoOjb" />

	<bean id="indirectCostRecoveryExclusionTypeDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.IndirectCostRecoveryExclusionTypeDaoOjb" />

	<bean id="a21SubAccountDao" parent="platformAwareDao"
		class="org.kuali.kfs.coa.dataaccess.impl.A21SubAccountDaoOjb" />
	
	<bean id="accountLookupableHelperService"
		class="org.kuali.kfs.coa.businessobject.lookup.KualiAccountLookupableHelperServiceImpl"
		scope="prototype" parent="lookupableHelperService" />

	<bean id="accountLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl"
		scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="accountLookupableHelperService" />
		</property>
	</bean>

	<bean id="organizationRoutingModelLookupableHelperService"
		class="org.kuali.kfs.coa.businessobject.lookup.OrganizationRoutingModelNameLookupableHelperServiceImpl"
		scope="prototype" parent="lookupableHelperService" />

	<bean id="organizationRoutingModelLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl"
		scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="organizationRoutingModelLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="indirectCostRecoveryExclusionByTypeLookupableHelperService"
		class="org.kuali.kfs.coa.businessobject.lookup.IndirectCostRecoveryExclusionTypeLookupableHelperServiceImpl"
		scope="prototype" parent="lookupableHelperService" />

	<bean id="indirectCostRecoveryExclusionByTypeLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl"
		scope="prototype">
		<property name="lookupableHelperService">
			<ref bean="indirectCostRecoveryExclusionByTypeLookupableHelperService" />
		</property>
	</bean>
	
	<bean id="updatePriorYearDataStep" class="org.kuali.kfs.coa.batch.UpdatePriorYearDataStep" parent="step">
		<property name="priorYearOrganizationService">
			<ref bean="priorYearOrganizationService" />
		</property>
		<property name="priorYearAccountService">
			<ref bean="priorYearAccountService" />
		</property>
	</bean>
	
	<bean id="populatePriorYearDataJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="updatePriorYearDataStep" />
			</list>
		</property>
	</bean>

	<bean name="subAccountTrickleDownInactivationService"
		class="org.kuali.kfs.coa.service.impl.SubAccountTrickleDownInactivationServiceImpl">
		<property name="maintenanceDocumentDictionaryService">
			<ref bean="maintenanceDocumentDictionaryService" />
		</property>
		<property name="maintenanceDocumentDao">
			<ref bean="maintenanceDocumentDao" />
		</property>
		<property name="noteService">
			<ref bean="noteService" />
		</property>
		<property name="kualiConfigurationService">
			<ref bean="kualiConfigurationService" />
		</property>
		<property name="documentHeaderService">
			<ref bean="documentHeaderService" />
		</property>
    </bean>
    
	<bean name="subObjectTrickleDownInactivationService"
		class="org.kuali.kfs.coa.service.impl.SubObjectTrickleDownInactivationServiceImpl">
    	<property name="businessObjectService">
    		<ref bean="businessObjectService"/>
    	</property>
    	<property name="maintenanceDocumentDictionaryService">
    		<ref bean="maintenanceDocumentDictionaryService"/>
    	</property>
    	<property name="maintenanceDocumentDao">
    		<ref bean="maintenanceDocumentDao"/>
    	</property>
    	<property name="noteService">
    		<ref bean="noteService"/>
    	</property>
    	<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
		<property name="documentHeaderService">
			<ref bean="documentHeaderService" />
		</property>
    	<property name="kualiConfigurationService">
    		<ref bean="kualiConfigurationService"/>
    	</property>
    </bean>
    
    <bean name="organizationReversionDetailTrickleDownInactivationService"
		class="org.kuali.kfs.coa.service.impl.OrganizationReversionDetailTrickleDownInactivationServiceImpl">
    	<property name="businessObjectService">
    		<ref bean="businessObjectService"/>
    	</property>
    	<property name="noteService">
    		<ref bean="noteService"/>
    	</property>
		<property name="documentHeaderService">
			<ref bean="documentHeaderService" />
		</property>
    	<property name="kualiConfigurationService">
    		<ref bean="kualiConfigurationService"/>
    	</property>
    </bean>
    
	<bean
		name="indirectCostRecoveryRateDetailInactivationBlockingDetectionService"
		class="org.kuali.kfs.coa.service.impl.IndirectCostRecoveryRateDetailInactivationBlockingDetectionServiceImpl">
    	<property name="persistenceStructureService">
            <ref bean="persistenceStructureService" />
        </property>
        <property name="businessObjectService">
    		<ref bean="businessObjectService"/>
    	</property>
    	<property name="businessObjectMetaDataService">
    		<ref bean="businessObjectMetaDataService"/>
    	</property>
    	<property name="persistenceService">
            <ref bean="persistenceService" />
        </property>
    </bean>
    
	<bean name="objectCodeCurrentInactivationBlockingDetectionService"
		class="org.kuali.kfs.coa.service.impl.ObjectCodeCurrentInactivationBlockingDetectionServiceImpl">
    	<property name="persistenceStructureService">
            <ref bean="persistenceStructureService" />
        </property>
        <property name="businessObjectService">
    		<ref bean="businessObjectService"/>
    	</property>
    	<property name="businessObjectMetaDataService">
    		<ref bean="businessObjectMetaDataService"/>
    	</property>
    	<property name="universityDateService">
			<ref bean="universityDateService" />
		</property>
    </bean>
    
    <bean name="offsetDefinitionInactivationBlockingDetectionService"
    	class="org.kuali.kfs.coa.service.impl.OffsetDefinitionInactivationBlockingDetectionServiceImpl">
    	<property name="persistenceStructureService">
            <ref bean="persistenceStructureService" />
        </property>
        <property name="businessObjectService">
    		<ref bean="businessObjectService"/>
    	</property>
    	<property name="businessObjectMetaDataService">
    		<ref bean="businessObjectMetaDataService"/>
    	</property>
    </bean>
	<bean name="chartRoleTypeService" class="org.kuali.kfs.coa.identity.ChartRoleTypeServiceImpl" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="chartRoleTypeService"
				p:localServiceName="chartRoleTypeService" />
		</property>
	</bean>

	<bean name="organizationRoleTypeService"
		class="org.kuali.kfs.coa.identity.OrganizationRoleTypeServiceImpl" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="organizationRoleTypeService"
				p:localServiceName="organizationRoleTypeService" />
		</property>
	</bean>
    
	<bean id="organizationHierarchyAwareRoleTypeService" abstract="true">
		<property name="chartService" ref="chartService" />
    	<property name="organizationService" ref="organizationService" />
    </bean>

	<bean id="organizationOptionalHierarchyQualifierRoleTypeService"
		class="org.kuali.kfs.coa.identity.OrganizationOptionalHierarchyRoleTypeServiceImpl"
		parent="organizationHierarchyAwareRoleTypeService" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="organizationOptionalHierarchyQualifierRoleTypeService"
				p:localServiceName="organizationOptionalHierarchyQualifierRoleTypeService" />
		</property>
	</bean>

	<bean id="organizationHierarchyReviewRoleTypeService"
		class="org.kuali.kfs.coa.identity.OrganizationHierarchyReviewRoleTypeServiceImpl"
		parent="organizationHierarchyAwareRoleTypeService" />
  <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
    <property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="organizationHierarchyReviewRoleTypeService"
				p:localServiceName="organizationHierarchyReviewRoleTypeService" />
    	</property>
    </bean>
    
	<bean id="accountingOrganizationHierarchyReviewRoleTypeService"
		class="org.kuali.kfs.coa.identity.AccountingOrganizationHierarchyReviewRoleTypeServiceImpl"
		parent="organizationHierarchyAwareRoleTypeService" />
  <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
    <property name="serviceDefinition">
      <bean parent="kfsService"
				p:service-ref="accountingOrganizationHierarchyReviewRoleTypeService"
				p:localServiceName="accountingOrganizationHierarchyReviewRoleTypeService" />
		</property>
    </bean>
	
    <bean id="accountRoleTypeService" class="org.kuali.kfs.coa.identity.AccountRoleTypeServiceImpl"/>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="accountRoleTypeService"
	      p:localServiceName="accountRoleTypeService" />
	  </property>
	</bean>
	
	<bean id="accountDerivedRoleTypeService"
		class="org.kuali.kfs.coa.identity.AccountDerivedRoleTypeServiceImpl">
		<property name="accountService">
			<ref bean="accountService" />
		</property>
	</bean>
    <bean class="org.kuali.rice.ksb.messaging.KSBExporter">
	  <property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="accountDerivedRoleTypeService"
	      p:localServiceName="accountDerivedRoleTypeService" />
	  </property>
	</bean>

	<bean id="subAccountReviewRoleTypeService"
		class="org.kuali.kfs.coa.identity.SubAccountReviewRoleTypeServiceImpl" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="subAccountReviewRoleTypeService"
				p:localServiceName="subAccountReviewRoleTypeService" />
		</property>
	</bean>

	<bean id="subFundReviewRoleTypeService"
		class="org.kuali.kfs.coa.identity.SubFundReviewRoleTypeServiceImpl" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="subFundReviewRoleTypeService"
				p:localServiceName="subFundReviewRoleTypeService" />
		</property>
	</bean>

	<bean id="chartDerivedRoleTypeService"
		class="org.kuali.kfs.coa.identity.ChartDerivedRoleTypeServiceImpl">
		<property name="organizationService">
			<ref bean="organizationService" />
		</property>
	</bean>
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="chartDerivedRoleTypeService"
				p:localServiceName="chartDerivedRoleTypeService" />
		</property>
	</bean>
    	
	<bean id="organizationGroupTypeService"
		class="org.kuali.kfs.coa.identity.OrganizationGroupTypeServiceImpl" />
	<bean class="org.kuali.rice.ksb.messaging.KSBExporter">
		<property name="serviceDefinition">
			<bean parent="kfsService" p:service-ref="organizationGroupTypeService"
				p:localServiceName="organizationGroupTypeService" />
		</property>
	</bean>

	<bean id="organizationReversionFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.OrganizationReversion" /> 
		<property name="fiscalYearOneBehind" value="true" />
	</bean>
	
	<bean id="organizationReversionDetailFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.OrganizationReversionDetail" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.ObjectCode</value>
		    <value>org.kuali.kfs.coa.businessobject.OrganizationReversion</value>
		  </set>
		</property>	
		<property name="fiscalYearOneBehind" value="true" />
	</bean>	
	
	<bean id="subObjectCodeFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.SubObjectCode" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.ObjectCode</value>
		  </set>
		</property>	
	</bean>	
	
	<bean id="objectCodeFiscalYearMaker" class="org.kuali.kfs.coa.batch.dataaccess.impl.ObjectCodeFiscalYearMakerImpl" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.ObjectCode" /> 
	</bean>		
	
	<bean id="offsetDefinitionFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.OffsetDefinition" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.ObjectCode</value>
		  </set>
		</property>	
	</bean>	
	
	<bean id="accountingPeriodFiscalYearMaker" class="org.kuali.kfs.coa.batch.dataaccess.impl.AccountingPeriodFiscalYearMakerImpl" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.AccountingPeriod" /> 
        <property name="twoYearCopy" value="true" />
	</bean>	
	
	<bean id="indirectCostRecoveryRateDetailFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.IndirectCostRecoveryRateDetail" /> 
		<property name="parentClasses">
		  <set>
		    <value>org.kuali.kfs.coa.businessobject.IndirectCostRecoveryRate</value>
		  </set>
		</property>	
	</bean>	
	
	<bean id="indirectCostRecoveryRateFiscalYearMaker" parent="FiscalYearMaker">
		<property name="businessObjectClass" value="org.kuali.kfs.coa.businessobject.IndirectCostRecoveryRate" /> 
	</bean>	
	
	<bean id="orgReviewRoleLookupable" class="org.kuali.rice.kns.lookup.KualiLookupableImpl" parent="kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <bean class="org.kuali.kfs.coa.identity.OrgReviewRoleLookupableHelperServiceImpl" parent="lookupableHelperService">
            </bean>
        </property>
    </bean>
    
    <bean id="accountDelegateService" class="org.kuali.kfs.coa.service.impl.AccountDelegateServiceImpl" />
	
	<bean id="chartLedgerReferenceValuePreparedStatementCachingDao" parent="preparedStatementCachingDao" class="org.kuali.kfs.coa.batch.dataaccess.impl.LedgerReferenceValuePreparedStatementCachingDaoJdbc" /> 
</beans>
