Dear $!{document.travelerDetail.firstName} $!{document.travelerDetail.lastName}: 

$!{document.taxableRamificationNotice}

ADVANCE NUMBER:  $!{document.arInvoiceDocNumber}
DUE DATE:        $!{document.dueDate}

ORIGINAL AMOUNT: $!{document.invoiceAmount}
AMOUNT DUE:      $!{document.openAmount}


If you have any questions please contact $!{campusTravelEmailAddress}.


           *** PLEASE DO NOT RESPOND TO THIS EMAIL ***
		   