Dear $!{travelerProfile.firstName} $!{travelerProfile.lastName}:

$!{notificationText}

#foreach( ${expense} in ${travelExpenses} )

IMPORT DATE:        $!{expense.importDate}
DESCRIPTION:        $!{expense.expenseType.name}
TRIP ID:            $!{expense.tripId}
CREDIT CARD AGENCY: $!{expense.creditCardAgency.creditCardOrAgencyName}
TRAVEL COMPANY:     $!{expense.travelCompany}
EXPENSE TYPE:       $!{expense.expenseType.name}
AMOUNT:             $!{expense.amount}

#end

           *** PLEASE DO NOT RESPOND TO THIS EMAIL ***