Dear $!{document.traveler.firstName} $!{document.traveler.lastName}: 

#set($beginDate = $DateTimeService.toDateString($!{document.tripBegin}))
#set($terDescritpion = "$!{document.purpose.purposeName}$!{document.reason.reloReasonName}$!{document.primaryDestinationName}")
#if (${notificationPreference} == "TA_ON_FINAL")      
	
Your Travel Authorization (Document # $!{document.documentNumber}) for $!{document.primaryDestinationName}, 
beginning $!{beginDate} has been approved. 

You may now proceed with making travel arrangements. 
	
#elseif (${notificationPreference} == "TA_ON_CHANGE")
	
Your Travel Authorization (Document # $!{document.documentNumber}) for $!{document.primaryDestinationName},     
beginning $!{beginDate} has changed status from $!{oldRouteStatus} to $!{newRouteStatus}.

#elseif (${notificationPreference} == "TER_ON_FINAL")
	
Your Expense Report (Document # $!{document.documentNumber}) for $!{terDescritpion},     
beginning $!{beginDate} has been approved.

#elseif (${notificationPreference} == "TER_ON_CHANGE")
	
Your Expense Report (Document # $!{document.documentNumber}) for $!{terDescritpion},     
beginning $!{beginDate} has change status from $!{oldRouteStatus} to $!{newRouteStatus}.

#end

If you have any questions please contact $!{campusTravelEmailAddress}.